#{if utils.SessionHelper.getCurrentUser(session) != null}
	#{extends 'main_templeate.html' /}
#{/if}
#{else}
	#{extends 'main_info.html' /}
#{/else}
 #{set title:'StartNewTeam' /}
<h1 class="about-h1">О проекте</h1>
<div class="about">
	<p>Наука и техника развиваются ускоряющимися темпами, мир стал
		настолько сложным, что один человек не способен охватить все его
		аспекты. Сложный мир требует сложных идей и для бизнесов, сочетающих в
		себе множество знаний и компетенций из разных областей. Создать и
		реализовать такие идеи способны только команды единомышленников,
		эффективно дополняющих друг друга. Предприниматель в современном мире,
		«Предприниматель 2.0» – это слаженная команда.</p>
	<p>
		<strong>StartNewTeam</strong> &ndash; уникальная интернет-платформа
		для развития предпринимательства в командном формате, позволяющая
		людям со всего мира находить единомышленников, объединяться в
		эффективные команды и воплощать в жизнь бизнес-идеи.
	</p>
	<p>
	<ul>
		<span>Механика StartNewTeam очень проста:</span>
		<li><strong>1)</strong> Определи свои предпринимательские
			способности, пройдя специальное тестирование.</li>
		<li><strong>2)</strong> Объединяйся в эффективные команды на
			основании результатов тестирования.</li>
		<li><strong>3)</strong> Добивайтесь успеха, используя возможности
			StartNewTeam для командой работы.</li>
	</ul>
	</p>
	<p>Проект открыт для всех – в нем может бесплатно участвовать любой
		желающий.</p>
</div>