#{extends 'main_info.html' /}
#{set title:'About Page' /}
<h1 class="about-h1">О проекте</h1>
<div class="about">
<!-- 	<h3>Идея проекта</h3> -->
	<p>Основная задача TeamPusher – это знакомство и объединение в команды стартаперов, желающих реализовать свои идеи.</p> 
	<p>Название проекта напрямую отражает это – Team означает команда, а pusher  – толкать, сподвигать. Таким образом, портал TeamPusher – это место, где каждый может перебороть себя, найти единомышленников и сдвинуться с места – начать реализовывать свой проект или присоединиться к проекту других членов сообщества.</p> 
</div>