<html>
	<body>
		<p>
            Здравствуйте, ${user.name}!<br/>
            <br/>
            Поздравляем вас с автоматическим распределением в команду: <a href="${notifiers.Mails.BASE_URL}@{GroupController.index(user.command.id)}">${user.command.name}</a>.<br/>
            <br/>
            <br/>
            Все свободные участники <a href="${notifiers.Mails.BASE_URL}">StartNewTeam</a> были автоматически распределены по командам.
            #{if user.role == models.User.ROLE_GROUP_ADMIN}, и вам выпала крайне ответственная роль быть администратором своей команды. Это означает, что вам необходимо брать инициативу на себя, совершая первые шаги в совместном знакомстве:#{/if}
            #{else} Теперь вам необходимо брать инициативу в свои руки:#{/else}
            <br/>
            <br/>
				1) Создайте тему внутри команды и в первом сообщении расскажите о себе.<br/>
				2) Попросить других участников вашей команды аналогично рассказать о них.<br/>
				3) После общего знакомства начните обсуждение, чем, на ваш взгляд, вы могли бы быть полезны друг другу и что способны сделать совместно.<br/>
				4) Как только найдете интересные варианты взаимодействия – переходите от слов к делу!
            <br/>
           В любой момент вы можете выйти из состава текущей команды, чтобы принять участие в следующем распределении, которые будут еженедельно производиться для свободных людей. Также вы можете отказаться от автоматического распределения по командам, выбрав соответствующую опцию в разделе <a href="${notifiers.Mails.BASE_URL}/settings">«Настройки»</a> на сайте.<br/>
            <br/>
            С пожеланиями бизнес-успехов,<br/>
            команда <a href="${notifiers.Mails.BASE_URL}">StartNewTeam</a>
		</p>
	</body>
</html>