<html>
	<body>
		<p>
            Здравствуйте, ${user.name}!<br/>
            <br/>
            Поздравляем вас с автоматическим распределением
            #{if user.role == models.User.ROLE_GROUP_ADMIN} и ролью администратора в команде#{/if}
            #{else} в команду #{/else}
            : <a href="${notifiers.Mails.BASE_URL}@{GroupController.index(user.command.id)}">${user.command.name}</a>.<br/>
            <br/>
            <br/>
            Все свободные участники <a href="${notifiers.Mails.BASE_URL}">StartNewTeam</a> были автоматически распределены по командам
            #{if user.role == models.User.ROLE_GROUP_ADMIN}, и вам выпала крайне ответственная роль быть администратором команды. Теперь #{/if}
            #{else} и теперь #{/else}
            вам необходимо:<br/>
            <br/>
            1)делай раз<br/>
            2)делай два<br/>
            3)делай три<br/>
            <br/>
            В любой момент вы можете выйти из состава текущей команды и принять участие в следующем распределении, которые будут периодически происходить для свободных людей. Также вы можете отказаться от автоматического распределения, выбрав соответствующую опцию в разделе «Настройки» на сайте.<br/>
            <br/>
            С пожеланием бизнес-успехов,<br/>
            команда <a href="${notifiers.Mails.BASE_URL}">StartNewTeam</a>
		</p>
	</body>
</html>