#{extends 'main_info.html' /}
#{set title:'Contacts Page' /}
<h1 class="about-h1">Контакты</h1>
<div class="contacts">
	<h3>Основные</h3>
    <div class="contacts-item">
    	+375 (29) 666 - 75 - 85<br>
        +375 (29) 666 - 75 - 85<br>
        <a href="mailto:admin@teampusher.com">admin@teampusher.com</a><br>
    </div>
    <h3>Партнерам</h3>
    <div class="contacts-item">
    	+375 (29) 666 - 75 - 85<br>
        <a href="mailto:partners@teampusher.com">partners@teampusher.com</a><br>
    </div>
    <h3>Наш офис</h3>
    <div class="contacts-item contacts-address">
    	г. Москва, ул. Восточная, д. 120, пом. 564
    </div>
    <div><img src="@{'public/images/boilerplate/tmp/pic26.jpg'}" alt=""></div>
</div>