#{extends 'main_templeate.html' /} #{set title: user.name + " " + user.lastName + " - Диалоги"/}
%{
	boolean currentAdminGroup = utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN;
	boolean otherUser = utils.SessionHelper.getCurrentUser(session)?.id != user?.id;
	boolean groupAdmin = (utils.SessionHelper.getCurrentUser(session)?.id == user?.id) && (utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN);
	boolean haveGroupOrInviteJoin = (utils.SessionHelper.getCurrentUser(session)?.command != null) || (utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null);
%}

<h1 class="dialogs-h1">&{'page.dialogs.title'}</h1>
<div class="dialogs">

#{list items:conversations, as:'msg'}
    %{ def msgUser = controllers.MessageController.getOtherCommunicant(user,msg); }%
    <div class="dialogs-item#{if !msg.isRead} unread#{/if}" data-id="${msgUser.id}">
        #{avatar.avatar user:msgUser, cssClass:'dialogs-item-pic', maleImg:'avam.png', femaleImg:'avaf.png', avatarSize:55 /}
        <div class="clearFix">
            <a href="@{UserController.index(msgUser.id)}">${msgUser.name} ${msgUser.lastName}</a>
            <span>${msg.time.getTime().format(request)}</span>
        </div>
        <p><a href="@{MessageController.talk(msgUser.id, 1, 0)}">
            #{if msg.from.id.equals(user.id)}${user.name} ${user.lastName}: #{/if}
            ${msg.text.limitTo(200).nl2br()}
        </a></p>
        <span class="dialogs-delete" data-id="${msgUser.id}"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.dialogs.delete'}</span></span>
    </div>
#{/list}

</div>


<script id="newtalk-tpl" type="text/x-handlebars-template">
    {{#each this}}
    <div class="dialogs-item unread" data-id="{{ from.id }}">
        {{#if from.hasAvatar}}
        <img src="${play.Play.configuration.getProperty("filestoreURL")}/avatars/{{ from.id }}/avatar_55.jpg" alt="" class="dialogs-item-pic">
        {{else}}
        <img src="/public/images/boilerplate/ava{{#if from.sex}}m{{else}}f{{/if}}.png" alt=""  class="dialogs-item-pic">
        {{/if}}

        <div class="clearFix">
            <a href="/{{ from.id }}">{{from.name}} {{from.lastName}}</a>
            <span>{{formatTime time}}</span>
        </div>
        <p><a href="/talks/{{ from.id }}">{{n2lbr (limitTo text 200)}}</a></p>
        <span class="dialogs-delete" data-id="{{ from.id }}"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.dialogs.delete'}</span></span>
    </div>
    {{/each}}
</script>

<script>
    $(document).ready(function(){
        var Templates = window.Templates || {};
        Templates.conversationMsgTpl = Handlebars.compile($("#newtalk-tpl").html());

        $(".dialogs-delete").click(function(){
            var talkUserId = $(this).attr('data-id');
            //var result = confirm("This will delete your whole conversation with the user [" + talkUserId + "] ?");
            alertify.confirm("&{'page.dialogs.delete.confirm'}", function (e) {
                if (e) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/talks?userId=${user.id}&otherId='+talkUserId,
                        success: function () {
                            $(".dialogs").find("[data-id='"+talkUserId+"']").remove();
                        }
                    });
                }
            });
        });

        var lastUpdateTime = ${conversations.size() > 0 ? conversations.get(0)?.time.getTime() : 0};
        //console.log('convLastTime = ' + lastUpdateTime);
        if(!lastUpdateTime) {
            lastUpdateTime = (new Date()).getTime();
            //console.log('lastTimeNow = ' + lastUpdateTime);
        }

        var fnDrawNewTalkMsg = function(data) {
            //alert("draw talk!");

            //filter new TALKS and update existent
            function isNew(element, index, array) {
                var talkUserId = element.from.id;
                return $(".dialogs").find("[data-id='"+talkUserId+"']").length == 0;
            }
            function isOld(element, index, array) {
                return !isNew(element,index,array);
            }
            var newData = data.filter(isNew);
            var existData = data.filter(isOld);

            // update existent talks
            $.each(existData, function(ind, el){
                //console.log("update existent: " + JSON.stringify(el));
                var item = $(".dialogs").find("[data-id='"+el.from.id+"']");
                item.find("p").find("a").html(Utils.nl2br(Utils.limitTo(el.text,200)));
                if(!item.hasClass("unread")) {
                    item.addClass("unread");
                }
            });

            $(".dialogs").prepend(Templates.conversationMsgTpl(newData));
        };

        Dynamics.Dialogs.startListen(${user.id}, null, lastUpdateTime, fnDrawNewTalkMsg);
    });

</script>

