#{extends 'main_templeate.html' /} #{set title: user.name + " " + user.lastName + " - Диалоги"/}
%{
	boolean currentAdminGroup = utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN;
	boolean otherUser = utils.SessionHelper.getCurrentUser(session)?.id != user?.id;
	boolean groupAdmin = (utils.SessionHelper.getCurrentUser(session)?.id == user?.id) && (utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN);
	boolean haveGroupOrInviteJoin = (utils.SessionHelper.getCurrentUser(session)?.command != null) || (utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null);
%}

<h1 class="dialogs-h1">&{'page.dialogs.title'}</h1>
<div class="dialog-head">
    <a href="@{MessageController.index(user.id)}" class="back"><span>&#8592;&nbsp;</span>&{'page.dialogs.list'}</a>
    <div class="clearFix">
        <div class="dialog-title">
            &{'page.dialogs.with'}
            <a href="@{MessageController.index(userToTalk.id)}">${userToTalk.name} ${userToTalk.lastName}</a>
            <span class="user-online"><span class="st-${userToTalk.onlineStatus}">&{'common.status.' + userToTalk.onlineStatus}</span></span>
        </div>
        <a href="#" class="dialog-delete" data-id="${userToTalk.id}">&{'page.dialogs.delete'}</a>
    </div>
</div>

<div class="dialog-wrap">
    <div class="dialog">
    #{list items:conversations, as:'msg'}
        <div class="dialog-item">

            <a href="@{UserController.index(msg.from.id)}">#{avatar.avatar user:msg.from, cssClass:'dialog-item-pic', maleImg:'ava_small_m.png', femaleImg:'ava_small_f.png', avatarSize:36 /}</a>
            <div class="clearFix">
                <a href="@{UserController.index(msg.from.id)}">${msg.from.name} ${msg.from.lastName}</a>
                <span>${msg.time.getTime().format(request)}</span>
            </div>

            <p>${msg.text.nl2br()}</p>
            <span class="dialogs-delete" data-id="${msg.id}"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.dialogs.delete.msg'}</span></span>
        </div>
    #{/list}

    </div>
</div>
<div class="dialog-form">
    <form id="send-msg-form" action="/talks" method="POST" onsubmit="return false;">
        <input type="hidden" name="fromId" value="${user.id}" />
        <input type="hidden" name="toId" value="${userToTalk.id}" />
        <input type="hidden" name="time" value="0" />
        <textarea name="msg" cols="" rows="4" placeholder="&{'page.dialogs.placeholder.send'}"></textarea>
        <button id="send-msg" class="dialog-form-btn" onsubmit="return false;">&{'page.dialogs.button.send'}</button>
    </form>
</div>

<!-- SCRIPTS -->

<script id="msg-tpl" type="text/x-handlebars-template">
{{#each this}}
    <div class="dialog-item">
        <a href="/{{ from.id }}">
            {{#if from.hasAvatar}}
                <img src="${play.Play.configuration.getProperty("filestoreURL")}/avatars/{{ from.id }}/avatar_36.jpg" alt="" class="dialog-item-pic">
            {{else}}
                <img src="/public/images/boilerplate/ava_small_{{#if from.sex}}m{{else}}f{{/if}}.png" alt=""  class="dialog-item-pic">
            {{/if}}
        </a>
        <div class="clearFix">
            <a href="/{{ from.id }}">{{from.name}} {{from.lastName}}</a>
            <span>{{formatTime time}}</span>
        </div>
        <p>{{nl2br text}}</p>
        <span class="dialogs-delete" data-id="{{ id }}"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.dialogs.delete.msg'}</span></span>
    </div>
    {{/each}}
</script>

<script>
    $(document).ready(function(){
        var Templates = window.Templates || {};
        Templates.talkMsgTpl = Handlebars.compile($("#msg-tpl").html());

        $(".dialog-delete").click(function(){
            var talkUserId = $(this).attr('data-id');
            alertify.confirm("&{'page.dialogs.delete.confirm'}", function (e) {
                if (e) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/talks?userId=${user.id}&otherId='+talkUserId,
                        success: function () {
                            window.location = "@{MessageController.index(user.id)}";
                        }
                    });
                }
            });
        });

        var removeMsg = function(){
            var $delLink = $(this);
            var msgId = $delLink.attr('data-id');

            alertify.confirm("&{'page.dialogs.delete.msg.confirm'}", function (e) {
                if (e) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/talks/messages/'+msgId,
                        success: function () {
                            $delLink.parents(".dialog-item").remove();
                        }
                    });
                }
            });
        };
        $(".dialogs-delete").bind("click", removeMsg);

        var $talksDiv = $(".dialog");

        Utils.scrollInit($talksDiv);

        var $form = $("#send-msg-form");
        var $msg = $form.find("textarea");
        var sendMsg = function(){
            var msg = $msg.val();

            if(msg){
                $.post("/talks", $form.serialize(), function(data){
                    var userMsg = [{
                        "id": data.id,
                        "text": msg,
                        "time": new Date().getTime(),
                        "from": {
                            "id": ${user.id},
                            "name": "${user.name}",
                            "lastName": "${user.lastName}",
                            "sex": ${user.sex},
                            "email": "${user.email}",
                            "hasAvatar": ${user.haveAvatar}
                        },
                        "isRead": false
                    }];
                    $talksDiv.append(Templates.talkMsgTpl(userMsg));
                    $(".dialogs-delete").unbind("click").bind("click", removeMsg);
                    $msg.val("");
                    Utils.scrollInit($talksDiv);
                });
            }
        };

        $("#send-msg").click(sendMsg);
        $msg.ctrlEnter("textarea", sendMsg);
        $msg.autosize({append: "\n"});

        var lastUpdateTime = ${conversations.size() > 0 ? conversations.get(conversations.size()-1)?.time.getTime() : 0};
        //console.log('lastTime = ' + lastUpdateTime);
        if(!lastUpdateTime) {
            lastUpdateTime = (new Date()).getTime();
            //console.log('lastTimeNow = ' + lastUpdateTime);
        }

        var fnDrawNewMsg = function(data) {
            //alert("draw!");
            $talksDiv.append(Templates.talkMsgTpl(data));
            if(data.length > 0) {
                Utils.scrollToBottom($talksDiv);
                $(".dialogs-delete").unbind("click").bind("click", removeMsg);
            }
        };

        Dynamics.Dialogs.startListen(${user.id}, ${userToTalk.id}, lastUpdateTime, fnDrawNewMsg);

        var loading = false;
        var page = 1;
        $talksDiv.scroll(function () {
            if (page > 0 && !loading && $talksDiv.scrollTop() <= 80) {
                loading = true;
                $talksDiv.prepend('<div class="ajax-loader"></div>');
                setTimeout(function(){
                    $.getJSON('/talks/${userToTalk.id}?page=' + (page+1),
                        function (data) {
                            $talksDiv.find(".ajax-loader").remove();
                            if(data.length) {
                                var $prevTopItem = $talksDiv.find(".dialog-item:first-child");
                                $talksDiv.prepend(Templates.talkMsgTpl(data));
                                Utils.scrollToElem($talksDiv, $prevTopItem);
                                $(".dialogs-delete").unbind("click").bind("click", removeMsg);
                            }
                            page = data.length < 10 ? -1 : page + 1;
                            loading = false;
                        }
                    );
                }, 1000);
            }
        });
    });
</script>

