#{if utils.SessionHelper.getCurrentUser(session) != null}
	#{extends 'main_templeate.html' /}
#{/if}
#{else}
	#{extends 'main_info.html' /}
#{/else}
#{set title: StartNewTeam /}
<script type="text/javascript">
function editEnabled(element){
	$(element).parent().parent().parent().find('.msg').show(); 
	$(element).parent().parent().parent().find('.msgRead').hide(); 
	return false;
}
function editDisabled(element){
	$(element).parent().parent().parent().find('.msg').hide(); 
	$(element).parent().parent().parent().find('.msgRead').show(); 
	return false;
}
</script>

#{group.reply count:messagesCount, action:'/crowdcontroller/addmsg'/}
				
<ul class="group-theme-dialog">
	#{crowd.messages removeAction:'removeMessage', editAction:'editMsg', crowdMessages:crowdConsulting, user:utils.SessionHelper.getCurrentUser(session), isAdmin:isAdmin /}
</ul>

#{crowd.pagination messagesCount:messagesCount, type:2/}