#{if utils.SessionHelper.getCurrentUser(session) != null}
	#{extends 'main_templeate.html' /}
#{/if}
#{else}
	#{extends 'main_info.html' /}
#{/else}
#{set title: StartNewTeam /}
<script type="text/javascript">
function editEnabled(element){
	$(element).parent().parent().parent().find('.msg').show(); 
	$(element).parent().parent().parent().find('.msgRead').hide(); 
	return false;
}
function editDisabled(element){
	$(element).parent().parent().parent().find('.msg').hide(); 
	$(element).parent().parent().parent().find('.msgRead').show(); 
	return false;
}
</script>
<h3>&{'page.crowd.developing.head'}</h3>
#{group.reply count:messagesCount, action:'/crowdcontroller/addmsgF'/}
				
<ul class="group-theme-dialog">
	#{crowd.messages removeAction:'removemessagef', editAction:'editmsgf', crowdMessages:crowdDeveloping, user:utils.SessionHelper.getCurrentUser(session), isAdmin:isAdmin /}
</ul>
#{common.pagination messagesCount:messagesCount, type:1/}