<script>
$(function() {
	initChangeAvatar();
});
function initChangeAvatar() {
	$('#changeAvatar').upload({
		name: 'newAvatar',
		method: 'post',
		enctype: 'multipart/form-data',
		action: 'AvatarController/updateAvatar',
		onSubmit: function() {
			$("#changeAvatarLoading").show();
		},
		onComplete: function(data) {
			try {
				var resultData = eval('(' + data + ')');
				if (resultData.resultCode != 0) {
					errorAvatar(resultData.errorDetails);
				} else {
					$("#changeAvatarLoading").hide();
					$("#approveAvatar img").each(function(index, item){
						$(item).attr('src', $(item).attr('src') + '?t=${java.lang.System.currentTimeMillis()}');
					})
					$("#approveAvatar").show();
				}				
			} catch (error) {
				errorAvatar("exceeded.image.size");
			}

		}
	});	
}
function approveAvatar() {
	$.getJSON('AvatarController/approveAvatar', function(data) {
		if (data.resultCode != 0) {
			errorAvatar(data.errorDetails);
		} else {
			$("#changeAvatarLoading").hide();
			$("#approveAvatar").hide();
			$("#successAvatar").show();
		}
	});
}
function errorAvatar(errorDetails) {
	$("#changeAvatarLoading").hide();
	$("#approveAvatar").hide();
	$("#errorAvatar").show();
	if (errorDetails == "exceeded.image.size") {
		errorDetails = "&{'page.avatar.change.error1'}";
	}
	if (errorDetails == "invalid.file.format") {
		errorDetails = "&{'page.avatar.change.error2'}";
	}
	if (errorDetails == "error.avatar.creation") {
		errorDetails = "&{'page.avatar.change.error3'}";
	}
	if (errorDetails == "error.avatar.update") {
		errorDetails = "&{'page.avatar.change.error4'}";
	}
	$("#errorAvatar p").text(errorDetails);
}
</script>
<div id="changeAvatarLoading" class="popup" style="display: none;">
	<h2>&{'page.avatar.change.loading1'}</h2>
	<p>&{'page.avatar.change.loading2'}</p>
</div>
<div id="approveAvatar" class="popup" style="display: none;">
	<h2>&{'page.avatar.change.approve1'}</h2>
	<p>&{'page.avatar.change.approve2'}</p>
	<img src="${play.Play.configuration.getProperty("filestoteURL")}/avatars/${_user.id}/newAvatar_123.jpg">
	<button class="btn" onclick="$(this).parent().fadeOut(500); approveAvatar(); return false;">OK</button>
	<button class="btn" onclick="$(this).parent().fadeOut(500); return false;">&{'common.cancel'}</button>
</div>
<div id="errorAvatar" class="popup" style="display: none;">
	<h2>&{'page.avatar.change.error5'}</h2>
	<p></p>
	<button class="btn" onclick="$(this).parent().fadeOut(500);">OK</button>
</div>
<div id="successAvatar" class="popup" style="display: none;">
	<h2>&{'page.avatar.change.success'}</h2>
	<button class="btn" onclick="$(this).parent().fadeOut(500);">OK</button>
</div>