<!DOCTYPE HTML>
<html lang="${play.i18n.Lang.get()}">
<head>
	<meta charset="UTF-8">
	<title>StartNewTeam</title>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/stl.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/custom_stl.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/jquery.selectbox.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/content.css'}" />
	<!--[if IE]>	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>	<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="@{'public/javascripts/jquery.selectbox.js'}"></script>
<script src="@{'public/javascripts/jquery.add.min.js'}"></script>
<script src="@{'/public/javascripts/controllers/LoginController.js'}" type="text/javascript" charset="utf-8"></script> 
<script>
%{
	def currentValidation = play.data.validation.Validation.current();
}%
$(document).ready(function() {
	$('input[placeholder], textarea[placeholder]').placeholder();
	//show 2000 selected at first
        $($('[name="birthYear"]').parent().find('div')[2]).show();
        $('[name="birthYear"]').parent().find('div')[2].scrollTop = 2500;
        $($('[name="birthYear"]').parent().find('div')[2]).hide();

        $('#password').keypress(function (e) {
            if (e.which == 13) {
                $('#loginForm').submit();
                return false;
            }
        });
    //made for focus when clicking registration on the pages excepts main
    #{if flash.get("registration")}
        $('#regName').focus();
    #{/if}
});
</script>

<!-- beta stub -->
<style>
    .betaBlocker {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #FFF;
        width: 0px;
        height: 0px;
        z-index: 10;
    }
</style>
<script>
    function block_screen() {
        $('#screenBlock').show();
        $('#screenBlock').css( { opacity: 0.9, width: $(document).width(), height: $(document).height() + 30 } );
        $('#screenBlock form').css( { opacity: 1 });
    }
    $(document).ready(function() {
        #{if (request.cookies.get("validBeta")?.value?.equals("true") || validBeta)}

        #{/if}
        #{else}
            block_screen();
        #{/else}
    });
</script>

</head>
<body>
    <div id="screenBlock" class="betaBlocker" style="display: none; text-align: center">
        <div style="padding-top: 200px">
            <form action="/" method="post" class="entry" style="text-align: center; border: 1px solid #d4d4d4; background-color: #fbfbfb; width: 400px; margin: 0 auto;">
                <h2>Please, enter beta testing code</h2>
                <h2>Пожалуйста, введите код для бета тестирования</h2>
                <input type="text" name="betaCode" value="">
                <a href="#" onclick="$('#screenBlock form').submit(); return false;" class="go">ENTER</a>
            </form>
        </div>
    </div>
	<div class="wrapper">
		<header class="hdr-page">
			<div class="inner">
				#{lang.langSwitcher/}
                #{common.loginForm /}
			</div>
		</header>
		<div class="content clearFix">
			<div class="index-main">
				&{'page.main.content'}
				<ul class="about-list">
					<h3 class="index padding-20">&{'page.main.content.try.head'}</h3>
					<li>
						<img src="@{'public/images/boilerplate/icon7.png'}" alt="" class="list-icon" />
						<div class="list-cont">
							<p>&{'page.main.content.try.line1'}</p>
						</div>
					</li>
					<li>
						<img src="@{'public/images/boilerplate/icon8.png'}" alt="" class="list-icon" />
						<div class="list-cont">
							<p>&{'page.main.content.try.line2'}</p>
						</div>
					</li>
					<li>
						<img src="@{'public/images/boilerplate/icon3.png'}" alt="" class="list-icon" />
						<div class="list-cont">
							<p>&{'page.main.content.try.line3'}</p>
						</div>
					</li>
				</ul>
			</div>
			<aside class="home-secondary">
				<h2>&{'page.main.taketest'}<br/><span>&{'page.main.its_free'}</span></h2>
					#{form @LoginController.firstTest(), class:'entry'}
						<input type="text" #{if currentValidation?.hasError('user.name')}class="inputerror"#{/if} name="user.name" id="regName" onfocus="this.value=''; this.placeholder=''" onblur="this.placeholder='&{'page.main.enter_name'}'" placeholder="&{'page.main.enter_name'}" value="${user?.name}"/>
						<input type="text" #{if currentValidation?.hasError('user.email')}class="inputerror"#{/if} name="user.email" id="" onfocus="this.value=''; this.placeholder=''" onblur="this.placeholder='&{'page.main.enter_address'}'" placeholder="&{'page.main.enter_address'}" value="${user?.email}"/>
						#{if currentValidation?.hasError('user.sex')}
							<span class="error">
								<input type="radio" name="user.sex" id="rad1" class="radio" #{if user?.sex == true}checked#{/if} value="true"/><label for="rad1" class="man">&{'page.main.sex.male'}</label><input type="radio" name="user.sex" id="rad2" value="false" class="radio" #{if user?.sex == false}checked#{/if}/><label for="rad2" class="woman">&{'page.main.sex.female'}</label>
							</span>
						#{/if}
						#{else}
							<input type="radio" name="user.sex" id="rad1" class="radio" #{if user?.sex == true}checked#{/if} value="true"/><label for="rad1" class="man">&{'page.main.sex.male'}</label><input type="radio" name="user.sex" id="rad2" value="false" class="radio" #{if user?.sex == false}checked#{/if}/><label for="rad2" class="woman">&{'page.main.sex.female'}</label>
						#{/else}
						&{'page.main.birthday'}</br>
						#{models.user.birthdayComponent day:birthDay, month:birthMonth, year:birthYear/}
						<div class="cl"></div>
						#{if currentValidation?.hasError('user.sex') || currentValidation?.hasError('user.email') || currentValidation?.hasError('user.name')}
				            <div class="alert">
				            	#{errors}
				            		#{if errors_isLast}
				            			${error}
				            		#{/if}
									#{else}
										${error}<br/>
									#{/else}		            		
				            	#{/errors}
				            </div>
			            #{/if}
						<a href="" class="go" id="firstTest">&{'page.main.start_the_test'}</a>
					#{/form}
				<div class="about-test">
					<h3><img src="@{'public/images/boilerplate/icon4.png'}" alt="" /><span>&{'page.main.site.people_count'}: ${usersCount}</span></h3>
					<h3><img src="@{'public/images/boilerplate/icon5.png'}" alt="" /><span>&{'page.main.site.team_count'}: ${commandsCount}</span></h3>
				</div>
			</aside>
		</div>
	</div>
	#{common.footer/}
    #{userPopup/}
</body>
</html>