<!DOCTYPE HTML>
<html lang="${play.i18n.Lang.get()}">
<head>
	<meta charset="UTF-8">
	<title>StartNewTeam</title>
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/stl.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/custom_stl.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/jquery.selectbox.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/content.css'}" />
	<!--[if IE]>	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>	<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="@{'public/javascripts/jquery.selectbox.js'}"></script>
<script src="@{'public/javascripts/jquery.add.min.js'}"></script>
<script src="@{'/public/javascripts/controllers/LoginController.js'}" type="text/javascript" charset="utf-8"></script> 
<script src="@{'/public/javascripts/controllers/Common.js'}" type="text/javascript" charset="utf-8"></script> 
<script>
%{
	def currentUser = utils.SessionHelper.getCurrentUser(session);
	def currentValidation = play.data.validation.Validation.current();
}%
$(document).ready(function() {
	$('input[placeholder], textarea[placeholder]').placeholder();

	#{if currentValidation?.hasError('recoverEmail')}
		$('#enterForm').hide();
		$('#recoverEmailForm').show();
		$('#overlay').show();
		$('#popup-enter').show();
	#{/if}
	#{if currentValidation?.hasError('loginEmail') || currentValidation?.hasError('loginPassword') || currentValidation?.hasError('emailPassword') || currentValidation?.hasError(utils.ApplicationConstants.VALIDATION_LOGIN_CONTROLLER_APPROVE_REGISTRATION)}
		$('#overlay').show();
		$('#popup-enter').show();
	#{/if}
	//show 2000 selected at first
        $($('[name="birthYear"]').parent().find('div')[2]).show();
        $('[name="birthYear"]').parent().find('div')[2].scrollTop = 2500;
        $($('[name="birthYear"]').parent().find('div')[2]).hide();

        $('#password').keypress(function (e) {
            if (e.which == 13) {
                $('#loginForm').submit();
                return false;
            }
        });
    //made for focus when clicking registration on the pages excepts main
    #{if flash.get("registration")}
        $('#regName').focus();
    #{/if}
});
</script> 
</head>
<body>
	<div class="wrapper">
		<header class="hdr-page">
			<div class="inner">
				#{lang.langSwitcher/}
				<a href="/"><img src="@{'public/images/boilerplate/logo-1.png'}" alt="" class="logo" /></a>
				#{if !currentUser}
                    #{form @LoginController.login(), id:'loginForm', class:'login_form'}
                        <table cellspacing="0">
                            <tbody>
                                <tr>
                                    <td><label for="text">Логин</label></td>
                                    <td><label for="password">Пароль</label></td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="loginEmail" id="text" autofocus="autofocus"/></td>
                                    <td><input type="password" name="loginPassword" id="password" /></td>
                                </tr>
                                <tr>
                                    <td><a href="" onclick="$('#regName').focus(); return false;">Регистрация</a></td>
                                    <td><a href="" onClick="$('#popup-enter').fadeIn(1000); $('#overlay').fadeIn(1000);$('#popup-enter-ttl').html('Восстановление пароля');$('#enterForm').hide();$('#recoverEmailForm').show(); return false;">Забыли пароль?</a></td>
                                </tr>
                            </tbody>
                        </table>
                    #{/form}
				    <a href="" onclick="$('#loginForm').submit(); return false;" class="sign-in">Войти</a>
				#{/if}
				#{if currentUser}
					<a href="@{LoginController.logout()}" class="sign-in">Выйти</a>
				#{/if}
			</div>
		</header>
		<div class="content clearFix">
			<div class="index-main">
				&{'page.main.content'}
				<ul class="about-list">
					<h3 class="index padding-20">&{'page.main.content.try.head'}</h3>
					<li>
						<img src="@{'public/images/boilerplate/icon7.png'}" alt="" class="list-icon" />
						<div class="list-cont">
							<p>&{'page.main.content.try.line1'}</p>
						</div>
					</li>
					<li>
						<img src="@{'public/images/boilerplate/icon8.png'}" alt="" class="list-icon" />
						<div class="list-cont">
							<p>&{'page.main.content.try.line2'}</p>
						</div>
					</li>
					<li>
						<img src="@{'public/images/boilerplate/icon3.png'}" alt="" class="list-icon" />
						<div class="list-cont">
							<p>&{'page.main.content.try.line3'}</p>
						</div>
					</li>
				</ul>
			</div>
			<aside class="home-secondary">
				<h2>&{'link.registration'}</h2>
					#{form @LoginController.firstTest(), class:'entry'}
						<input type="text" #{if currentValidation?.hasError('user.name')}class="inputerror"#{/if} name="user.name" id="regName" onfocus="this.value=''; this.placeholder=''" onblur="this.placeholder='&{'page.main.enter_name'}'" placeholder="&{'page.main.enter_name'}" value="${user?.name}"/>
						<input type="text" #{if currentValidation?.hasError('user.email')}class="inputerror"#{/if} name="user.email" id="" onfocus="this.value=''; this.placeholder=''" onblur="this.placeholder='&{'page.main.enter_address'}'" placeholder="&{'page.main.enter_address'}" value="${user?.email}"/>
						#{if currentValidation?.hasError('user.sex')}
							<span class="error">
								<input type="radio" name="user.sex" id="rad1" class="radio" #{if user?.sex == true}checked#{/if} value="true"/><label for="rad1" class="man">&{'page.main.sex.male'}</label><input type="radio" name="user.sex" id="rad2" value="false" class="radio" #{if user?.sex == false}checked#{/if}/><label for="rad2" class="woman">&{'page.main.sex.female'}</label>
							</span>
						#{/if}
						#{else}
							<input type="radio" name="user.sex" id="rad1" class="radio" #{if user?.sex == true}checked#{/if} value="true"/><label for="rad1" class="man">&{'page.main.sex.male'}</label><input type="radio" name="user.sex" id="rad2" value="false" class="radio" #{if user?.sex == false}checked#{/if}/><label for="rad2" class="woman">&{'page.main.sex.female'}</label>
						#{/else}
						#{models.user.birthdayComponent day:birthDay, month:birthMonth, year:birthYear/}
						<div class="cl"></div>
						#{if currentValidation?.hasError('user.sex') || currentValidation?.hasError('user.email') || currentValidation?.hasError('user.name')}
				            <div class="alert">
				            	#{errors}
				            		#{if errors_isLast}
				            			${error}
				            		#{/if}
									#{else}
										${error}<br/>
									#{/else}		            		
				            	#{/errors}
				            </div>
			            #{/if}
						<a href="" class="go" id="firstTest">&{'page.main.start_the_test'}</a>
					#{/form}
				<div class="about-test">
					<h3><img src="@{'public/images/boilerplate/icon4.png'}" alt="" /><span>&{'page.main.site.people_count'}: ${usersCount}</span></h3>
					<h3><img src="@{'public/images/boilerplate/icon5.png'}" alt="" /><span>&{'page.main.site.team_count'}: ${commandsCount}</span></h3>
				</div>
			</aside>
		</div>
	</div>
	<footer class="ftr-page">
		<div class="inner">
			<p>&copy; &{'page.common.rights'}</p>
			<nav class="ftr-nav">
				<ul>
					<li><a href="/">&{'link.main'}</a></li>
					<li><a href="/news">&{'link.news'}</a></li>
					<li><a href="/about/">&{'link.about'}</a></li>
					<li><a href="/contacts/">&{'link.contacts'}</a></li>
					<li><a href="/partners/">&{'link.partners'}</a></li>
				</ul>
			</nav>
		</div>
	</footer>
	<div id="overlay" class="overlay"></div>
	<div id="popup-enter" class="popup-enter">
		<a href="" id="close" class="close"><img src="@{'/public/images/boilerplate/popup-close.gif'}" alt=""></a>
    	<div class="popup-enter-ttl" id="popup-enter-ttl">&{'popup.enter.title'}</div>
    		#{form @LoginController.login(), id:'enterForm'}
	        	<input type="text" name="loginEmail" id="" placeholder="&{'popup.email'}">
				<input type="password" name="loginPassword" id="" placeholder="&{'popup.password'}">
				<a href="#" id="forget-password" class="forget-password">&{'popup.forgot_password'}</a>
	            <button class="enter-btn" onclick="this.form.submit();">&{'popup.enter_the_site'}</button>
	            #{if currentValidation?.hasError('loginEmail') || currentValidation?.hasError('loginPassword') || currentValidation?.hasError('emailPassword') || currentValidation?.hasError(utils.ApplicationConstants.VALIDATION_LOGIN_CONTROLLER_APPROVE_REGISTRATION)}
		            <div class="alert">
		            	#{errors}
		            		#{if errors_isLast}
		            			${error}
		            		#{/if}
							#{else}
								${error}<br/>
							#{/else}		            		
		            	#{/errors}
		            </div>
	            #{/if}
	        #{/form}
	        #{form @LoginController.recoverPassword(), id:'recoverEmailForm'}
	        	<input type="text" name="recoverEmail" placeholder="&{'popup.email'}">
				<a href="#" id="showEnterForm" class="forget-password">&{'popup.enter'}</a>
	            <button class="enter-btn" onclick="this.form.submit();">&{'popup.send_email'}</button>
	            #{if currentValidation?.hasError('recoverEmail')}
		            <div class="alert">
		            	#{errors}
		            		#{if errors_isLast}
		            			- ${error}
		            		#{/if}
							#{else}
								- ${error}<br/>
							#{/else}		            		
		            	#{/errors}
		            </div>
	            #{/if}
	        #{/form}
    </div>
    #{userPopup/}
</body>
</html>