#{if !request.controller.equals('LoginController')}
    <style>
        .langSwitcher a {
            font: 12px/21px "MyriadPro-Regular", Arial, sans-serif;
            color: #ccc;
        }
        .langSwitcher .langSelected {
            color: #fff;
        }
    </style>
    <div class="langSwitcher" style="float: right;">
        <a class="${play.i18n.Lang.get() == "en" ? "langSelected" : ""}" style="cursor: pointer;" onclick="changeLocale('en')">ENGLISH</a>
        <a class="${play.i18n.Lang.get() == "ru" ? "langSelected" : ""}" style="cursor: pointer;" onclick="changeLocale('ru')">РУССКИЙ</a>
    </div>
    <script>
        function changeLocale(locale) {
            $.ajax({
            url: "/locale/change?locale=" + locale,
            success: function(data) {
            window.location.reload();
        }
        });
            return false;
        }
    </script>
#{/if}
