#{extends 'search_templeate.html' /} #{set title:'search team' /}


<div class="search_result">
	<h2>Пользователи</h2>
	<div class="shot_nav">
		<table>
			<tr>
				<td id="searchTab1">
					<div class="group-shot">
						<a href="#">Общие данные</a>
					</div>
				</td>
				<td id="searchTab2" class="active">
					<div class="group-shot">
						<a href="#">Основные данные</a>
					</div>
				</td>
				<td id="searchTab3" class="last">
					<div class="group-shot">
						<a href="#">Потребности команд</a>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<table class="search-result-block padding-7">
		<tr class="search-name">
			<td  class="lft" id="column_name" width="170px"><a href="#">Название команды</a><span class="sort"></span></td>
			
			<td class="searchResultColumn1">Лого</td>
			<td class="searchResultColumn1" id="column_country"><a href="#">Страна</a><span class="sort"></span></td>
			<td class="searchResultColumn1" id="column_city"><a href="#">Город</a><span class="sort"></span></td>
			<td class="searchResultColumn1" id="column_age"><a href="#">Возраст</a><span class="sort"></span></td>
			<td class="searchResultColumn1 cntr"><a href="#">Imternational</a><span class="sort"></span></td>
			<td class="searchResultColumn1"><a href="#">Были на сайте</a><span class="sort"></span></td>
			<td class="searchResultColumn1 cntr">Инфо</td>

			
			
			<td class="searchResultColumn2" id="column_predpr"><span class="ic_predpr_hover tip" data-tip='Навык "Предпринимательство"'></span><span class="sort"></span></td>
			<td class="searchResultColumn2" id="column_ideal"><span class="ic_ideal_hover tip"  data-tip='Навык "Идеализм"'></span><span class="sort"></span></td>
			<td class="searchResultColumn2" id="column_communic"><span class="ic_communic_hover tip"  data-tip='Навык "Коммуникабельность"'></span><span class="sort"></span></td>
			<td class="searchResultColumn2" id="column_pragmatic"><span class="ic_pragmatic_hover tip"  data-tip='Навык "Прагматика"'></span><span class="sort"></span></td>
			<td class="searchResultColumn2" id="column_businessType"><a href="#">Тип бизнеса</a><span class="sort"></span></td>
			<td class="searchResultColumn2" id="column_businessSphere"><a href="#">Сфера</a><span class="sort"></span></td>
			<td class="searchResultColumn2" id="column_phase"><a href="#">Стадия</a><span class="sort"></span></td>
			
			<td class="searchResultColumn3" id="column_marketing"><span class="ic_marketing_hover tip" data-tip='Навык "Маркетинг"'></span><span class="sort"></span></td>
			<td class="searchResultColumn3" id="column_sale"><span class="ic_sale_hover tip" data-tip='Навык "Продажи"'></span><span class="sort"></span></td>
			<td class="searchResultColumn3" id="column_management"><span class="ic_management_hover tip" data-tip='Навык "Управление"'></span><span class="sort"></span></td>
			<td class="searchResultColumn3" id="column_right"><span class="ic_right_hover tip" data-tip='Навык "Право"'></span><span class="sort"></span></td>
			<td class="searchResultColumn3" id="column_finance"><span class="ic_finance_hover tip" data-tip='Навык "Финансы"'></span><span class="sort"></span></td>
			<td class="searchResultColumn3" id="column_it"><span class="ic_it_hover tip" data-tip='Навык "ИТ"'></span><span class="sort"></span></td>
			<td class="searchResultColumn3" id="column_more"><span class="ic_more_hover tip" data-tip='Навык "Другое"'></span><span class="sort"></span></td>
			
			<td class="cntr" id="column_count"><a href="#">Людей</a><span class="sort"></span></td>
		</tr>
	</table>
	<div id="searchLoader" class="cntr">
		<img src="/public/img/ajax-loader.gif" />
	</div>
</div>
<div class='info_popup' style="display: none;">
	<p></p>
</div>
<div class="icon_popup" style="display: none;"></div>

#{search.teamSearchForm/}

<script>
	var search = new Search();
	$(document).ready(function(){
		search.type = Search.TYPE_GROUP;
		//TODO: other params
		search.searchModel = {
				  country : null,
				  city : null,
				  avgAgeMin : null,
				  avgAgeMax : null,
				  usersMin : null,
				  usersMax : null,
				  vacancy : null,
				  bissnessType : null,
				  bissnessSphere : null,
				  marketing : null,
				  sale : null,
				  management : null,
				  finance : null,
				  legal : null,
				  it : null,
				  bmanMin : null,
				  bmanMax : null,
				  idealMin : null,
				  idealMax : null,
				  comutMin : null,
				  comutMax : null,
				  pragmatMin : null,
				  pragmatMax : null,
				  phase : null,
				  orderBy : null,
				  asc : false,
				  active_column : null
		};
		search.init();
		search.doSearch();
	});
</script>
