#{if (_topicsCount > 3)}
	<div style="text-align: center; padding-bottom: 10px;">
		<a id="loadMore" style="cursor: pointer;" onclick="loadMoreTopics(${_group.id}, ${_isPublic});">&{'page.team.discuss.show_all'}</a>
	</div>
	<div id="loadMoreLoader" class="cntr" style="display: none;">
		<img src="/public/img/ajax-loader.gif">
	</div>
	<script>
		function loadMoreTopics(groupId, isPublic) {
			$("#loadMore").hide();
			$("#loadMoreLoader").show();
			$.ajax({
				  url: "moreTopics?groupId=" + groupId + "&isPublic=" + isPublic,// + "&formAction=" + formAction + "&removeAction=" + removeAction,
				  cache: false
				}).done(function( html ) {
					$("#loadMoreLoader").hide();
					$(".search-result-list").append(html);
				}).error(function( html ) {
					$("#loadMoreLoader").hide();
				});
			return false;
		}
	</script>
#{/if}