<script>
function writeEnabled(isEnabled){
	if (isEnabled) {
		$('.answer-expand').show(); 
		$('.answer-collapse').hide();
		$('.writeComment').focus();
	} else {
		$('.answer-expand').hide(); 
		$('.answer-collapse').show();
	}
	return false;
}
$(document).ready(function(){
    $('.writeComment').autosize({append: "\n"});  
});
</script>
<style>
.writeComment {
	vertical-align: top; 
	transition: height 0.2s;
	-webkit-transition: height 0.2s; 
	-moz-transition: height 0.2s; 
}
</style>

<div class="answer-collapse">
	<div class="group-theme-dialog-ttl-color">&{'page.team.discuss.total_msgs_in',_count}</div>
	<ul class="group-theme-dialog-form">
		<li>
			<textarea onClick="writeEnabled(true);" placeholder="&{'page.team.discuss.send_msg'}" name="" cols="" rows="1"></textarea>
		</li>
	</ul>
</div>

<div class="answer-expand" style="display: none">
	<div class="group-theme-dialog-ttl-color">&{'page.team.discuss.total_msgs_in',_count}</div>
	<form action="${_action}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
	<input name="topicId" value="${_topic?.id}" type="hidden"> 
           		<input name="groupId" value="${_group?.id}" type="hidden">
	<ul class="group-theme-dialog-form">
		<li>
			#{avatar.avatar user:utils.SessionHelper.getCurrentUser(session), cssClass:'group-theme-dialog-pic', maleImg:'avam.png', femaleImg:'avaf.png', avatarSize:55 /}
			<textarea class="writeComment" onBlur="setTimeout('writeEnabled(false)', 100);" placeholder="&{'page.team.discuss.send_msg'}" name="msg.text" cols="" rows="2"></textarea>
			<button type="submit" class="group-theme-btn">&{'page.team.discuss.send'}</button>
		</li>
	</ul>
	</form>
</div>
