#{if _topic.publicTopic}
%{
    isFav = utils.ModelUtils.isFavTeam(_user,_group?.id)
    isBlack = utils.ModelUtils.isBlackTeam(_user,_group?.id)
}%
<li class="search-result-item clearFix team-${_group?.id}-topic">
	<h4>

        <span class="fav-buttons">
            <a href="#" data-team="${_group?.id}" class="topic-fav-link" #{if isFav || isBlack}style="display:none"#{/if}>
                <span class="topic-fav"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.teamtrack.tip.favor.add'}</span></span>
            </a>

            <a href="#" data-team="${_group?.id}" class="topic-fav-link-hovered" #{if !isFav || isBlack}style="display:none"#{/if}>
                <span class="topic-fav"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.teamtrack.tip.favor.remove'}</span></span>
            </a>

            <a href="#" data-team="${_group?.id}" class="topic-ban-link" #{if isFav || isBlack}style="display:none"#{/if}>
                <span class="topic-ban"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.teamtrack.tip.blacklist.add'}</span></span>
            </a>

            <a href="#" data-team="${_group?.id}" class="topic-ban-link-hovered" #{if isFav || !isBlack}style="display:none"#{/if}>
                <span class="topic-ban"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.teamtrack.tip.blacklist.remove'}</span></span>
            </a>
        </span>

        <a class="track-topic-team" href="@{GroupController.index(_group.id)}">${_group.name}</a>

        #{if _topic.mainTopic}
            <a class="track-topic-name" href="@{GroupController.publicTopics(_group.id)}">
                <img src="@{'public/images/boilerplate/public1.png'}" alt="public theme" />
                &{'page.teamtrack.topic.main'}
            </a>
        #{/if}
        #{else}
            <a href="@{GroupController.indexTopic(_topic.id, _group.id)}">
                <img src="@{'public/images/boilerplate/public1.png'}" alt="public theme" />
                ${_topic.name}
            </a>
        #{/else}

    </h4>
	<pre>#{common.reducedText text:_topic.description /}</pre>
	<div class="search-result-list-date"><strong>&{'page.team.discuss.total_msgs',_topic.messages?.size()}</strong></div>
    <br />
    #{if _topic.messages?.size() > 0 }
    <div class="search-result-list-last">&{'page.team.discuss.latest_from'} <a href="@{UserController.index(_topic.lastUpdateUserId)}">${_topic.lastUpdateUserLastName} ${_topic.lastUpdateUserName}</a>, <span class="topic_date">${utils.DateUtils.getFormatedStringDate(_topic.lastUpdateDate, true)}</div>
    #{/if}
	<a href="#{if _topic.mainTopic}@{GroupController.publicTopics(_group.id)}#{/if}#{else}@{GroupController.indexTopic(_topic.id, _group.id)}#{/else}"
       class="search-result-list-more">&{'page.team.discuss.discussion'} <span>&nbsp;&#8594;</span></a>
</li>
#{/if}