#{if utils.SessionHelper.getCurrentUser(session) != null}
    #{extends 'main_templeate.html' /}
#{/if}
#{else}
    #{extends 'main_info.html' /}
#{/else}

#{set title:'StartNewTeam' /}
<h1 class="about-h1">&{'page.partners.title'}:</h1>
<div class="partners">
    <!--<div class="partners-item">
		<a href="http://www.sk.ru/"><img src="@{'public/images/boilerplate/tmp/pic27.jpg'}" alt=""
			class="partners-pic"></a>
		<h3>&{'page.partners.skolkovo.title'}</h3>
		<p>&{'page.partners.skolkovo.text'}</p>
	</div>
	<div class="partners-item">
		<a href="http://asi.ru/"><img src="@{'public/images/boilerplate/tmp/pic29.jpg'}" alt=""
			class="partners-pic"></a>
		<h3>&{'page.partners.asi.title'}</h3>
		<p>&{'page.partners.asi.text'}</p>
	</div>
	<div class="partners-item">
		<a href="http://www.microsoft.com/ru-ru/default.aspx"><img
			src="@{'public/images/boilerplate/tmp/pic30.png'}" alt="" class="partners-pic"></a>
		<h3>&{'page.partners.microsoft.title'}</h3>
		<p>&{'page.partners.microsoft.text'}</p>
	</div>-->
</div>
<div class="message-item">
&{'page.partners.text', '<a href="#">partners@startnewteam.com</a>'}
</div>