#{if utils.SessionHelper.getCurrentUser(session) != null}
	#{extends 'main_templeate.html' /}
#{/if}
#{else}
	#{extends 'main_info.html' /}
#{/else}

 #{set title:'StartNewTeam' /}
<h1 class="about-h1">Благодаря им StartNewTeam существует и
	развивается:</h1>
<div class="partners">
	<div class="partners-item">
		<a href="http://www.sk.ru/"><img src="@{'public/images/boilerplate/tmp/pic27.jpg'}" alt=""
			class="partners-pic"></a>
		<h3>Фонд Skolkovo</h3>
		<p>Миссия Фонда "Сколково" - создание Экосистемы, формирование
			благоприятных условий для инновационного процесса: ученые,
			конструкторы, инженеры и бизнесмены совместно с участниками
			образовательных проектов будут работать над созданием
			конкурентоспособных наукоемких разработок мирового уровня.</p>
	</div>
	<div class="partners-item">
		<a href="http://asi.ru/"><img src="@{'public/images/boilerplate/tmp/pic29.jpg'}" alt=""
			class="partners-pic"></a>
		<h3>Агентство стратегических инициатив</h3>
		<p>Цель АСИ: Создание возможностей для самореализации молодых
			амбициозных лидеров, способных вывести Россию на передовые позиции в
			мире, построить страну, в которой хочется жить и работать.</p>
	</div>
	<div class="partners-item">
		<a href="http://www.microsoft.com/ru-ru/default.aspx"><img
			src="@{'public/images/boilerplate/tmp/pic30.png'}" alt="" class="partners-pic"></a>
		<h3>Intel</h3>
		<p>Крупнейшая транснациональная компания по производству
			программного обеспечения для различного рода вычислительной техники.</p>
	</div>
</div>
<div class="message-item">
	Мы будем рады новым сильным партнерам, чтобы совместно менять мир к
	лучшему через массовое развитие предпринимательства. Просто напишите
	нам о желании сотрудничать на <a href="#">partners@startnewteam.com</a>,
	и мы обязательно придумаем что-нибудь интересное.
</div>