<html>
	<body>
		<p>
            Under the New Teams auto-generation process, your team <a href="${notifiers.Mails.BASE_URL}@{GroupController.index(user.command.id)}">${user.command.name}</a> 
			has lack of participants from your country.<br/>
            <br/>
            We are reccomend to invite your friends to <a href="${notifiers.Mails.BASE_URL}">StartNewTeam</a> for more efficient collaboration.
			<br/>
            <br/>
            Etrepreneurally yours,<br/>
            <a href="${notifiers.Mails.BASE_URL}">StartNewTeam</a> staff.
		</p>
	</body>
</html>