<html>
	<body>
		<p>
            Добрый день, ${user?.name}!<br>
			<br>
            Предварительная регистрация на <a href="${base}">StartNewTeam</a> прошла успешно.
			<br>
			<br>
			Логин: ${user.email}<br>
			Пароль: ${password}<br>
            Для завершения тестирования и прохождения полной регистрации можно авторизоваться на сайте, используя логин и пароль, или пройти по данной <a href="${base}/confirmRegistration?ticket=${hash}">ссылке</a>
            <br>
			С уважением, команда <a href="${base}">StartNewTeam</a>
		</p>
	</body>
</html>