<html>
	<body>
		<p>
			Доброго времени суток ${user.name}! 
			<br>
			<br>
			Спасибо за первичную регистрацию. Добро пожаловать на сайт teampusher.com. В данном письме указаны Ваши логин и пароль для дальнейшего доступа в систему. К сожалению, вы не до конца прошли регистрацию. Для того, чтобы завершить данный процесс, пройдите по ссылке ниже.
			<br>
			<br>
			Для прохождения полной регистрации пройдите по <a href="${base}/confirmRegistration?ticket=${hash}">ссылке</a>.<br/>.
			<br>
			<br>
			С уважением, команда <a href="http://www.teampusher.com">teampusher.com</a><br/>
		</p>
	</body>
</html>