#{extends 'main_user.html' /}
#{set title:'Изменение пароля' /}

#{form @UserController.doChangePassword()}
<div class="content_block">
		<div class="page_ttl">	
			<h1>Сменить пароль</h1>
		</div>			
		#{showError errors:errors /}
		Старый пароль
		<input type="password" name="oldPassword" class="input" value=""><br/>
		Новый пароль
		<input type="password" name="newPassword" class="input" value=""><br/>
		Повторите новый пароль
		<input type="password" name="newPasswordRepeat" class="input" value=""><br/>
		<input type="button" name="name" class="button" value="Сменить пароль" onclick="this.form.submit();">
	</div>
#{/form}