#{extends 'main_templeate.html' /} #{set title: user.name + " " + user.lastName /}
%{
	boolean currentAdminGroup = utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN;
	boolean isOtherUser = utils.SessionHelper.getCurrentUser(session)?.id != user?.id;
	boolean groupAdmin = (utils.SessionHelper.getCurrentUser(session)?.id == user?.id) && (utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN);
	boolean haveGroupOrInviteJoin = (utils.SessionHelper.getCurrentUser(session)?.command != null) || (utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null);
%}
#{if isOtherUser}
<div class="profile-user-name">
    ${user.name + " " + user.lastName}
    <em>&{'page.profile.age'} ${user.age}</em>
    <span class="user-online"><span class="st-${user.onlineStatus}">&{'common.status.' + user.onlineStatus}</span></span>
    </div>

    <div class="profile-user-info">
        #{avatar.avatar user:user, cssClass:'profile-user-info-pic', maleImg:'avabigm.jpg', femaleImg:'avabigf.jpg', avatarSize:123 /}
        <div><a href="#">&{'models.country.name.' + utils.ModelUtils.replaceSpacesForI18n(user?.country?.name)}</a> / <a href="#">${user?.city}</a></div>
        <div><span>&{'page.profile.lastseen'}:</span> <em>#{common.formattedDate date:user?.lastSeen /}</em></div>
        <div><span>&{'page.profile.email'}:</span> #{if user.showEmailForOthers} ${user.email} #{/if} #{else}&{'page.profile.hide_email'}#{/else}</div>
        <div><span>&{'page.profile.business'}:</span> <a href="#">&{'models.bType.name.' + utils.ModelUtils.replaceSpacesForI18n(user?.businessType?.name)}</a> / <a href="#">&{'models.bSphere.name.' + utils.ModelUtils.replaceSpacesForI18n(user?.businessSphere?.name)}</a></div>
        <div class="profile-user-info-btn">
            <a href="@{MessageController.talk(user.id,1,0)}">&{'page.profile.sendmsg'}</a>
            #{if currentAdminGroup}
                <a href="" onclick="$('.sendNotif').show(); return false;">&{'page.profile.add_to_team'}</a>
            #{/if}
        </div>
        <div class="sendNotif"  style="display: none">
            <div class="overlay"></div>
            <div class="popup">
                <h2>&{'page.profile.add_to_team'}</h2>
                #{form @GroupController.joinMyGroup()}
                 <input name="userForJoinId" value="${user.id}" type="hidden">
                 <input name="groupId" value="${utils.SessionHelper.getCurrentUser(session).command?.id}" type="hidden">
                 <div class="profile-item clearFix popup-formtxt ">
                        <textarea name="text" cols="30" rows="5" class="mt15"></textarea>
                     </div>
                     <input type="submit" value="&{'page.profile.add_button'}">
                <a href=""  onclick="$('.sendNotif').hide(); return false;" class="cancel">&{'page.profile.cancel'}</a>
                #{/form}
            </div>
        </div>
    </div>
    <div class="user-info-rate clearFix">
        <div>
            <strong>${user.businessman}</strong>
            &{'businessman'}
        </div>
        <div>
            <strong>${user.idealist}</strong>
            &{'idealist'}
        </div>
        <div>
            <strong>${user.communicant}</strong>
           &{'communicant'}
        </div>
        <div>
            <strong>${user.pragmatist}</strong>
             &{'pragmatist'}
        </div>
    </div>

    <div class="user-info-ttl">&{'page.profile.personal_characteristics'}</div>
    <div class="user-info">
        <pre>${user.personalCV}</pre>
    </div>
    <div class="group-consist-ttl">&{'page.profile.team'}</div>
    <div class="group-consist">
        <h4><a href="@{GroupController.index(user.command?.id)}">${user.command?.name}</a></h4>
        #{if user.command != null}
        <div class="founder">&{'page.profile.founder'}: <a href="@{UserController.index(user.command?.founderUser?.id)}" class="man">${user.command?.founderUser?.name + " " + user.command?.founderUser?.lastName}</a></div>
        #{/if}
    </div>
    <div class="group-vacancies-ttl">&{'page.profile.prof_skills'}</div>
    <div class="group-vacancies">

        <div class="group-vacancies-item">
            <div class="group-vacancies-name">&{'page.profile.en_skill'} <span>&#8594;</span>#{if user.english} &{'page.common.yes'} #{/if} #{else} &{'page.common.no'} #{/else}</div>
        </div>
        #{if user.expMarketing?.level?.id > 1}
        <div class="group-vacancies-item">
            <div class="group-vacancies-name">&{'page.profile.marketing_advertising'} <span>&#8594;</span>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(user.expMarketing?.level?.userLevel)}</div>
            <pre>${user?.expMarketing?.description}</pre>
        </div>
        #{/if}
        #{if user.expManagement?.level?.id > 1}
        <div class="group-vacancies-item">
            <div class="group-vacancies-name">&{'page.profile.management_experience'} <span>&#8594;</span>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(user.expManagement?.level?.userLevel)}</div>
            <pre>${user?.expManagement?.description}</pre>
        </div>
        #{/if}
        #{if user.expSale?.level?.id > 1}
        <div class="group-vacancies-item">
            <div class="group-vacancies-name">&{'page.profile.sales_experience'} <span>&#8594;</span> &{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(user.expSale?.level?.userLevel)}</div>
            <pre>${user?.expSale?.description}</pre>
        </div>
        #{/if}
        #{if user.expFinance?.level?.id > 1}
        <div class="group-vacancies-item">
            <div class="group-vacancies-name">&{'page.profile.finance_experience'}<span>&#8594;</span> &{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(user.expFinance?.level?.userLevel)}</div>
            <pre>${user?.expFinance?.description}</pre>
        </div>
        #{/if}
        #{if user.expLegal?.level?.id > 1}
        <div class="group-vacancies-item">
            <div class="group-vacancies-name">&{'page.profile.law_experience'} <span>&#8594;</span> &{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(user.expLegal?.level?.userLevel)}</div>
            <pre>${user?.expLegal?.description}</pre>
        </div>
        #{/if}
        #{if user.expIT?.level?.id > 1}
        <div class="group-vacancies-item">
            <div class="group-vacancies-name">&{'page.profile.it_experience'} <span>&#8594;</span> &{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(user.expIT?.level?.userLevel)}</div>
            <pre>${user?.expIT?.description}</pre>
        </div>
        #{/if}
        #{if user.expOther?.level?.id > 1}
        <div class="group-vacancies-item">
            <div class="group-vacancies-name">&{'page.profile.others_experience'} <span>&#8594;</span> &{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(user.expOther?.level?.userLevel)}</div>
            <pre>${user?.expOther?.description}</pre>
        </div>
        #{/if}
    </div>
#{/if}


#{else}

<h1 class="profile-h1">&{'page.profile.current.title'}</h1>
<h2 class="profile-h2" style="margin-bottom:9px;">&{'page.profile.current.personal_data'}</h2>
<div class="profile-form">

    <div class="profile-item mb3">
        <label for="">&{'page.profile.current.name'}</label>
        ${user.name}
    </div>
    <div class="profile-item mb3">
        <label for="">&{'page.profile.current.surname'}</label>
        ${user.lastName}
    </div>
    <div class="profile-item mb3">
        <label for="">&{'page.profile.current.sex'}</label>
        #{if user.sex}
            &{'page.profile.current.male'}
        #{/if}
        #{else}
            &{'page.profile.current.female'}
        #{/else}
    </div>

    <div class="profile-item">
        <label for="">&{'page.profile.current.birthday'}</label>
        #{common.formattedDate date:user.birthday /}
    </div>

    <div class="group-info">
        <div class="group-info-ttl">&{'page.profile.current.characteristics'}</div>
        <div class="group-info-rate clearFix">
            <div>
                <strong>${user.businessman}</strong>
                &{'businessman'}
            </div>
            <div>
                <strong #{if user.idealist == 0}class="red"#{/if}>${user.idealist}</strong>
                &{'idealist'}
            </div>
            <div>
                <strong #{if user.communicant == 0}class="red"#{/if}>${user.communicant}</strong>
               &{'communicant'}
            </div>
            <div>
                <strong #{if user.pragmatist == 0}class="red"#{/if}>${user.pragmatist}</strong>
                 &{'pragmatist'}
            </div>
        </div>

        #{if (user.idealist == 0 && user.communicant == 0 && user.pragmatist == 0)}
            <div><a href="@{LoginController.secondTest()}">&{'page.profile.current.test2'}</a></div>
        #{/if}

        <div class="group-info-rate-help">&{'page.profile.current.based_on_test'}</div>
    </div>
</div>


<h2 class="profile-h2">&{'page.profile.current.proff_skills'}</h2>

#{form @UserController.editSkill()}
    <div class="profile-form" style="padding-bottom:10px;">
        <div class="profile-item clearFix">
            <label for="">&{'page.profile.current.business'}</label>
            <select name="currentUser.businessType.id" class="cSelect" style="width:321px;">
                #{list items:models.BType.findAll(), as:'businessType'}
                    <option value="${businessType.id}" #{if user?.businessType?.id == businessType.id}selected="selected"#{/if}>&{'models.bType.name.' + utils.ModelUtils.replaceSpacesForI18n(businessType.name)}</option>
                #{/list}
            </select>
        </div>
        <div class="profile-item clearFix">
            <label for="">&{'page.profile.current.sphere'}</label>
            <select name="currentUser.businessSphere.id" class="cSelect" style="width:321px;">
                #{list items:models.BSphere.findAll(), as:'businessSphere'}
                    <option value="${businessSphere.id}" #{if user?.businessSphere?.id == businessSphere.id}selected="selected"#{/if}>&{'models.bSphere.name.' + utils.ModelUtils.replaceSpacesForI18n(businessSphere.name)}</option>
                #{/list}
            </select>
        </div>
    </div>

    <div class="create-form">
        <label for="">&{'page.profile.current.en_skill'}</label>
        <div class="box-radio">
            <input type="radio" name="currentUser.english" id="englishY" class="radio" value="true"  #{if user?.english}checked#{/if}/>
            <label for="englishY" class="radio-btn">&{'page.common.yes'}</label>
            <input type="radio" name="currentUser.english" id="englishN" class="radio" value="false"  #{if !user?.english}checked#{/if}/>
            <label for="englishN" class="radio-btn">&{'page.common.no'}</label>
       </div>
    </div>
    <div class="profile-form" style="padding-bottom:10px;">
    <div class="profile-item clearFix">
        <label for="">&{'page.profile.current.exp_marketing'}<span class="small">&{'page.profile.current.skill_meta'}</span></label>
        <select name="currentUser.expMarketing.level.id" class="cSelect" style="width:321px;">
            #{list items:models.UserLevel.findAll(), as:'level'}
                <option value="${level.id}" #{if user?.expMarketing?.level?.id == level.id}selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level?.userLevel)}</option>
            #{/list}
        </select>
        <textarea name="currentUser.expMarketing.description" placeholder="&{'page.profile.current.desc_marketing'}" class="mt15">${user?.expMarketing?.description}</textarea>
    </div>
    <div class="profile-item clearFix">
        <label for="">&{'page.profile.current.exp_sales'}<span class="small">&{'page.profile.current.skill_meta'}</span></label>
        <select name="currentUser.expSale.level.id" class="cSelect" style="width:321px;">
            #{list items:models.UserLevel.findAll(), as:'level'}
                <option value="${level.id}" #{if user?.expSale?.level?.id == level.id}selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level?.userLevel)}</option>
            #{/list}
        </select>
        <textarea name="currentUser.expSale.description" placeholder="&{'page.profile.current.desc_sales'}" class="mt15">${user?.expSale?.description}</textarea>
    </div>
    <div class="profile-item clearFix">
        <label for="">&{'page.profile.current.exp_management'}<span class="small">&{'page.profile.current.skill_meta'}</span></label>
        <select name="currentUser.expManagement.level.id" class="cSelect" style="width:321px;">
            #{list items:models.UserLevel.findAll(), as:'level'}
                <option value="${level.id}" #{if user?.expManagement?.level?.id == level.id}selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level?.userLevel)}</option>
            #{/list}
        </select>
        <textarea name="currentUser.expManagement.description" placeholder="&{'page.profile.current.desc_management'}" class="mt15">${user?.expManagement?.description}</textarea>
    </div>

    <div class="profile-item clearFix">
        <label for="">&{'page.profile.current.exp_law'}<span class="small">&{'page.profile.current.skill_meta'}</span></label>
        <select name="currentUser.expLegal.level.id" class="cSelect" style="width:321px;">
            #{list items:models.UserLevel.findAll(), as:'level'}
                <option value="${level.id}" #{if user?.expLegal?.level?.id == level.id}selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level?.userLevel)}</option>
            #{/list}
        </select>
        <textarea name="currentUser.expLegal.description" placeholder="&{'page.profile.current.desc_law'}" class="mt15">${user?.expLegal?.description}</textarea>
    </div>

    <div class="profile-item clearFix">
        <label for="">&{'page.profile.current.exp_finance'}<span class="small">&{'page.profile.current.skill_meta'}</span></label>
        <select name="currentUser.expFinance.level.id" class="cSelect" style="width:321px;">
            #{list items:models.UserLevel.findAll(), as:'level'}
                    <option value="${level.id}" #{if user?.expFinance?.level?.id == level.id}selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level?.userLevel)}</option>
            #{/list}
        </select>
        <textarea name="currentUser.expFinance.description" placeholder="&{'page.profile.current.desc_finance'}" class="mt15">${user?.expFinance?.description}</textarea>
    </div>

    <div class="profile-item clearFix">
        <label for="">&{'page.profile.current.exp_it'}<span class="small">&{'page.profile.current.skill_meta'}</span></label>
        <select name="currentUser.expIT.level.id" class="cSelect" style="width:321px;">
            #{list items:models.UserLevel.findAll(), as:'level'}
                <option value="${level.id}" #{if user?.expIT?.level?.id == level.id}selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level?.userLevel)}</option>
            #{/list}
        </select>
        <textarea name="currentUser.expIT.description" placeholder="&{'page.profile.current.desc_it'}" class="mt15">${user?.expIT?.description}</textarea>
    </div>

    <div class="profile-item clearFix">
        <label for="">&{'page.profile.current.exp_other'}<span class="small">&{'page.profile.current.skill_meta'}</span></label>
        <select name="currentUser.expOther.level.id" class="cSelect" style="width:321px;">
            #{list items:models.UserLevel.findAll(), as:'level'}
                <option value="${level.id}" #{if user?.expOther?.level?.id == level.id}selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level?.userLevel)}</option>
            #{/list}
        </select>
        <textarea name="currentUser.expOther.description" placeholder="&{'page.profile.current.desc_other'}" class="mt15">${user?.expOther?.description}</textarea>
    </div>

    <div class="profile-item">
        <label for="">&{'page.profile.current.personal_cv'}<span class="small">&{'page.profile.current.cv_meta'}</span></label>
        <textarea name="currentUser.personalCV" placeholder="&{'page.profile.current.desc_cv'}">${user.personalCV}</textarea>
    </div>
    <button class="profile-btn">&{'page.profile.current.save_changes'}</button>
    </div>
    #{/form}

#{/else}