#{extends 'main_templeate.html' /} #{set title: user.name + " " + user.lastName /}

<h1 class="profile-h1">
&{'page.teamtrack.title'}
    <div>&{'page.teamtrack.hint'}:</div>
    <div class="team-track-form">
    #{form @UserController.teamtrack()}
        <select id="tt-country" name="country" class="cSelect" style="width:100px;">
            <option value="" #{if !country}selected="selected"#{/if}>&{'common.any.female'}</option>
            #{list items:utils.ModelUtils.getSortedCountries(), as:'acountry'}
                <option value="${acountry.id}" #{if country == acountry.id}selected="selected"#{/if}>&{'models.country.name.' + utils.ModelUtils.replaceSpacesForI18n(acountry.name)}</option>
            #{/list}
        </select>
        <label for="country">&{'page.common.country'}</label>
        <br/>
        <select id="tt-category" name="category" class="cSelect" style="width:100px;">
            <option value="" #{if category == null || category == 0}selected="selected"#{/if}>&{'page.teamtrack.category.general'}</option>
            <option value="1" #{if category == 1}selected="selected"#{/if}>&{'page.teamtrack.category.favourite'}</option>
            <option value="2" #{if category == 2}selected="selected"#{/if}>&{'page.teamtrack.category.blacklist'}</option>
        </select>
        <label for="category">&{'page.common.category'}</label>
    #{/form}
    </div>
</h1>

<div class="teamtrack-list">
    <ul class="search-result-list">
        #{group.tracktopics topics: topics, user: user /}
    </ul>
</div>

<script>
    $(document).ready(function(){
        var filterTopics = function (){
            $(".team-track-form").find("form").submit();
        };

        $('#tt-country').change(filterTopics);
        $('#tt-category').change(filterTopics);

        var $topicsDiv = $(".search-result-list");
        var loading = false;
        var offset = ${topics.size()} < 20 ? -1 : ${topics.size()};
        var loadMoreTopics = function () {
            if (offset > 0 && !loading && Utils.isScrolledToBottom()) {
                loading = true;
                $topicsDiv.append('<div class="ajax-loader"></div>');
                setTimeout(function(){
                    $.get('/tracktopics?country=${country}&category=${category}&offset=' + (offset+1),
                        function (data) {
                            $topicsDiv.find(".ajax-loader").remove();
                            $topicsDiv.append(data);

                            var $topicsFin = $topicsDiv.find(".last-topic");
                            if($topicsFin.length > 0){
                                $topicsFin.remove();
                                $(".no-topics").remove();
                                offset = -1;
                            } else {
                                offset = $topicsDiv.find(".search-result-item").length;
                                console.log("next offset = " + offset);
                            }
                            loading = false;

                            //if(onComplete) onComplete();
                        }
                    );
                }, 100);
            }
        };

        if($(".no-topics").length < 1){
            $(window).scroll(loadMoreTopics);
        }

        //setTimeout(function(){
        //    loadMoreTopics(function(){
        //        $(window).scroll(loadMoreTopics);
        //    });
        //}, 0);

    });
</script>
