#{extends 'search_templeate.html' /} #{set title:'search member' /} 
#{form @UsersSearch.memberSearch()} #{showError errors:errors /}

<div class="search_result">
				<h2>Пользователи</h2>
                <div class="shot_nav">
                	<table>
                      <tr>
                        <td  class="active">
     						<div class="group-shot">
 	                        	<a href="#">Личные данные</a>
							</div>
                        </td>
                        <td>
     						<div class="group-shot">						
 	                       		<a href="#">Склонности и интересы</a>
							</div>
                        </td>
                        <td class="last">
     						<div class="group-shot">						
  	  	                        <a href="#">Профессиональные</a>
							</div>
                        </td>
                      </tr>
                    </table>
                </div>
				
				<table class="search-result-block padding-7">
					<tr class="search-name">
						<td class="lft"><a href="#" class="current">Фамилия, Имя</a><span class="sort_up"></span></td>
						<td>Аватар</td>
						<td><a href="#">Страна</a><span class="sort"></span></td>
						<td><a href="#">Город</a><span class="sort"></span></td>
						<td><a href="#" class="current">Пол</a><span class="sort_down"></span></td>
						<td><a href="#">Лет</a><span class="sort"></span></td>
						<td><a href="#">Статус</a><span class="sort"></span></td>
						<td class="cntr">Инфо</td>
						<td class="cntr"><a href="#">Команда</a><span class="sort"></span></td>																															
					</tr>
					<tr class="search-result-item">
						<td><a href="">Владимир Жуковский</a></td>
						<td><a href=""><img src="@{'public/images/boilerplate/search/pic3.png'}" alt="" class="search-result-pic"></a></td>
                        <td>Беларусь</td>
						<td>Минск</td>
						<td><img src="@{'public/images/boilerplate/ico-man.gif'}" alt="">M</td>
						<td>23</td>
						<td>Онлайн</td>
						<td class="cntr"><span class="info"></span></td>
						<td class="cntr"><span class="team"></span></td>
					</tr>
					<tr class="search-result-item color-item">
						<td><a href="">Валентина Стрыкало</a></td>
						<td><a href=""><img src="@{'public/images/boilerplate/search/pic3.png'}" alt="" class="search-result-pic"></a></td>
                        <td>Беларусь</td>
						<td>Минск</td>
						<td><img src="@{'public/images/boilerplate/ico-woman.gif'}" alt="">F</td>
						<td>23</td>
						<td>Онлайн</td>
						<td class="cntr"><span class="info"></span></td>
						<td class="cntr"><span class="single"></span></td>
					</tr>
					
				</table>

				<br/>
                <table class="search-result-block padding-15">
					<tr class="search-name">
						<td><a href="#" class="current">Фамилия, Имя</a><span class="sort_up"></span></td>
						<td><span class="ic_predpr"></span><span class="sort"></span></td>
						<td><span class="ic_ideal"></span><span class="sort"></span></td>
						<td><span class="ic_communic"></span><span class="sort"></span></td>
						<td><span class="ic_pragmatic"></span><span class="sort"></span></td>
						<td><a href="#">Тип бизнеса</a><span class="sort"></span></td>
						<td><a href="#">Сфера</a><span class="sort"></span></td>
						<td class="cntr"><a href="#">Imternational</a><span class="sort"></span></td>
						<td class="cntr"><a href="#">Команда</a><span class="sort"></span></td>																															
					</tr>
					<tr class="search-result-item">
						<td><a href="">Владимир Жуковский</a></td>
						<td>45</td>
                        <td>77</td>
						<td>12</td>
						<td>0</td>
						<td>Онлайн</td>
						<td>Производство</td>
						<td class="cntr">Yes</td>
						<td class="cntr"><span class="team"></span></td>
					</tr>
					<tr class="search-result-item color-item">
						<td><a href="">Валентина Стрыкало</a></td>
						<td>45</td>
                        <td>77</td>
						<td>12</td>
						<td>0</td>
						<td>Неважно</td>
						<td>Торговля</td>
						<td class="cntr">No</td>
						<td class="cntr"><span class="single"></span></td>
					</tr>
					<tr class="search-result-item">
						<td><a href="">Владимир Жуковский</a></td>
						<td>45</td>
                        <td>77</td>
						<td>12</td>
						<td>0</td>
						<td>Оффлайн</td>
						<td>Услуги</td>
						<td class="cntr">Yes</td>
						<td class="cntr"><span class="team"></span></td>
					</tr>
					
				</table>
				
				<div class="icon_popup">
        			Навык "Управление"
    			</div>
				<table class="search-result-block padding-15">
					<tr class="search-name">
						<td><a href="#" class="current">Фамилия, Имя</a><span class="sort_up"></span></td>
						<td><span class="ic_marketing_active"></span><span class="sort_up"></span></td>
						<td><span class="ic_sale"></span><span class="sort"></span></td>
						<td><span class="ic_management_hover"></span><span class="sort"></span></td>
						<td><span class="ic_right"></span><span class="sort"></span></td>
						<td><span class="ic_finance"></span><span class="sort"></span></td>
						<td><span class="ic_it"></span><span class="sort"></span></td>
						<td><span class="ic_more"></span><span class="sort"></span></td>
						<td class="cntr"><a href="#">Команда</a><span class="sort"></span></td>																															
					</tr>
					<tr class="search-result-item">
						<td><a href="">Владимир Жуковский</a></td>
						<td><span class="ic_one"></span></td>
                        <td><span class="ic_two"></span></td>
						<td><span class="ic_three"></span></td>
						<td><span class="ic_four"></span></td>
                        <td><span class="ic_one"></span></td>
						<td><span class="ic_two"></span></td>
						<td><span class="ic_three"></span></td>
						<td class="cntr"><span class="team"></span></td>
					</tr>
					<tr class="search-result-item color-item">
						<td><a href="">Валентина Стрыкало</a></td>
						<td><span class="ic_one"></span></td>
                        <td><span class="ic_two"></span></td>
						<td><span class="ic_three"></span></td>
						<td><span class="ic_four"></span></td>
                        <td><span class="ic_one"></span></td>
						<td><span class="ic_two"></span></td>
						<td><span class="ic_three"></span></td>
						<td class="cntr"><span class="single"></span></td>
					</tr>
					<tr class="search-result-item">
						<td><a href="">Владимир Жуковский</a></td>
						<td><span class="ic_one"></span></td>
                        <td><span class="ic_two"></span></td>
						<td><span class="ic_three"></span></td>
						<td><span class="ic_four"></span></td>
                        <td><span class="ic_one"></span></td>
						<td><span class="ic_two"></span></td>
						<td><span class="ic_three"></span></td>
						<td class="cntr"><span class="team"></span></td>
					</tr>
				</table>
			</div>
			
			<aside class="criterion_search">
				<div class="criterion">
					<div class="ttl-block">
						<h3>Поиск участников</h3>
					</div>
					<div class="private_data">
						<div class="private">
							<a href="#">Личные данные</a><span class="dropdown_open"></span>
						</div>
						<div class="private-block" id="private-block">
							<form action="" class="private_form">
							<div class="private_form">
							<div class="private_item clearFix">
								<label for="">Страна</label>
								<select name="" id="" class="cSelect" style="width:160px;">
									<option value="">&{'unimportant'}</option> 
									#{list items:utils.ModelUtils.getSortedCountries(), as:'country'}
									<option value="${country.name}" #{if country.name==member?.country}selected="selected"#{/if}>&{'models.country.name.' + utils.ModelUtils.replaceSpacesForI18n(country?.name)}</option> 
									#{/list}
								</select>
							</div>
							<div class="private_item clearFix">
								<label for="">Город</label>
								<input id="" type="text" placeholder="Минск" value="Минск" name="city" style="width:150px;">
							</div>
							<div class="private_item clearFix">
  								<label class="clearFix" for="">Возраст</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for="">Пол</label>
								<select name="" id="" class="cSelect" style="width:160px;">
									<option value="">Выбрать</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for="">В команде</label>
								<select name="" id="" class="cSelect" style="width:160px;">
									<option value="">Неважно</option>
								</select>
							</div>
							</div>
							</form>
						</div>
					</div>
					<div class="interest">
						<a href="#">Склонности и интересы</a><span class="dropdown_open"></span>
					</div>
					<div class="private_data">
					<div class="private-block" id="private-block">
							<form action="" class="private_form">
							<div class="private_item clearFix">
								<label for=""><span class="ic_predpr_pas"></span>Предпринимательство</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for=""><span class="ic_ideal_pas"></span>Идеализм</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
  								<label class="clearFix" for=""><span class="ic_communic_pas"></span>Коммуникабельность</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for=""><span class="ic_pragmatic_pas"></span>Прагматика</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for="">Тип бизнеса</label>
								<select name="" id="" class="cSelect" style="width:160px;">
									<option value="">Выбрать</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for="">Сфера бизнеса</label>
								<select name="" id="" class="cSelect" style="width:160px;">
									<option value="">Неважно</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<input type="checkbox" name="" id="" class="check"/>
								<span class="speak">Говорит на английском </span>
							</div>
							</form>
						</div>
						</div>
						
					<div class="professional">
						<a href="#">Профессиональные</a><span class="dropdown_close"></span>
					</div>
					<div class="private_data">
					<div class="private-block" id="private-block">
					
							<form action="" class="private_form">
							<div class="private_item clearFix">
								<label for=""><span class="ic_marketing_pas"></span>Маркетинг / реклама</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for=""><span class="ic_sale_pas"></span>Продажи</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
  								<label class="clearFix" for=""><span class="ic_management_pas"></span>Управление</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for=""><span class="ic_right_pas"></span>Право</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for=""><span class="ic_finance_pas"></span>Финансы</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for=""><span class="ic_it_pas"></span>ИТ / программирование</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							<div class="private_item clearFix">
								<label for=""><span class="ic_more_pas"></span>Другое</label>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">От</option>
								</select>
								<span class="mdash fl">&mdash;</span>
								<select name="" id="" class="cSelect" style="width:67px;">
									<option value="">До</option>
								</select>
							</div>
							</form>
						</div>
					</div>
				</div>
				<div class="share">
					<div class="share-cont">
						<p><strong>Поделится</strong></p>
						<a href="" class="twitter">Twitter</a>
						<a href="" class="facebook">Facebook</a>
						<a href="" class="vk">Вконтакте</a>
					</div>
				</div>
			</aside>


 <div class="info_popup">
        <p>Если вы - фанат приключений Алисы в Стране чудес, то этот ресторан в Токио наверняка вам понравится. Интерьер его сделан полностью по мотивам знаменитой сказки Льюиса Кэролла.</p>
    </div>

<h2>Найти участника</h2>
<script type="text/javascript">
					$(document).ready(function () {
						$('.show-search a').click(function () {
							$('.show-search').hide();
							$('#search-block').css({visibility:'visible',position:'static',left:'0'});
							return false;
						});
						$('.search-close a').click(function () {
							$('.show-search').show();
							$('#search-block').css({visibility:'hidden',position:'absolute',left:'-9999px'});
							return false;
						});
					});
				</script>
<div class="show-search">
	<a href="#">Воспользоваться поиском еще раз</a>
</div>
<div class="search-block" id="search-block">
	<div class="search-form">
		<div class="search-item clearFix">
			<label for="">Страна</label> <select class="cSelect"
				name="member.country" style="width: 276px;">
				<option value="">&{'unimportant'}</option> 
				#{list items:utils.ModelUtils.getSortedCountries(), as:'country'}
				<option value="${country.name}" #{if country.name==member?.country}selected="selected"#{/if}>&{'models.country.name.' + utils.ModelUtils.replaceSpacesForI18n(country?.name)}</option> #{/list}
			</select>
		</div>
		<div class="search-item">
			<label for="">Город</label> <input type="text" name="member.city"
				value="${member?.city}" id="" placeholder="&{'unimportant'}" />
		</div>
		<div class="search-item clearFix">
			<label for="">Возраст</label> <input type="text" name="member.ageMin"
				id="" value="${member?.ageMin}" placeholder="&{'unimportant'}"
				style="width: 64px;" /> <span class="mdash">&mdash;</span> <input
				type="text" name="member.ageMax" id="" value="${member?.ageMax}"
				placeholder="&{'unimportant'}" style="width: 64px;" />
		</div>
		<div class="search-item clearFix">
			<label for="">Пол</label> <select name="member.sex" class="cSelect"
				style="width: 276px;">
				<option value="">&{'unimportant'}</option>
				<option value="true" #{if member?.sex== "true"}selected="selected"#{/if}>Мужской</option>
				<option value="false" #{if member?.sex== "false"}selected="selected"#{/if}>Женский</option>
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Состоит ли в команде</label> <select
				name="member.inCommand" class="cSelect" style="width: 276px;">
				<option value="">&{'unimportant'}</option>
				<option value="true" #{if member?.inCommand=="true"}selected="selected"#{/if}>Да</option>
				<option value="false" #{if member?.inCommand=="false"}selected="selected"#{/if}>Нет</option>
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Тип бизнеса</label> <select name="member.bissnessType"
				class="cSelect" style="width: 276px;">
				<option value="">&{'unimportant'}</option> 
				#{list items:models.BType.findAll(), as:'type'}
				<option value="${type.name}" #{if type.name==member?.bissnessType}selected="selected"#{/if}>&{'models.bType.name.' + utils.ModelUtils.replaceSpacesForI18n(type.name)}</option> 
				#{/list}
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Бизнес сфера</label> <select
				name="member.bissnessSphere" class="cSelect" style="width: 276px;">
				<option value="">&{'unimportant'}</option> 
				#{list items:models.BSphere.findAll(), as:'sphere'}
				<option value="${sphere.name}" #{if sphere.name==member?.bissnessSphere} selected="selected"#{/if}>&{'models.bSphere.name.' + utils.ModelUtils.replaceSpacesForI18n(sphere.name)}</option>
				#{/list}
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Маркетинг</label> <select class="cSelect"
				style="width: 276px;" name="member.marketing">
				<option value="">&{'unimportant'}</option> 
				#{list items:models.UserLevel.findAll(), as:'level'}
				<option value="${level.userLevel}" #{if level.userLevel==member?.marketing }selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level.userLevel)}</option>
				#{/list}
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Продажи/Переговоры</label> <select class="cSelect"
				style="width: 276px;" name="member.sale">
				<option value="">&{'unimportant'}</option> 
				#{list items:models.UserLevel.findAll(), as:'level'}
				<option value="${level.userLevel}" #{if level.userLevel==member?.sale }selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level.userLevel)}</option>
				#{/list}
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Менеджмент</label> <select class="cSelect"
				style="width: 276px;" name="member.management">
				<option value="">&{'unimportant'}</option> 
				#{list items:models.UserLevel.findAll(), as:'level'}
				<option value="${level.userLevel}" #{if level.userLevel==member?.management }selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level.userLevel)}</option>
				#{/list}
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Финансы</label> <select class="cSelect"
				style="width: 276px;" name="member.finance">
				<option value="">&{'unimportant'}</option> 
				#{list items:models.UserLevel.findAll(), as:'level'}
				<option value="${level.userLevel}" #{if level.userLevel==member?.finance }selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level.userLevel)}</option>
				#{/list}
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Право</label> <select class="cSelect"
				style="width: 276px;" name="member.legal">
				<option value="">&{'unimportant'}</option> 
				#{list items:models.UserLevel.findAll(), as:'level'}
				<option value="${level.userLevel}" #{if level.userLevel==member?.legal }selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level.userLevel)}</option>
				#{/list}
			</select>
		</div>
		<div class="search-item clearFix">
			<label for="">Программирование</label> <select class="cSelect"
				style="width: 276px;" name="member.it">
				<option value="">&{'unimportant'}</option> 
				#{list items:models.UserLevel.findAll(), as:'level'}
				<option value="${level.userLevel}" #{if level.userLevel==member?.it}selected="selected"#{/if}>&{'models.userLevel.userLevel.' + utils.ModelUtils.replaceSpacesForI18n(level.userLevel)}</option> #{/list}
			</select>
		</div>
		<div class="search-item">
			<label for="">Предприниматель</label> <input type="text"
				name="member.bmanMin" id="" value="${member?.bmanMin}"
				placeholder="&{'unimportant'}" style="width: 64px;" /> <span class="mdash">&mdash;</span>
			<input type="text" name="member.bmanMax" id=""
				value="${member?.bmanMax}" placeholder="&{'unimportant'}"
				style="width: 64px;" />
		</div>
		<div class="search-item clearFix">
			<label for="">Идеализм</label> <input type="text"
				name="member.idealMin" id="" value="${member?.idealMin}"
				placeholder="&{'unimportant'}" style="width: 64px;" /> <span class="mdash">&mdash;</span>
			<input type="text" name="member.idealMax" id=""
				value="${member?.idealMax}" placeholder="&{'unimportant'}"
				style="width: 64px;" />
		</div>
		<div class="search-item clearFix">
			<label for="">Коммуникация</label> <input type="text"
				name="member.comutMin" id="" value="${member?.comutMin}"
				placeholder="&{'unimportant'}" style="width: 64px;" /> <span class="mdash">&mdash;</span>
			<input type="text" name="member.comutMax" id=""
				value="${member?.comutMax}" placeholder="&{'unimportant'}"
				style="width: 64px;" />
		</div>
		<div class="search-item clearFix">
			<label for="">Прагматика</label> <input type="text"
				name="member.pragmatMin" id="" value="${member?.pragmatMin}"
				placeholder="&{'unimportant'}" style="width: 64px;" /> <span class="mdash">&mdash;</span>
			<input type="text" name="member.pragmatMax" id=""
				value="${member?.pragmatMax}" placeholder="&{'unimportant'}"
				style="width: 64px;" />
		</div>
		
		
		<div class="clearFix" style="margin-left: 100px">
			<button type="submit" class="search-btn search" style="margin: 0 0 0 0">Найти
				участника</button>
			<button type="reset" class="search-btn" style="margin: 0 0 0 0"
				onclick="$('input').val(''); $('.cSelect').each(function(n, element){ $('option:first', element).attr('selected', 'selected')}); $('.jquery-selectbox-currentItem').each(function(n, element){$(element).text('&{'unimportant'}')}) ; return false;">Очистить</button>
		</div>
		<div class="search-close">
			<a href="#">&#8593; <span>Свернуть поиск</span></a>
		</div>
	</div>
</div>
<div class="create-form">
                    <div class="box-radio">
                    	<input type="radio" name="member.orderBy" id="member.orderBybusinessman"  onclick="$('.search').click()" class="radio" value="businessman" #{if member?.orderBy=="businessman"}checked#{/if}/>
						<label for="member.orderBybusinessman" class="radio-btn">&{'businessman'}</label>
						<input type="radio" name="member.orderBy" id="member.orderByidealist"  onclick="$('.search').click()" class="radio" value="idealist" #{if member?.orderBy=="idealist"}checked#{/if}/>
						<label for="member.orderByidealist" class="radio-btn">&{'idealist'}</label>
						<input type="radio" name="member.orderBy" id="member.orderBycommunicant" onclick="$('.search').click()" class="radio" value="communicant" #{if member?.orderBy=="communicant"}checked#{/if}/>
						<label for="member.orderBycommunicant" class="radio-btn">&{'communicant'}</label>
						<input type="radio" name="member.orderBy" id="member.orderBypragmatist" onclick="$('.search').click()" class="radio" value="pragmatist" #{if member?.orderBy=="pragmatist"}checked#{/if}/>
						<label for="member.orderBypragmatist" class="radio-btn">&{'pragmatist'}</label>
						<input type="radio" name="member.orderBy" id="member.orderByage" onclick="$('.search').click()" class="radio" value="age"  #{if member?.orderBy=="age"}checked#{/if}/>
						<label for="member.orderByage" class="radio-btn">Возраст</label>
                    </div><br/>
                    
                    <div class="box-radio">
                    	<input type="radio" name="member.asc" id="member.asc" onclick="$('.search').click()" class="radio" value="true" #{if member?.asc}checked#{/if}/>
						<label for="member.asc" class="radio-btn">возрастанию</label>
						<input type="radio" name="member.asc" id="member.desc" onclick="$('.search').click()" class="radio" value="false" #{if !member?.asc}checked#{/if}/>
						<label for="member.desc" class="radio-btn">убыванию</label>
                    </div><br/>
                    </div>
#{/form}

<div class="ttl-search-result">Найдено ${paginator?.size()}
	участника</div>
<ul class="search-result-list">


	#{paginate.list items:paginator, as:'user'}
	<li class="search-result-item"><a href="">
		#{avatar.avatar user:user, cssClass:'search-result-pic', maleImg:'searchm.png', femaleImg:'searchf.png', avatarSize:85 /}
	</a>
		<div class="list-cont">
			<div class="search-profile-info">
				<h4 class="search-profile-name">
					<img src="@{'public/images/boilerplate/ico-man-big.png'}" alt=""><a
						href="@{UserController.index(user.id)}">${user?.name + " " +
						user?.lastName}</a><span>${user.age} лет</span>
				</h4>
				<p>&{'models.country.name.' + utils.ModelUtils.replaceSpacesForI18n(user?.country?.name)} / ${user?.city}</p>
				<p>
					Команда: #{if user?.command != null}<a href="@{GroupController.index(user.command?.id)}">${user?.command?.name}</a>#{/if} #{else}Не состоит#{/else}
				</p>
			</div>
			<ul class="search-profile-test">
				<li><span>${user.businessman}</span> &mdash;
					&{'businessman'}</li>
				<li><span>${user.idealist}</span> &mdash; &{'idealist'}</li>
				<li><span>${user.communicant}</span> &mdash; &{'communicant'}</li>
				<li><span>${user.pragmatist}</span> &mdash; &{'pragmatist'}</li>
			</ul>
		</div></li> #{/paginate.list}
</ul>
#{paginate.controls items:paginator /}

