#{if utils.SessionHelper.getCurrentUser(session) != null}
	#{extends 'main_templeate.html' /}
#{/if}
#{else}
	#{extends 'main_markup.html' /}
    <div class="board">
#{/else}
#{set title: messages.get('page.help.title') /}

    <h1>&{'page.help.title'}</h1>
    #{lang.newsLangSwitcher newsLang:userLang, href:"help"/}
    <div class="line-hr"></div>
    <p>&nbsp;</p>
    <p><a href="#testing">Тестирование и базовое самоопределение</a></p>
    <p><a href="#profile">Профиль участника платформы</a></p>
    <p><a href="#team">Создание своей команды</a></p>
    <p><a href="#team-admin">Администрирование команды</a></p>
    <p><a href="#team-members">Набор участников в свою команду</a></p>
    <p><a href="#find-members">Система поиска участников</a></p>
    <p><a href="#join-team">Вступление в уже существующие команды</a></p>
    <p><a href="#find-team">Система поиска команд</a></p>
    <p><a href="#team-auto-generation">Автоматическая генерация новых команд</a></p>
    <p><a href="#team-public-discussions">Открытые обсуждения команд</a></p>
    <p><a href="#team-private-discussions">Закрытые обсуждения команд</a></p>
    <p><a href="#private-messaging">Личные сообщения</a></p>
    <p><a href="#team-tracking">Добавление команд в &laquo;Избранное&raquo; и &laquo;Черный список&raquo;</a></p>
    <p><a href="#settings">Настройки: уведомления, звуковые эффекты и язык интерфейса</a></p>
    <p><a href="#news">Новости о платформе</a></p>
    <p><a href="#international-teams">Международные команды</a></p>
    <p><a href="#personal-meetings">Организация личных встреч</a></p>
    <p><a href="#platform-users">Участники платформы</a></p>
    <div class="line-hr"></div>
    <p>&nbsp;</p>

    <a name="testing"></a>
    <h2>Тестирование и базовое самоопределение</h2>
    <p>Всем участникам в момент регистрации необходимо пройти тестирование на определение базовой склонности к предпринимательству. В тесте специально заложена очень простая и сходу понятная логика, так как его основное предназначение &ndash; это личное самоопределение по отношению к предпринимательству. За основу при составлении вопросов были взяты высказывания и интервью успешных предпринимателей, где они говорят о ключевых качествах для достижения успеха: решительность, готовность к риску, упорство, ответственность, целеустремленность и еще 20 ключевых качеств.</p>
    <p>После регистрации и авторизации, в разделе &laquo;Мой профиль&raquo; появляется возможность пройти второе тестирование на определение ведущих&nbsp; предпринимательских наклонностей среди трех основных направлений (&laquo;Идеалисты&raquo;, &laquo;Коммуниканты&raquo;, &laquo;Прагматики&raquo;):</p>
    <p><img height="128" src="@{'/public/images/help/image001.jpg'}" width="623" /></p>
    <p>Методологическая основа для данного теста заключается в выделении трех ключевых функций, необходимых для создания и развития любого бизнеса:</p>
    <p><ol>
            <li>1 &ndash; Генерация эффективныхбизнес-идей;</li>
            <li>2 - Качественная реализация придуманных идей;</li>
            <li>3 &ndash; Успешное продвижение придуманных и реализованных идей.</li>
        </ol>
    <p>Обычно, у людей присутствует склонность к одному или двум из перечисленных необходимых аспектов. Поэтому вероятность достижения успеха значительно повышается в эффективно сформированной команде, где каждый занимается своим любимым делом для общего блага.</p>
    <p>Результаты прохождения тестирований можно увидеть в анкете каждого участника:</p>
    <p><img height="68" src="@{'/public/images/help/image002.jpg'}" width="623" /></p>
    <p>Важно понимать, что данные тесты оценивают не компетентность людей, а их склонности и интересы, то есть в каком направлении, при прочих равных, человек может быть более мотивированным к деятельности,полноценно раскрыться и самореализоваться.</p>
    <p>&nbsp;</p>

    <a name="profile"></a>
    <h2>Профиль участника платформы</h2>
    <p>Помимо тестирований, мы рекомендуем вам в первую очередь качественно заполнить раздел &laquo;Мой профиль&raquo;, где есть возможность кратко описать свой основной опыт и компетенции, при этом каждой из компетенций необходимо присвоить значение из выпадающего списка, которое в дальнейшем будет являться основой для общей системы поиска участников, позволяющей быстро находить нужных людей:</p>
    <p><img height="129" src="@{'/public/images/help/image003.jpg'}" width="623" /></p>
    <p>Также не забудьте загрузить свою фотографию, кликнув на соответствующее для нее место в левой навигационной панели.</p>
    <p>&nbsp;</p>

    <a name="team"></a>
    <h2>Создание своей команды</h2>
    <p>Создать свою команду может каждый, просто нажав на кнопку &laquo;Создать свою команду&raquo;:</p>
    <p><img height="99" src="@{'/public/images/help/image004.jpg'}" width="623" /></p>
    <p>В процессе создания своей команды постарайтесь рассказать о своей идее или проекте как можно больше подробностей, а также указать потребности в ключевых компетенциях, чтобы точнее найти подходящих единомышленников и партнеров в минимальные сроки. При этом вам не обязательно наличиебизнес-идеи, бизнес-плана или уже реализуемого проекта. Вполне достаточно и просто желания создать свой бизнес, а по ходу, в процессе обсуждений с потенциальными партнерами появится и все остальное.</p>
    <p>Если вы уже состоите в какой-либо команде, то для создания новой вам будет необходимо сначала выйти из состава текущей.В случаях, если вы являетесь администратором иной команды &ndash; передать права администратора другому участнику команды, либо исключить всех участников из ее состава и расформировать.</p>
    <p>Создатель своей команды автоматически становится ее администратором.</p>
    <p>&nbsp;</p>

    <a name="team-admin"></a>
    <h2>Администрирование команды</h2>
    <p>У каждой команды существует роль администратора, которая возлагается только на одного человека. Изначально администратором становится создатель команды, но при желании он может передать права администратора одному из участников команды в разделе &laquo;Участники&raquo;:</p>
    <p><img height="172" src="@{'/public/images/help/image005.jpg'}" width="623" /></p>
    <p>&nbsp;</p>
    <p>В этом же разделе администратор может удалить некоторых участников из команды.</p>
    <p>На администраторе лежит ряд важных функций, которые он реализует, в том числе по согласованию со всей командой:</p>
    <p>1 &ndash; Редактирование описания команды (ссылка для редактирования расположена в профиле команды прямо под ее названием);</p>
    <p>2 &ndash; Приглашение в команду новых участников;</p>
    <p>3 &ndash; Принятие или отклонение поступающих заявок на вступление в команду от новых участников;</p>
    <p>Кроме того, администратор должен следить за порядком в команде, для чего у него существует возможность удалять темы и сообщения других участников.</p>
    <p>Уведомления обо всех действиях администратора видны другим участникам команды, соответственно предполагается, что они должны производиться по общему согласованию. То есть другие участники команды также могут искать интересных партнеров на платформе и решать все аналогичные задачи, а администратор только является единым формальным центром реализации общих решений и предложений команды, чтобы избежать разрозненных действий и решений различных членов команды.</p>
    <p>Администратор может уйти из команды, только если передал права администратора другому участнику команды, либо если исключил всех участников из ее состава и расформировал.</p>
    <p>&nbsp;</p>

    <a name="team-members"></a>
    <h2>Набор участников в свою команду</h2>
    <p>Администратор команды (по умолчанию администратором является создатель команды) может приглашать в команду любых других участников платформы. Подходящих кандидатов для приглашения в команду можно найти через систему поиска участников, а также в ходе открытых обсуждений. Администратор может пригласить для вступления в свою команду и тех, кто уже находится в составе других команд, особенно если они были автоматически распределены в них.Автоматически сгенерированные команды можно легко распознать по стандартному названию &laquo;NewTeam&hellip;&raquo;.</p>
    <p>Администратор может пригласить любого участника платформы в свою команду со страницы просмотра его профиля, нажав соответствующую кнопку:</p>
    <p><img height="141" src="@{'/public/images/help/image006.jpg'}" width="623" /></p>
    <p>Тогда данный участник получит приглашение на платформе, а также уведомление о нем на свой E-mail, после чего сможет принять его, вступив в вашу команду, или отклонить.</p>
    <p>Также заинтересованные участники, нашедшие вашу команду в поиске или в ленте открытых обсуждений, могут сами подать заявку на вступление к вам в команду, после чего администраторсможетреализовать решение: добавить их в команду или отклонить заявки:</p>
    <p><img height="92" src="@{'/public/images/help/image007.jpg'}" width="623" /></p>
    <p>Уведомления обо всех поступивших, принятых и отклоненных администратором заявках приходят всем участникам данной команды.</p>
    <p>&nbsp;</p>

    <a name="find-members"></a>
    <h2>Система поиска участников</h2>
    <p>Система поиска участников, доступная по соответствующей ссылке в левой навигационной панели, имеет широкие возможности, чтобы найти нужных именно вам партнеров. Вы можете использовать разнообразные фильтры по всем ключевым критериям, находящиеся в правой панели поиска, а также сортировать участников по наиболее важному для вас критерию:</p>
    <p><img height="159" src="@{'/public/images/help/image008.jpg'}" width="623" /></p>
    <p>Не забудьте, что у вас есть возможность одновременно использовать для поиска сразу три вкладки, содержащие соответствующие данные по всем зарегистрированным участникам.</p>
    <p>&nbsp;</p>

    <a name="join-team"></a>
    <h2>Вступление в уже существующие команды</h2>
    <p>Присоединиться к уже существующим командам вы можете двумя способами:</p>
    <p>1 &ndash; Отправить свою заявку на вступление в понравившуюся команду, нажав на кнопку &laquo;Вступить в команду&raquo; со страницы просмотра ее профиля:</p>
    <p><img height="164" src="@{'/public/images/help/image009.jpg'}" width="623" /></p>
    <p>После того как вы отправили свою заявку, администратор данной команды может реализовать решение: принять вас или не принять вас в команду.</p>
    <p>2 &ndash; Администраторы и участники других команд могут сами найти вас через систему поиска партнеров, если вы качественно заполнили свой профиль, либо заметить в ходе открытых обсуждений и пригласить вступить в свою команду.</p>
    <p>Тогда вы получите уведомление о наличии приглашения от команды и сможете принять его, вступив в команду, или отклонить:</p>
    <p><img height="100" src="@{'/public/images/help/image010.jpg'}" width="623" /></p>
    <p>Важно понимать, что одновременно вы можете являться участником только одной команды. Для вступления в другую команду вам может быть необходимо выйти из состава существующей. В случаях, если вы являетесь администратором &ndash; передать права администратора другому участнику команды, либо исключить всех участников из ее состава и расформировать.</p>
    <p>&nbsp;</p>

    <a name="find-team"></a>
    <h2>Система поиска команд</h2>
    <p>Система поиска команд, доступная по соответствующей ссылке в левой навигационной панели имеет широкие возможности, чтобы найти интересные именно вам команды. Вы можете использовать разнообразные фильтры по всем ключевым критериям, находящиеся в правой панели поиска, а также сортировать команды по наиболее важному для вас критерию:</p>
    <p><img height="151" src="@{'/public/images/help/image011.jpg'}" width="623" /></p>
    <p>Не забудьте, что у вас есть возможность одновременно использовать для поиска сразу три вкладки, содержащие соответствующие данные по всем зарегистрированным командам.</p>
    <p>&nbsp;</p>

    <a name="team-auto-generation"></a>
    <h2>Автоматическая генерация новых команд.</h2>
    <p>На платформе работает механизм автоматического формирования новых команд из числа свободных участников. Новые команды автоматически создаются каждую неделю в субботу. Эти команды по своим возможностям ничем не отличаются от созданных самостоятельно. Администратор такой команды выбирается случайным образом из состава участников и может отредактировать базовое название &laquo;NewTeam&raquo;, изменить описание, приглашать и принимать новых участников, передать свои права администратора другому члену команды и так далее.</p>
    <p>Данная опция затрагивает только свободных участников без команды, но, при желании, может быть отключена ими в разделе &laquo;Мои настройки&raquo;:</p>
    <p><img height="127" src="@{'/public/images/help/image012.jpg'}" width="623" /></p>
    <p>Если&nbsp; вам не понравилась ваша автоматически сформированная команда, и вы не нашли в ней общих тем для обсуждения и сотрудничества, то всегда можно выйти из ее состава и принять участие в автоматическом формировании новых команд на следующей неделе, либо самостоятельно создать свою команду и пригласить в нее целевым образом интересных именно вам участников.</p>
    <p>&nbsp;</p>

    <a name="team-public-discussions"></a>
    <h2>Открытые обсуждения команд</h2>
    <p>Ключевым инструментом привлечения внимания к себе и своей команде на платформе, с целью выявления интересных потенциальных бизнес-партнеров является создание открытых обсуждений от лица своей команды, которые может создать любой участник команды, выбрав соответствующую опцию при создании им новой темы:</p>
    <p><img height="111" src="@{'/public/images/help/image013.jpg'}" width="623" /></p>
    <p>Созданные открытые обсуждения сразу выводятся наверх общей ленты открытых обсуждений, являющейся стартовой&nbsp; страницей для всех пользователей. Через данную функцию вы можете быстро рассказать всем о своей команде, идее, проекте, проблемах и так далее, чтобы в ходе обсуждений найти потенциальных партнеров и единомышленников, получить обратную связь и нужные советы:</p>
    <p><img height="121" src="@{'/public/images/help/image014.jpg'}" width="623" /></p>
    <p>Активное участие в открытых обсуждениях различных интересных команд также является хорошим инструментом для личного продвижения. Давая советы и грамотные предложения, вы можете продемонстрировать свою креативность и компетентность потенциальным партнерам.</p>
    <p>&nbsp;</p>

    <a name="team-private-discussions"></a>
    <h2>Закрытые обсуждения команд</h2>
    <p>Каждая созданная команда имеет закрытую часть для обсуждений внутри данной команды, то есть доступную только ее участникам:</p>
    <p><img height="219" src="@{'/public/images/help/image015.jpg'}" width="623" /></p>
    <p>Используя данную возможность, вы можете не бояться, что все увидят ваши идеи или информацию, не предназначенную для открытой публикации.</p>
    <p>&nbsp;</p>

    <a name="private-messaging"></a>
    <h2>Личные сообщения</h2>
    <p>Отправить личное сообщение любому участнику можно со страницы просмотра его профиля, нажав соответствующую кнопку:</p>
    <p><img height="141" src="@{'/public/images/help/image006.jpg'}" width="623" /></p>
    <p>Данное действие приведет к началу диалога, в ходе которого вы сможете обмениваться личными сообщениями с данным участником:</p>
    <p><img height="243" src="@{'/public/images/help/image016.jpg'}" width="623" /></p>
    <p>Список всех ваших открытых диалогов можно наблюдать во вкладке &laquo;Личные сообщения&raquo;, быстро переключаясь на любой из них.</p>
    <p>Уведомление о личных сообщениях происходит комплексным образом: на E-mail, на самой платформе в верхней панели участника, а также при помощи звукового эффекта.</p>
    <p>Таким образом, StartNewTeam сочетает в себе несколько различных вариантов для общения:</p>
    <p>1 &ndash; Личные сообщения и диалоги;</p>
    <p>2 &ndash; Общение в малых группах в закрытой части команд;</p>
    <p>3 &ndash; Публичное общение через создание и участие в открытых обсуждениях команд.</p>
    <p>&nbsp;</p>

    <a name="team-tracking"></a>
    <h2>Добавление команд в &laquo;Избранное&raquo; и &laquo;Черный список&raquo;</h2>
    <p>Вы можете добавить любую команду в &laquo;Избранное&raquo; или в &laquo;Черный список&raquo;, чтобы видеть или наоборот не видеть их темы в своем треке общих обсуждений команд. Поставить данную метку вы можете, кликнув на соответствующий значок перед названием каждой команды из ленты открытых обсуждений:</p>
    <p><img height="123" src="@{'/public/images/help/image017.jpg'}" width="623" /></p>
    <p>либо с индивидуальной страницы команды:</p>
    <p><img height="140" src="@{'/public/images/help/image018.jpg'}" width="623" /></p>
    <p>Таким образом, вы сможете отслеживать интересные вам команды и их открытые обсуждения или наоборот &ndash; не обращать внимания на неинтересные команды.</p>
    <p>&nbsp;</p>

    <a name="settings"></a>
    <h2>Настройки: уведомления, звуковые эффекты и язык интерфейса</h2>
    <p>В разделе &laquo;Мои Настройки&raquo; вы можете изменить свои личные данные, сменить пароль, настроить уведомления на E-mail, которые вы хотите получать, звуковые эффекты для уведомлений о личных сообщениях и активности внутри вашей команды, язык интерфейса, а также указать: хотите ли вы участвовать в автоматическом распределении по командам или нет.</p>
    <p>&nbsp;</p>

    <a name="news"></a>
    <h2>Новости о платформе</h2>
    <p>В разделе &laquo;Новости&raquo; публикуется актуальная информация о последних обновлениях, нововведениях и событиях платформы:</p>
    <p><img height="141" src="@{'/public/images/help/image019.jpg'}" width="623" /></p>
    <p>&nbsp;</p>

    <a name="international-teams"></a>
    <h2>Международные команды</h2>
    <p>StartNewTeam не ограничивает возможности создания команд рамками одной страны. Поэтому вы можете найти бизнес-партнеров из любой точки мира и организовать международную команду и бизнес, что особенно перспективно для развития всевозможных торговых отношений и сложных производственных цепочек.</p>
    <p>&nbsp;</p>

    <a name="personal-meetings"></a>
    <h2>Организация личных встреч</h2>
    <p>Участники платформы могут не ограничиваться только он-лайн общением, хотя современные коммуникационные технологии и позволяют уже создавать бизнесы, общаясь полностью и только он-лайн, особенно это касается ИТ-проектов.</p>
    <p>StartNewTeam создается не только для ИТ-бизнесов, но и для производства, торговли и так далее. Используя StartNewTeam, вы можете легко договориться о личной встрече с участниками платформы из вашего города, в ходе которой намного лучше узнать друг друга, обменяться опытом и решить все необходимые вопросы.</p>
    <p>&nbsp;</p>

    <a name="platform-users"></a>
    <h2>Участники платформы</h2>
    <p>Очевидно, что все перечисленные механизмы и возможности будут иметь смысл только при наличии на платформе достаточного количества активных&nbsp; людей, интересующихся созданием собственного бизнеса. Таких людей, потенциальных предпринимателей,которые думают и мечтают о своем деле,&nbsp; вокруг нас достаточно много &ndash; 15-20%, но они откладывают это &laquo;на потом&raquo; и в силу различных причин пока что не предпринимают никаких попыток.</p>
    <p>StartNewTeam предлагает таким людям еще один путь, инструмент и возможность для старта. Именно с командой единомышленников многие способны решиться на серьезные и рискованные шаги: восхождение на гору, прыжок с парашютом или создание собственного бизнеса.</p>
    <p>Вы можете внести свой вклад в развитие предпринимательства, рассказав о проекте своим друзьям, используя кнопки для социальных сетей, а также лично пригласить людей, которые, по вашему мнению, обладают способностями и желанием к созданию собственного бизнеса. И, кто знает, возможно, именно среди них вы в дальнейшем сможете найти бизнес-партнеров и для себя, чтобысовместно достигнуть делового успеха.</p>
    <p>В любом случае, чем больше людей будут слышать о бизнесе и предпринимательстве из разных источников, тем выше станет информированность и популярность данной деятельности, которая, в конечном счете, приведет к повышению предпринимательской активности, созданию новых бизнесов, росту экономики и качества жизни.</p>
#{if utils.SessionHelper.getCurrentUser(session) == null}
</div>
#{/if}