<footer class="ftr-page">
	<div class="inner">
		<p>&copy; &{'page.common.rights'}</p>
        *{hiding for testing and registration proccess}*
        #{if request.controller != 'LoginController'}
            <nav class="ftr-nav">
                <ul>
                    #{common.menu.footerItems /}
                </ul>
            </nav>
        #{/if}
	</div>
	<script>
		var internationalization = {
			password_repair: "${play.i18n.Messages.get("client.side.password_repair")}",
			system_enter: "${play.i18n.Messages.get("client.side.system_enter")}",
			need_participants: "${play.i18n.Messages.get("client.side.need_participants")}"
		}
        $(".content").click(function() {
            $('.logged-user-menu').hide('slow');
        });
	</script>
    #{include 'public/javascripts/metrics.inc.html'/}
</footer>