%{
    currentUser = models.User.findById(utils.SessionHelper.getCurrentUser(session)?.id);
    boolean groupAdmin = currentUser?.role == models.User.ROLE_GROUP_ADMIN;
    boolean groupMember = !groupAdmin && (currentUser?.command != null);
    boolean wasInviteToGroup = currentUser?.commandToInvite != null;
    boolean haveGroupOrInviteJoin = groupMember || wasInviteToGroup;
    countCommands = currentUser?.commandsForAprove == null ? 0 : currentUser?.commandsForAprove?.size();
    countUsers = currentUser?.command?.usersForAprove == null || groupMember ? 0 : currentUser?.command?.usersForAprove?.size();

    newMessages = controllers.MessageController.getUserNewMessages(currentUser?.id,null,0);
    newTeamEvents = controllers.GroupController.getNewTeamEvents(currentUser?.command?.id,0);
}%
<!--span id="msg-sound"></span-->
#{if currentUser.playSounds}
<audio id="msg-sound" preload="auto"><source src="@{'/public/sounds/new-msg.mp3'}" /></audio>
#{/if}
*{TODO make better!}*
#{if !(currentUser?.role == models.User.ROLE_INPERFECT_USER || currentUser?.role == models.User.ROLE_WITHOUT_BLANK)}
    <div class="logged clearFix">

        <div class="logged-team">
            #{if newTeamEvents}
                <a href="#" class="logged-team-ico act"></a>
                <span class="dialog-num">${newTeamEvents.size()}</span>
                <div class="dialog-popup logg-menu" style="display: none;">
                    <img src="@{'/public/images/boilerplate/logged-arrow2.png'}" alt="">
                    <ul id="popup-events-list">
                        #{list items:newTeamEvents, as:'event'}
                            #{if event_index > newTeamEvents.size() - 10}
                                <li>
                                    #{if event.action == models.TeamMemberActivity.Action.ACTION_NEW_MESSAGE.getId()}

                                        <a href="@{UserController.index(event.message?.from?.id)}" class="user-name-popup">${event.message?.from?.name} ${event.message?.from?.lastName}</a>
                                        <span>
                                            &{'work.panel.team.member.activity.10'}
                                            #{if event.topic?.mainTopic}
                                                #{if event.topic?.publicTopic}
                                                    <a href="@{GroupController.publicTopics(event.team?.id)}">
                                                        &{'work.panel.team.topic.main.public'}
                                                    </a>
                                                #{/if}
                                                #{else}
                                                    <a href="@{GroupController.groupTopics(event.team?.id)}">
                                                        &{'work.panel.team.topic.main.private'}
                                                    </a>
                                                #{/else}
                                            #{/if}
                                            #{else}
                                            <a href="@{GroupController.indexTopic(event.topic?.id, event.team?.id)}">
                                                ${event.topic?.name}
                                            </a>
                                            #{/else}:
                                        </span>
                                        <p><a href="@{GroupController.indexTopic(event.topic?.id, event.team?.id)}">${event.message?.text.limitTo(200)}</a></p>

                                    #{/if}
                                    #{elseif event.action == models.TeamMemberActivity.Action.ACTION_TOPIC_CREATED.getId()}

                                        <a href="@{UserController.index(event.user?.id)}" class="user-name-popup">
                                            ${event.user?.name} ${event.user?.lastName}
                                        </a>
                                        <span>&{'work.panel.team.member.activity.8'}</span>
                                        <div><a href="@{GroupController.indexTopic(event.topic?.id, event.team?.id)}">${event.topic.name}</a></div>

                                    #{/elseif}
                                    #{elseif event.action == models.TeamMemberActivity.Action.ACTION_TOPIC_DELETED.getId()}

                                        <a href="@{UserController.index(event.user?.id)}" class="user-name-popup">
                                            ${event.user?.name} ${event.user?.lastName}
                                        </a>
                                        <span>&{'work.panel.team.member.activity.9'}</span>
                                        <div>"${event.topicName}"</div>

                                    #{/elseif}
                                    #{else}

                                        <a href="@{UserController.index(event.user?.id)}" class="user-name-popup">
                                            ${event.user?.name} ${event.user?.lastName}
                                        </a>
                                        &{'work.panel.team.member.activity.' + event.action}

                                    #{/else}
                                </li>
                            #{/if}
                        #{/list}
                    </ul>
                    <div class="all-dialogs">
                        <a href="@{GroupController.index(currentUser?.command?.id)}">&{'work.panel.team.goto'}</a>
                    </div>
                </div>
            #{/if}
            #{else}
                #{if currentUser?.command}
                    <a href="@{GroupController.index(currentUser?.command?.id)}" class="logged-team-ico"></a>
                #{/if}
                #{else}
                    <a href="#" class="logged-team-ico"></a>
                #{/else}
            #{/else}
        </div>

        <div class="logged-message">
            #{if newMessages}
                <a href="#" class="logged-message-ico act"></a>
                <span class="dialog-num">${newMessages.size()}</span>
                <div class="dialog-popup logg-menu" style="display: none;">
                    <img src="@{'/public/images/boilerplate/logged-arrow2.png'}" alt="">
                    <ul id="popup-msg-list">
                    #{list items:newMessages, as:'msg'}
                        #{if msg_index > newMessages.size() - 10}
                            <li>
                                <a href="@{UserController.index(msg.from.id)}" class="user-name-popup">${msg.from.name} ${msg.from.lastName}</a>
                                <span>${msg.time.format(request)}</span>
                                <p><a href="@{MessageController.talk(msg.from.id, 1, 0)}">${msg.text.limitTo(200)}</a></p>
                            </li>
                        #{/if}
                    #{/list}
                    </ul>
                    <div class="all-dialogs"><a href="@{MessageController.index(currentUser?.id)}">
                        #{if newMessages.size() > 10}Просмотреть все#{/if}#{else}&{'page.dialogs.list'}#{/else}
                    </a></div>
                </div>
            #{/if}
            #{else}
                <a href="@{MessageController.index(currentUser?.id)}" class="logged-message-ico"></a>
            #{/else}
        </div>


        <div class="logged-event">
            #{if (countCommands + countUsers)}
                <a href="#"  class="logged-event-ico act"></a>

                <span class="event-num">${countCommands + countUsers}</span>

                <div class="event-popup logg-menu" style="display:none;">
                    <img src="@{'public/images/boilerplate/logged-arrow2.png'}" alt="">
                    <!--div class="event-popup-title">&{'page.main.home.events'}</div-->
                    <ul>
                        #{list items:currentUser?.commandsForAprove, as:'group'}
                            <li>
                                <span>&{'page.main.home.group_invite'}: <a href="@{GroupController.index(group.id)}">${group?.name}</a></span>
                                    #{if groupAdmin}
                                        <p><a class="btn btn-dis" href="javascript:void(0)" title="&{'page.main.home.msg1'}">&{'page.main.home.agree'}</a>
                                    #{/if}
                                    #{else}
                                        #{if haveGroupOrInviteJoin}
                                            <div class="approveInviteGroup"  style="display: none">
                                                <div class="overlay"></div>
                                                <div class="popup">
                                                    <h2>&{'page.main.home.msg2'}</h2>
                                                    <span>&{'page.main.home.msg3'}<br/></span>
                                                    <a class="btn" href="@{UserController.approveInviteGroup(group.id)}">&{'page.main.home.group_join'}</a>
                                                    <a href="#" class="btn" onclick="$('.approveInviteGroup').hide(); return false;" class="cancel">&{'common.cancel'}</a>
                                                </div>
                                            </div>
                                            <p><a href="#" class="btn" onclick="$('.approveInviteGroup').show(); return false;">&{'page.main.home.agree'}</a>
                                        #{/if}
                                        #{else}
                                            <p><a class="btn" href="@{UserController.approveInviteGroup(group.id)}">&{'page.main.home.agree'}</a>
                                        #{/else}
                                    #{/else}
                                    <a class="btn" href="@{UserController.declineInviteGroup(group.id)}">&{'page.main.home.reject'}</a>
                                </p>
                            </li>
                        #{/list}
                        #{if groupAdmin}
                            #{list items:currentUser?.command?.usersForAprove, as:'userForAprove'}
                                <li>
                                    <span><a href="@{GroupController.index(currentUser?.command?.id)}">&{'page.main.home.group_request'}</a></span>
                                    <a href="@{UserController.index(userForAprove.id)}">${userForAprove.name} ${userForAprove.lastName}</a>
                                    <p>
                                        <a class="btn" href="@{GroupController.approveJoin(userForAprove.id, currentUser?.command.id)}">&{'page.main.home.add'}</a>
                                        <a class="btn" href="@{GroupController.declineJoin(userForAprove.id, currentUser?.command.id)}">&{'page.main.home.reject'}</a>
                                    </p>
                                </li>
                            #{/list}
                        #{/if}
                    </ul>
                </div>
            #{/if}
            #{else}
                <a href="#" onclick="return false" class="logged-event-ico"></a>
            #{/else}
        </div>


        <div class="logged-user">
            <a href="#" class="act">
                #{avatar.avatar user:currentUser, cssClass:'user-pic', maleImg:'upm.png', femaleImg:'upf.png', avatarSize:27 /}
            </a>
            <div class="logged-user-menu logg-menu" style="display:none;">
                <img src="@{'public/images/boilerplate/logged-arrow2.png'}" alt="">
                <ul>
                    <li><a href="@{UserController.index(currentUser?.id)}">&{'page.main.home.my_profile'}</a></li>
                    #{if (currentUser?.command != null)}
                        <li><a href="@{GroupController.index(currentUser?.command?.id)}">&{'page.main.home.my_group'}</a></li>
                    #{/if}
                    <li><a href="@{LoginController.logout()}" class="logged-user-exit">&{'page.main.home.exit'}</a></li>
                </ul>
            </div>
        </div>
    </div>



<!--  POPUP MESSAGES TEMPLATES -->
<script id="msg-popup-tpl" type="text/x-handlebars-template">
    {{#if this.length}}
        <a href="#" class="logged-message-ico act"></a>
        <span class="dialog-num">{{ this.length }}</span>
        <div class="dialog-popup logg-menu" style="display: none;">
            <img src="@{'/public/images/boilerplate/logged-arrow2.png'}" alt="" />
            <ul id="popup-msg-list">
                {{#each this}}
                {{> singlePopupMsg}}
                {{/each}}
            </ul>
            <div class="all-dialogs"><a href="/{{ from.id }}/talks">{{#ifCond newMessages 10 1}}Просмотреть все{{else}}&{'page.dialogs.list'}{{/ifCond}}</a></div>
        </div>
    {{else}}
        <a href="/{{ from.id }}/talks" class="logged-message-ico"></a>
    {{/if}}
</script>

<script id="msg-popup-items-tpl" type="text/x-handlebars-template">
    {{#each this}}
        {{> singlePopupMsg}}
    {{/each}}
</script>

<script id="single-msg-popup-item-tpl" type="text/x-handlebars-template">
    <li>
        <a href="/{{ from.id }}" class="user-name-popup">{{from.name}} {{from.lastName}}</a>
        <span>{{formatTime time}}</span>
        <p><a href="/talks/{{ from.id }}">{{limitTo text 200}}</a></p>
    </li>
</script>



<!--  POPUP TEAM EVENTS TEMPLATES -->
<script id="events-popup-tpl" type="text/x-handlebars-template">
    {{#if this.length}}
        <a href="#" class="logged-team-ico act"></a>
        <span class="dialog-num">{{ this.length }}</span>
        <div class="dialog-popup logg-menu" style="display: none;">
            <img src="@{'/public/images/boilerplate/logged-arrow2.png'}" alt="" />
            <ul id="popup-events-list">
                {{#each this}}
                    {{> singlePopupEvent}}
                {{/each}}
            </ul>
            <div class="all-dialogs">
                <a href="@{GroupController.index(currentUser?.command?.id)}">&{'work.panel.team.goto'}</a>
            </div>
        </div>
    {{else}}
        <a href="@{GroupController.index(currentUser?.command?.id)}" class="logged-team-ico"></a>
    {{/if}}
</script>

<script id="events-popup-items-tpl" type="text/x-handlebars-template">
    {{#each this}}
        {{> singlePopupEvent}}
    {{/each}}
</script>

<script id="single-events-popup-item-tpl" type="text/x-handlebars-template">
    <li>
        {{#ifCond action ${models.TeamMemberActivity.Action.ACTION_NEW_MESSAGE.getId()} 0}}

            <a href="/{{ message.from.id }}" class="user-name-popup">{{ message.from.name }} {{ message.from.lastName }}</a>
            <span>
                &{'work.panel.team.member.activity.10'}
                    {{#if isMainTopic}}
                        {{#if isPublicTopic}}
                            <a href="/teams/{{ teamId }}/topics/public">&{'work.panel.team.topic.main.public'}</a>
                        {{else}}
                            <a href="/teams/{{ teamId }}/topics/private">&{'work.panel.team.topic.main.private'}</a>
                        {{/if}}
                    {{else}}
                        <a href="/teams/{{ teamId }}/topics/{{ topicId }}">{{ topicName }}</a>
                    {{/if}}:
            </span>
            <p><a href="/teams/{{ teamId }}/topics/{{ topicId }}">{{ limitTo message.text 200 }}</a></p>

        {{else}}

            {{#ifCond action ${models.TeamMemberActivity.Action.ACTION_TOPIC_CREATED.getId()} 0}}

                <a href="/{{ user.id }}" class="user-name-popup">{{ user.name }} {{ user.lastName }}</a>
                <span>&{'work.panel.team.member.activity.8'}</span>
                <div><a href="/teams/{{ teamId }}/topics/{{ topicId }}">{{ topicName }}</a></div>

            {{else}}

                {{#ifCond action ${models.TeamMemberActivity.Action.ACTION_TOPIC_DELETED.getId()} 0}}

                    <a href="/{{ user.id }}" class="user-name-popup">{{ user.name }} {{ user.lastName }}</a>
                    <span>&{'work.panel.team.member.activity.9'}</span>
                    <div>"{{ topicName }}"</div>

                {{else}}
                    <a href="/{{ user.id }}" class="user-name-popup">{{ user.name }} {{ user.lastName }}</a>
                    {{ teamActivity action }}
                {{/ifCond}}

            {{/ifCond}}

        {{/ifCond}}
    </li>
</script>



<script>
    $(document).ready(function(){
        var Templates = window.Templates || {};
        Templates.teamActivityMessages = [
            "&{'work.panel.team.member.activity.0'}",
            "&{'work.panel.team.member.activity.1'}",
            "&{'work.panel.team.member.activity.2'}",
            "&{'work.panel.team.member.activity.3'}",
            "&{'work.panel.team.member.activity.4'}",
            "&{'work.panel.team.member.activity.5'}",
            "&{'work.panel.team.member.activity.6'}",
            "&{'work.panel.team.member.activity.7'}",
            "&{'work.panel.team.member.activity.8'}",
            "&{'work.panel.team.member.activity.9'}",
            "&{'work.panel.team.member.activity.10'}"
        ];

        Templates.popupMsgTpl =      Handlebars.compile($("#msg-popup-tpl").html());
        Templates.popupMsgItemsTpl = Handlebars.compile($("#msg-popup-items-tpl").html());

        var singlePopupMsgTpl =      $("#single-msg-popup-item-tpl").html();
        //Templates.popupMsgItemTpl = Handlebars.compile(singlePopupMsgTpl);
        Handlebars.registerPartial("singlePopupMsg", singlePopupMsgTpl);

        Templates.popupEventTpl =       Handlebars.compile($("#events-popup-tpl").html());
        Templates.popupEventItemsTpl =  Handlebars.compile($("#events-popup-items-tpl").html());

        var singlePopupEventTpl =       $("#single-events-popup-item-tpl").html();
        //Templates.popupEventItemTpl = Handlebars.compile(singlePopupEventTpl);
        Handlebars.registerPartial("singlePopupEvent", singlePopupEventTpl);


        var toggleBarMenus = function(){
            var $thisPopup = $(this).parent().find('.logg-menu');
            $('.logg-menu').not($thisPopup).slideUp(300);
            $thisPopup.slideToggle(300);
        };

        $('.act').bind('click',toggleBarMenus);
        $('body').bind('click', function(e) {
            if($(e.target).closest('.logged').length == 0) {
                $('.logg-menu').slideUp(300);
            }
        });


        #{if !request.controller.equals("MessageController")}
            var lastUpdateTime = ${newMessages.size() > 0 ? newMessages.get(newMessages.size()-1)?.time : 0};
            if(!lastUpdateTime) lastUpdateTime = (new Date()).getTime();

            var fnRedrawPopup = function(data) {
                var cont = $("#popup-msg-list");
                if(cont.length){
                    cont.append(Templates.popupMsgItemsTpl(data));

                    var $msgs = cont.find('li');
                    if($msgs.length > 10){
                        cont.find('li:lt('+($msgs.length-10)+')').remove();
                    }

                    var counter = $(".logged-message").find(".dialog-num");
                    var msgCount = parseInt(counter.text())|| 0;
                    counter.html(msgCount + data.length);
                }else{
                    $(".logged-message").html(Templates.popupMsgTpl(data));
                    $(".logged-message-ico").bind('click',toggleBarMenus);
                }
            };

            Dynamics.Dialogs.startListen(${currentUser?.id}, null, lastUpdateTime, fnRedrawPopup);
        #{/if}

        #{if currentUser?.command}
            var lastUpdateEventTime = ${newTeamEvents.size() > 0 ? newTeamEvents.get(newTeamEvents.size()-1)?.actionDate.time : 0};
            if(!lastUpdateEventTime) lastUpdateEventTime = (new Date()).getTime();

            var fnRedrawEventsPopup = function(data) {
                var cont = $("#popup-events-list");
                if(cont.length){
                    cont.append(Templates.popupEventItemsTpl(data));

                    var $msgs = cont.find('li');
                    if($msgs.length > 10){
                        cont.find('li:lt('+($msgs.length-10)+')').remove();
                    }

                    var counter = $(".logged-team").find(".dialog-num");
                    var msgCount = parseInt(counter.text())|| 0;
                    counter.html(msgCount + data.length);
                }else{
                    $(".logged-team").html(Templates.popupEventTpl(data));
                    $(".logged-team-ico").bind('click',toggleBarMenus);
                }
                //TODO highlight events icon in working panel
            };

            Team.startNewEventsListening(${currentUser?.command?.id}, lastUpdateEventTime, fnRedrawEventsPopup);
        #{/if}
    });
</script>
#{/if}