%{
    def currentUser = utils.SessionHelper.getCurrentUser(session);
    boolean groupAdmin = currentUser?.role == models.User.ROLE_GROUP_ADMIN;
    boolean groupMember = !groupAdmin && (currentUser?.command != null);
    boolean wasInviteToGroup = currentUser?.commandToInvite != null;
    boolean haveGroupOrInviteJoin = groupMember || wasInviteToGroup;
    int countCommands = 0;
    int countUsers = 0;
    if(currentUser != null){
        countCommands = (models.User.findById(currentUser.id)?.commandsForAprove == null)? 0 : models.User.findById(currentUser?.id)?.commandsForAprove?.size();
        countUsers = ((models.User.findById(currentUser?.id).command?.usersForAprove == null) || (groupMember)) ? 0 : models.User.findById(currentUser?.id)?.command?.usersForAprove?.size();
    }
}%
*{TODO make better!}*
#{if !(currentUser.role == models.User.ROLE_INPERFECT_USER || currentUser.role == models.User.ROLE_WITHOUT_BLANK)}
    <div class="logged clearFix">
        <div class="logged-message">
            <a href="#" class="logged-message-ico"></a>
        </div>
        <div class="logged-event">
            <a href="#" onclick="$('.logged-user-menu').hide('slow'); $('.event-popup').show('slow'); return false;" class="logged-event-ico act"></a>
        #{if (countCommands + countUsers) > 0}
            <span class="event-num">${countCommands + countUsers}</span>
        #{/if}
            <div class="event-popup" style="display:none;">
                <img src="@{'public/images/boilerplate/logged-arrow2.png'}" alt="">
            &{'page.main.home.events'}
                <ul>
                #{list items:models.User.findById(currentUser.id).commandsForAprove, as:'group'}
                    <li>
                        <span><a href="@{GroupController.index(group.id)}">&{'page.main.home.group_invite'}: ${_group?.name}</a></span>
                        #{if groupAdmin}
                            <div title="&{'page.main.home.msg1'}">&{'page.main.home.agree'}</div>
                        #{/if}
                        #{else}
                            #{if haveGroupOrInviteJoin}
                                <p><a href="" onclick="$('.approveInviteGroup').show(); return false;">&{'page.main.home.agree'}</a></p>
                                <div class="approveInviteGroup"  style="display: none">
                                    <div class="overlay"></div>
                                    <div class="popup">
                                        <h2>&{'page.main.home.msg2'}</h2>
                                        <p>&{'page.main.home.msg3'}</p>
                                        <a class="btn" href="@{UserController.approveInviteGroup(group.id)}">&{'page.main.home.group_join'}</a>
                                        <a href="" onclick="$('.approveInviteGroup').hide(); return false;" class="cancel">&{'common.cancel'}</a>
                                    </div>
                                </div>
                            #{/if}
                            #{else}
                                <p><a href="@{UserController.approveInviteGroup(group.id)}">&{'page.main.home.agree'}</a></p>
                            #{/else}
                        #{/else}
                        <p><a href="@{UserController.declineInviteGroup(group.id)}">&{'page.main.home.reject'}</a></p>
                    </li>
                #{/list}
                #{if groupAdmin}
                    #{list items:models.User.findById(currentUser.id).command?.usersForAprove, as:'userForAprove'}
                        <li>

                            <span><a href="@{GroupController.index(currentUser.command?.id)}">&{'page.main.home.group_request'}</a></span>
                            <p><a href="@{UserController.index(userForAprove.id)}">${userForAprove.name} ${userForAprove.lastName}</a></p>
                            <p><a href="@{GroupController.approveJoin(userForAprove.id, currentUser.command.id)}">&{'page.main.home.add'}</a></p>
                            <p><a href="@{GroupController.declineJoin(userForAprove.id, currentUser.command.id)}">&{'page.main.home.reject'}</a></p>
                            </tr>

                        </li>
                    #{/list}
                #{/if}
                </ul>
            </div>
        </div>
        <div class="logged-user">
            <a href="#" onclick="$('.event-popup').hide('slow'); $('.logged-user-menu').show('slow'); return false;">
                #{avatar.avatar user:currentUser, cssClass:'user-pic', maleImg:'upm.png', femaleImg:'upf.png', avatarSize:27 /}
            </a>
            <div class="logged-user-menu" style="display:none;">
                <img src="@{'public/images/boilerplate/logged-arrow2.png'}" alt="">
                <ul>
                    <li><a href="@{UserController.index(currentUser?.id)}">&{'page.main.home.my_profile'}</a></li>
                    #{if (currentUser?.command != null)}
                        <li><a href="@{GroupController.index(currentUser?.command?.id)}">&{'page.main.home.my_group'}</a></li>
                    #{/if}
                    <li><a href="@{LoginController.logout()}" class="logged-user-exit">&{'page.main.home.exit'}</a></li>
                </ul>
            </div>
        </div>
    </div>
#{/if}