<div class="zapiska">
	<div class="block_user"> 
		#{blog.userLink post:_note, withDate:true/}
	</div>
	<div class="block_info">
		#{blog.avatar post:_note/}
		<div class="block_txt"><h3>${_note.title}</h3>
			#{verbatim}
				${_note.text}
			#{/verbatim}
		</div>
		<div class="zapiska_footer">
			<div class="zapiska_comments"><a href="@{PostController.showNote(_note?.id)}">${_note?.comments?.size()} комментариев</a></div>
			<div class="zapiska_ss">
				#{social id:_note.id, title:_note.title/}
			</div>
		</div>
	</div>
</div>