	%{
		userStatusLabel = "default";
		if (_post.status == 1) {
			userStatusLabel = "silver";
		}
		if (_post.status == 2) {
			userStatusLabel = "gold";
		}
		if (_post.status == 3) {
			userStatusLabel = "diamond";
		}
	%}

	#{if (utils.SessionHelper.getCurrentUser(session) != null && (utils.SessionHelper.getCurrentUser(session).role == models.User.ROLE_ADMIN || utils.SessionHelper.getCurrentUser(session).role == models.User.ROLE_COACHMEN_AUTHOR || utils.SessionHelper.getCurrentUser(session).role == models.User.ROLE_ALIEN_AUTHOR))
	 ||  _post.status == 0 || (utils.SessionHelper.getCurrentUser(session) != null && utils.SessionHelper.getCurrentUser(session).status >= _post.status)}
		<div class="block_${userStatusLabel}">
			<div class="block_name">
				<a href="/${_post?.getTypeTag()}">${_post?.getTypeName()}</a>
				<div><a href="post/${_post.id}">${_post?.title}</a></div>
			</div>
			<div class="block_photo">
				<a href="/post/${_post.id}"><img src="${_post?.preview_image_url}" alt="" width="190" height="135"/></a>
			</div>
			<div class="block_user">
				#{blog.userLink post:_post, withDate:true /}
			</div>
			<div class="block_info">	
				#{blog.avatar post:_post/}
				<div class="block_txt">${_post?.preview}</div>
			</div>
			<div class="block_comments">${_post?.comments.size()} комментариев <span>|</span> ${_post?.watched} просмотров</div>
		</div>
	#{/if}
	#{else}
		<div class="block_${userStatusLabel}">
			<div class="block_name">
				<a href="/${_post?.getTypeTag()}">${_post?.getTypeName()}</a>
				<div><a href="post/${_post.id}">${_post?.title}</a></div>
			</div>
			<div class="block_photo">
				<a href="/post/${_post.id}"><img src="${_post?.preview_image_url}" alt="" width="190" height="135"/></a>
			</div>
			<div class="block_user">
				<ul id="nav" class="usersubmenu">		
					<li>
						by #{blog.userLink post:_post, withDate:true /}
					</li>
				</ul>
			</div>
			<div class="block_info">
				#{blog.avatar post:_post/}
				<div class="block_txt">${_post?.preview}</div>
			</div>
			<div class="block_comments">${_post?.comments.size()} комментариев <span>|</span> ${_post?.watched} просмотров</div>
			<div class="lock"></div>
			#{if _post.status > 0}
				<div class="status_link"><a href="#"><img src="public/images/pattern/${userStatusLabel}.png" alt=""></a></div>
			#{/if}
		</div>
	#{/else}
