<div class="#{if _post.status == 0}
				blog_default
				#{/if}
				#{elseif _post.status == 1}
					blog_silver
				#{/elseif}
				#{elseif _post.status == 2}
					blog_gold
				#{/elseif}
				#{else}
					blog_diamond
				#{/else}">
	#{blog.avatar post:_post/}
	<div class="blog_user">
		#{blog.userLink post:_post, withDate:true /}
		<br>
		<span>инструктор</span>
	</div>
	<div class="blog_preview">
		<div>
			<p>
				<a href="post/${_post.id}"><b>${_post?.title}</b></a>
				<br>
				${_post?.preview}
			</p>
		</div>
	</div>
</div>