<h2>Записки</h2>
<script src="@{'/public/javascripts/jquery.scrollTo-min.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	
	function getFormattedDate(date){
		var str = date.split(' ');
		return str[0] + str[1] + ' ' + str[2];
	}
	
	var notesPage = 1;
	
	function nextNotes(){
		notesPage++;
		
		$.get('/application/nextNotes?page=' + notesPage, function(data) {
			var dataToParse = data + '';
			var params = $.parseJSON(dataToParse).params;
			var notes = params.result;
			var showNextNotes = params.showNextNotes;
			
			var resultsDiv = document.getElementById('resultsDiv');
			for(var i = 0; i < notes.length; i++){
				var note = notes[i];
				var divZapiska = document.createElement('div');
				divZapiska.setAttribute('class', 'zapiska');
				
				var divBlockUser = document.createElement('div');
				divBlockUser.setAttribute('class', 'block_user');
				
				var span = document.createElement('span');
				span.appendChild(document.createTextNode(getFormattedDate(note.postDate)));
				
				var href = '#';
				if(note.author.role == 1 || note.author.role == 0){
					var aUserLinkText = document.createTextNode(note.author.login)
					divBlockUser.appendChild(aUserLinkText);
				} else {
					var autorDiv = null;
					if(note.author.role == 2){
						autorDiv = document.createElement('div');
						autorDiv.setAttribute('class', 'autor');
					}
					var ulUser = document.createElement('ul');
					ulUser.setAttribute('id', 'nav');
					ulUser.setAttribute('class', 'usersubmenu');
					var liUser = document.createElement('li');
					var divUser = document.createElement('div');
					var ulDivUser = document.createElement('ul');
// 					var blogsLi = document.createElement('li');
// 					blogsLi.setAttribute('id', 'userBlogs');
					var notesLi = document.createElement('li');
					notesLi.setAttribute('id', 'userNotes');
					var articlesLi = document.createElement('li');
					articlesLi.setAttribute('id', 'userArticles');
					var coachmenTvLi = document.createElement('li');
					coachmenTvLi.setAttribute('id', 'userCoachmenTv');
					var productsLi = document.createElement('li');
					productsLi.setAttribute('id', 'userProducts');
					var hiddenInput = document.createElement('input');
					var aUserLinkText = document.createTextNode(note.author.login);
					hiddenInput.setAttribute('type', 'hidden');
					hiddenInput.setAttribute('value', '' + note.author.login );
					var aUserLink = document.createElement('a');
					aUserLink.setAttribute('href', href);
					if(note.author.role == 2){
						aUserLink.style.color = '#009DB0';
					}
					aUserLink.appendChild(aUserLinkText);
//  					ulDivUser.appendChild(blogsLi);
 					ulDivUser.appendChild(notesLi);
 					ulDivUser.appendChild(articlesLi);
 					ulDivUser.appendChild(coachmenTvLi);
 					ulDivUser.appendChild(productsLi);
 					divUser.appendChild(ulDivUser);
 					liUser.appendChild(hiddenInput);
					liUser.appendChild(aUserLink);
 					liUser.appendChild(divUser);
					ulUser.appendChild(liUser);
					
					if(autorDiv == null){
						divBlockUser.appendChild(ulUser);
					} else {
						autorDiv.appendChild(ulUser);
						divBlockUser.appendChild(autorDiv);
					}
 					$(ulUser).NavDropDown({				
 						showEffect:'slide&fade',				
 						duration:800,
 						beforeOpen: showUserInfo
 					});
				}
				divBlockUser.appendChild(span);
				
				var divBlockInfo = document.createElement('div');
				divBlockInfo.setAttribute('class','block_info');
				
				var divBlockAvatar = document.createElement('div');
				divBlockAvatar.setAttribute('class','block_avatar');
				
				var aUserImageLink = document.createElement('a');
				aUserImageLink.style.backgroundImage = "url('" + (note.author.photo_url == '' ? '/public/images/pattern/no_avatar.gif' :note.author.photo_url)  + "')";
				aUserImageLink.style.backgroundPosition = "left top";
				aUserImageLink.style.backgroundRepeat = "no-repeat";
// 				if(!(note.author.role == 1 || note.author.role == 0)){
// 					aUserImageLink.setAttribute('href', '/blogs?author=' + note.author.login);
// 				}
				
				var imgUserImage = document.createElement('img');
				imgUserImage.setAttribute('src', '/public/images/pattern/avatar_corner.png');
				
				aUserImageLink.appendChild(imgUserImage);
				divBlockAvatar.appendChild(aUserImageLink);
				
				var divBlockTxt = document.createElement('div');
				divBlockTxt.setAttribute('class','block_txt');
				
				var divBlockTxtH3 = document.createElement('h3');
				divBlockTxtH3Content = document.createTextNode(note.title);
				divBlockTxtH3.appendChild(divBlockTxtH3Content);
				
				var e = document.createElement('div');
				e.innerHTML = note.text;

				divBlockTxt.appendChild(divBlockTxtH3);
				while(e.firstChild) {
					divBlockTxt.appendChild(e.firstChild);
				}
				
				var divZapiskaFooter = document.createElement('div');
				divZapiskaFooter.setAttribute('class', 'zapiska_footer');
				
				var divZapiskaComments = document.createElement('div');
				divZapiskaComments.setAttribute('class', 'zapiska_comments');
				
				var aDivZapiskaComments = document.createElement('a');
				var commentsSize = document.createTextNode(note.commentsSize + ' комментариев');
				aDivZapiskaComments.appendChild(commentsSize);
				aDivZapiskaComments.setAttribute('href', '/note/' + note.postId);
				
				var divZapiskaSS = document.createElement('div');
				divZapiskaSS.setAttribute('class', 'zapiska_ss');
				
				//socials				
				var aSocialVkontakte = document.createElement('a');
				aSocialVkontakte.onclick = function () {
					window.open('http://vkontakte.ru/share.php?url=http://www.coachmen.ru/notes/' + note.postId + '&title=' + note.title, 'vkontakte', 'width=626, height=436'); return false;
				}
				aSocialVkontakte.setAttribute('rel', 'nofollow');
				aSocialVkontakte.setAttribute('href', '#');
				var aSocialVkontakteImg = document.createElement('img');
				aSocialVkontakteImg.setAttribute('src', '/public/images/pattern/vkontakte.jpg');
				aSocialVkontakteImg.setAttribute('title', 'Поделиться с друзьями ВКонтакте');
				aSocialVkontakte.appendChild(aSocialVkontakteImg);
				
				var aSocialLiveJ =  document.createElement('a');
				aSocialLiveJ.onclick = function () {
					window.open('http://www.livejournal.com/update.bml?event=http://coachmen.ru/notes/' + note.postId + '&amp;' + note.title, 'lj', 'width=626, height=436'); return false;
				}
				aSocialLiveJ.setAttribute('rel', 'nofollow');
				aSocialLiveJ.setAttribute('href', '#');
				var aSocialLiveJImg =  document.createElement('img');
				aSocialLiveJImg.setAttribute('src', '/public/images/pattern/lj.jpg');
				aSocialLiveJImg.setAttribute('title', 'Опубликовать в своем блоге livejournal.com');
				aSocialLiveJ.appendChild(aSocialLiveJImg);
				
				var aSocialMail =  document.createElement('a');
				aSocialMail.onclick = function () {
					window.open('http://connect.mail.ru/share?share_url=http://www.coachmen.ru/notes/' + note.postId, 'mmir', 'width=626, height=436'); return false;
				}
				aSocialMail.setAttribute('rel', 'nofollow');
				aSocialMail.setAttribute('href', '#');
				var aSocialMailImg =  document.createElement('img');
				aSocialMailImg.setAttribute('src', '/public/images/pattern/mailru.jpg');
				aSocialMailImg.setAttribute('title', 'Поделиться с друзьями Моего Мира на Mail.ru');
				aSocialMail.appendChild(aSocialMailImg);
				
				var aSocialFacebook =  document.createElement('a');
				aSocialFacebook.onclick = function () {
					window.open('http://www.facebook.com/sharer.php?u=http://www.coachmen.ru/notes/' + note.postId, 'facebook', 'width=626, height=436'); return false;
				}
				aSocialFacebook.setAttribute('rel', 'nofollow');
				aSocialFacebook.setAttribute('href', '#');
				var aSocialFacebookImg =  document.createElement('img');
				aSocialFacebookImg.setAttribute('src', '/public/images/pattern/facebook.jpg');
				aSocialFacebookImg.setAttribute('title', 'Поделиться с друзьями в Facebook');
				aSocialFacebook.appendChild(aSocialFacebookImg);
				
				var aSocialGoogle =  document.createElement('a');
				aSocialGoogle.onclick = function () {
					window.open('https://plusone.google.com/_/+1/confirm?hl=ru&url=http://www.coachmen.ru/notes/' + note.postId, 'gplusshare', 'width=626, height=436'); return false;
				}
				aSocialGoogle.setAttribute('rel', 'nofollow');
				aSocialGoogle.setAttribute('href', '#');
				var aSocialGoogleImg =  document.createElement('img');
				aSocialGoogleImg.setAttribute('src', '/public/images/pattern/ggl.gif');
				aSocialGoogle.setAttribute('title', 'Поделиться с друзьями в G+');
				aSocialGoogle.appendChild(aSocialGoogleImg);
				
				divZapiskaSS.appendChild(aSocialVkontakte);
				divZapiskaSS.appendChild(document.createTextNode(' '));
				divZapiskaSS.appendChild(aSocialLiveJ);
				divZapiskaSS.appendChild(document.createTextNode(' '));
				divZapiskaSS.appendChild(aSocialMail);
				divZapiskaSS.appendChild(document.createTextNode(' '));
				divZapiskaSS.appendChild(aSocialFacebook);
				divZapiskaSS.appendChild(document.createTextNode(' '));
				divZapiskaSS.appendChild(aSocialGoogle);
				divZapiskaComments.appendChild(aDivZapiskaComments);
				divZapiskaFooter.appendChild(divZapiskaComments);
				divZapiskaFooter.appendChild(divZapiskaSS);
				divBlockInfo.appendChild(divBlockAvatar);
				divBlockInfo.appendChild(divBlockTxt);
				divBlockInfo.appendChild(divZapiskaFooter);
				divZapiska.appendChild(divBlockUser);
				divZapiska.appendChild(divBlockInfo);
				resultsDiv.appendChild(divZapiska);
			}
			var divZapiskiLinks = $('.zapiski_links');
			jQuery.scrollTo('.zapiski_links', 700);
			divZapiskiLinks.remove();
			$('#resultsDiv').append(divZapiskiLinks);
			if(!params.showNextNotes){
				$('.showNextNotes').remove();
			}
		});
	}
</script>
#{list items:_notes, as:'note'}
	#{display_note note:note/}
#{/list}



<div class="zapiski_links">
	#{if _showNextNotes != null && _showNextNotes == true}<a class="showNextNotes" href="#" onclick="nextNotes(); return false;" style="float: left">Читать еще 10 записок</a>#{/if}
	<a href="@{Application.notes()}" style="float: right">Показать все записки </a>
</div>