<div class="submenu2">
	<a href="/" class="submenu2#{if _blogType?.symbolicName == 'main'}_active#{/if}"><div class="submenu2_home"></div></a>
	*{
	<a href="@{Application.blogs()}" class="submenu2#{if _blogType?.symbolicName == 'blogs'}_active#{/if}">Блоги</a>
	<span>|</span>
	}*
	<a href="@{Application.notes()}" class="submenu2#{if _blogType?.symbolicName == 'notes'}_active#{/if}">Записки</a>
	<span>|</span>
	<a href="@{Application.articles()}" class="submenu2#{if _blogType?.symbolicName == 'posts'}_active#{/if}">Статьи</a>
	<span>|</span>
	*{
	<a href="@{Application.reviews()}" class="submenu2#{if _blogType?.symbolicName == 'review'}_active#{/if}">Обзоры</a>
	<span>|</span>
	}*
	<a href="@{Application.coachmentv()}" class="submenu2#{if _blogType?.symbolicName == 'coachmentv'}_active#{/if}">Coachmen TV</a>
</div>