#{extends 'group_templeate.html' /} #{set title:'Edit Topic' /} 

<div class="tabs clearFix">
	<a href="@{GroupController.index(group.id)}" >Описание</a> <a href="@{GroupController.groupTopics(group.id)}" class="act">Обсуждения</a> <a
		href="@{GroupController.groupUsers(group.id)}" >Участники</a>
</div>



#{form @GroupController.saveEditTopic()} 
<input name="topic.id" value="${topic.id}" type="hidden">
#{showError errors:errors /}
<a href="@{GroupController.groupTopics(group.id)}" class="back"><span>&#8592;&nbsp;</span> К списку всех тем</a>
<div class="new-theme-ttl">Редактирование темы</div>
                <div class="create-theme">
                	<input type="text" name="topic.name" id="" value="${topic.name}" placeholder="Заголовок темы для обсуждения" />
                    <textarea name="topic.description" cols="" rows="">${topic.description}</textarea>
                   
                    
                    <button type="submit" class="create-theme-btn">Сохранить</button>
                    
                </div>


#{/form}