#{extends 'group_templeate.html' /} #{set title:'group Users' /}

%{
	boolean adminGroup = utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN; 
	boolean currentGroupAdmin = (utils.SessionHelper.getCurrentUser(session)?.command?.id == group.id) && (adminGroup); 
	boolean notInGroup = utils.SessionHelper.getCurrentUser(session)?.command == null; 
	boolean wasInviteToThisGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite?.id == group.id;
	boolean wasNotInviteToGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite == null;
	boolean wasInviteToOtherGroup = (utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null) && (utils.SessionHelper.getCurrentUser(session)?.commandToInvite?.id !=group.id);
 	boolean groupMember = (utils.SessionHelper.getCurrentUser(session)?.command?.id == group.id);
%}

#{if currentGroupAdmin}

<div class="tabs clearFix">
	<a href="@{GroupController.index(group.id)}" >Описание</a> <a href="@{GroupController.groupTopics(group.id)}">Обсуждения</a> <a
		href="@{GroupController.groupUsers(group.id)}" class="act">Участники</a>
</div>
	<div class="ttl-search-result2">Всего ${users?.size()} участников</div>
	<ul class="search-result-list">
	#{list items:users, as:'user'}
		<li class="search-result-item">
			<a href="">
			#{avatar.avatar user:user, cssClass:'search-result-pic', maleImg:'searchm.png', femaleImg:'searchf.png', avatarSize:85 /}
			</a>
			<div class="list-cont">
				<div class="search-profile-info">
					<h4 class="search-profile-name"><img src="@{'public/images/boilerplate/ico-man-big.png'}" alt=""><a href="@{UserController.index(user?.id)}">${user.name + " " + user.lastName}</a><span>${user.age} лет</span></h4>
					<p>&{'models.country.name.' + utils.ModelUtils.replaceSpacesForI18n(user?.country?.name)} / ${user.city}</p>
				</div>
				<ul class="search-profile-test">
					<li><span>${user.businessman}</span> &mdash; Предпринимательство</li>
					<li><span>${user.idealist}</span> &mdash; Идеализм</li>
					<li><span>${user.communicant}</span> &mdash; Комуникабельность</li>
					<li><span>${user.pragmatist}</span> &mdash; Прагматика</li>
					#{if currentGroupAdmin && (user.role != models.User.ROLE_GROUP_ADMIN)}
					<div class="search-profile-links">
					<a href="" onclick="$('.transferRights${user.id}').show(); return false;">Назначить администратором</a>
					<a href="" onclick="$('.remove${user.id}').show(); return false;">Удалить из группы</a>
					</div>
					<div class="transferRights${user.id}"  style="display: none">
						<div class="overlay"></div>
						<div class="popup">
						    	<h2>Передать права</h2>
						        <p>Вы уверены что хотите назначить пользователя <a href="@{UserController.index(user.id)}">${user.name} ${user.lastName}</a> администратором вашей команды?</p>
						        <a class="btn" href="@{GroupController.makeAdmin(user?.id)}">Назначить</a>
						        <a href="" onclick="$('.transferRights${user.id}').hide(); return false;" class="cancel">Отмена</a>
						</div>
					</div>
					<div class="remove${user.id}"  style="display: none">
						<div class="overlay"></div>
						<div class="popup">
						    	<h2>Удалить из группы</h2>
						        <p>Вы уверены что хотите удалить пользователя <a href="@{UserController.index(user.id)}">${user.name} ${user.lastName}</a> из вашей команды?</p>
						        <a class="btn" href="@{GroupController.removeUser(user?.id)}">Удалить</a>
						        <a href="" onclick="$('.remove${user.id}').hide(); return false;" class="cancel">Отмена</a>
						</div>
					</div>
					#{/if}
					
					
				</ul>
			</div>
		</li>
	#{/list}
	</ul>

#{/if}
#{else}

<div class="tabs clearFix">
	<a href="@{GroupController.index(group.id)}" >Описание</a> <a href="@{GroupController.groupTopics(group.id)}">Обсуждения</a> <a
		href="@{GroupController.groupUsers(group.id)}" class="act">Участники</a>
</div>
	<div class="ttl-search-result2">Всего ${users?.size()} участников</div>
	<ul class="search-result-list">
	#{list items:users, as:'user'}
		<li class="search-result-item">
			<a href="">
			#{avatar.avatar user:user, cssClass:'search-result-pic', maleImg:'searchm.png', femaleImg:'searchf.png', avatarSize:85 /}
			</a>
			<div class="list-cont">
				<div class="search-profile-info">
					<h4 class="search-profile-name"><img src="@{'public/images/boilerplate/ico-man-big.png'}" alt=""><a href="@{UserController.index(user?.id)}">${user.name + " " + user.lastName}</a><span>${user.age} лет</span></h4>
					<p>${user?.country?.name} / ${user.city}</p>
				</div>
				<ul class="search-profile-test">
					<li><span>${user.businessman}</span> &mdash; Предпринимательство</li>
					<li><span>${user.idealist}</span> &mdash; Идеализм</li>
					<li><span>${user.communicant}</span> &mdash; Комуникабельность</li>
					<li><span>${user.pragmatist}</span> &mdash; Прагматика</li>
				</ul>
			</div>
		</li>
	#{/list}
	</ul>
#{/else}
