#{extends 'group_templeate.html' /} #{set title:'topic messages' /}
%{
user = utils.SessionHelper.getCurrentUser(session);
long userId = user?.id;
boolean adminGroup = utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN;
boolean currentGroupAdmin = (utils.SessionHelper.getCurrentUser(session)?.command?.id == group.id) && (adminGroup);
boolean notInGroup = utils.SessionHelper.getCurrentUser(session)?.command == null;
boolean wasInviteToThisGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite?.id == group.id;
boolean wasNotInviteToGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite == null;
boolean wasInviteToOtherGroup = (utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null) && (utils.SessionHelper.getCurrentUser(session)?.commandToInvite?.id !=group.id);
boolean groupMember = (utils.SessionHelper.getCurrentUser(session)?.command?.id == group.id);
%}

<div class="tabs clearFix">
    <a href="@{GroupController.index(group.id)}" >&{'page.team.description'}</a>
    <a href="@{GroupController.publicTopics(group.id)}" #{if topic.publicTopic}  class="act" #{/if}>&{'page.team.public_discussion'}</a>
#{if (groupMember) || adminGroup}
    <a href="@{GroupController.groupTopics(group.id)}" #{if !topic.publicTopic}  class="act" #{/if}>&{'page.team.discussion'}</a>
#{/if}
    <a href="@{GroupController.groupUsers(group.id)}" >&{'page.team.members'}</a>
</div>

<script>
    function editEnabled(element){
        $(element).parent().parent().parent().find('.msg').show();
        $(element).parent().parent().parent().find('.msgRead').hide();
        return false;
    }
    function editDisabled(element){
        $(element).parent().parent().parent().find('.msg').hide();
        $(element).parent().parent().parent().find('.msgRead').show();
        return false;
    }

    $(document).ready(function(){
        $('.writeComment').autosize({append: "\n"});
    });
</script>


#{if topic.publicTopic}
<a href="@{GroupController.publicTopics(group.id)}" class="back"><span>&#8592;&nbsp;</span> &{'page.team.discuss.to_list'}</a>
#{/if}
#{else}
<a href="@{GroupController.groupTopics(group.id)}" class="back"><span>&#8592;&nbsp;</span> &{'page.team.discuss.to_list'}</a>
#{/else}
#{if userId == topic.createdUserId || adminGroup}
<div style="float: right">
    <a href="@{GroupController.editTopic(topic.id)}"><span class="theme-edit"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.edit_disc'}</span></span></a>
    <a href="@{GroupController.removeTopic(topic.id, group.id)}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_disc'}</span></span></a>
</div>
#{/if}
<div class="group-theme clearFix">
    <h2>${topic.name}
        <br/>
        <span class="theme_description">&{'page.team.discuss.created_by'} ${topic.createdUserName} ${topic.createdUserLastName}, ${utils.DateUtils.getFormatedStringDate(topic.createdDateTime, true)}</span>
    </h2>
    <div class="theme_description_l">
    #{avatar.avatar user:models.User.findById(topic.createdUserId), cssClass:'group-theme-dialog-pic', maleImg:'avam.png', femaleImg:'avaf.png', avatarSize:55 /}<br />
    </div>
    <div class="theme_description_r"><pre>${topic.description}</pre></div>
</div>

<!--div class="group-theme-dialog-ttl">&{'page.team.discuss.total_msgs_in',topicMessagesCount}</div-->
<div class="group-theme-dialog-ttl">&{'page.team.discuss.msgs_total'} <span class="topic-msgs-counter">${topicMessagesCount}</span> &{'page.team.discuss.msgs_entries'}</div>
<ul class="group-theme-dialog">
#{paginate.list items:topicMessages, as:'msg'}
    #{form @GroupController.editMsg()}
        <input name="msg.id" value="${msg.id}" type="hidden">
        <input name="topicId" value="${topic.id}" type="hidden">
        <input name="groupId" value="${group.id}" type="hidden">
        <li>
            #{avatar.avatar user:msg.from, cssClass:'group-theme-dialog-pic', maleImg:'avam.png', femaleImg:'avaf.png', avatarSize:55 /}
            <div class="group-theme-dialog-name">
                <a href="@{UserController.index(msg.from?.id)}">${msg.from.name + " " + msg.from.lastName}</a> ${utils.DateUtils.getFormatedStringDate(msg.createDate, true)}
                #{if userId == msg.from.id}
                    <span class="theme-edit" onclick="editEnabled(this);"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}"  alt="" onclick="editEnabled(this);">&{'page.team.discuss.edit_msg'}</span></span>
                    <a href="@{GroupController.removeMessage(msg.id, group.id)}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
                #{/if}
                #{elseif adminGroup}
                    <a href="@{GroupController.removeMessage(msg.id, group.id)}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
                #{/elseif}
            </div>
            <pre class="msgRead">${msg.text}</pre>
            <div style="display: none" class="msg">
                <div class="group-theme-dialog-form">
                    <textarea name="msg.text" style="height: 20px" class="writeComment" onBlur="setTimeout('writeEnabled(false)', 100);">${msg.text} </textarea>
                    <button type="submit" class="group-theme-btn">&{'page.team.discuss.save'}</button>
                    <button type="button" onclick="editDisabled(this);" class="group-theme-btn">&{'page.team.discuss.cancel'}</button>
                </div>
            </div>
        </li>
    #{/form}
#{/paginate.list}
</ul>
#{paginate.controls items:topicMessages /}

#{group.reply topic:topic, group:group, count:topicMessagesCount, action:'/groupcontroller/addmsgtotopic'/}


<script id="topic-msg-tpl" type="text/x-handlebars-template">
    {{#each this}}
    {{> singleTopicMsg}}
    {{/each}}
</script>

<script id="single-topic-msg-tpl" type="text/x-handlebars-template">
#{form @GroupController.editMsg()}
    <input name="msg.id" value="{{ id }}" type="hidden">
    <input name="topicId" value="${topic.id}" type="hidden">
    <input name="groupId" value="${group.id}" type="hidden">
    <li>
        {{#if from.hasAvatar}}
        <img src="${play.Play.configuration.getProperty("filestoreURL")}/avatars/{{ from.id }}/avatar_55.jpg" alt="" class="group-theme-dialog-pic">
        {{else}}
        <img src="/public/images/boilerplate/ava{{#if from.sex}}m{{else}}f{{/if}}.png" alt="" class="group-theme-dialog-pic">
        {{/if}}
        <div class="group-theme-dialog-name">
            <a href="/{{ from.id }}">{{from.name}} {{from.lastName}}</a> {{formatTime time}}
            {{#ifCond ${userId} from.id 0}}
                <span class="theme-edit" onclick="editEnabled(this);"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}"  alt="" onclick="editEnabled(this);">&{'page.team.discuss.edit_msg'}</span></span>
                <a href="/groupController/removeMessage?msgId={{id}}&groupId=${group.id}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
            {{else}}
            {{#if ${adminGroup}}}
                <a href="/groupController/removeMessage?msgId={{id}}&groupId=${group.id}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
            {{/if}}
            {{/ifCond}}
        </div>
        <pre class="msgRead">{{text}}</pre>
        <div style="display: none" class="msg">
            <div class="group-theme-dialog-form">
                <textarea name="msg.text" style="height: 20px" class="writeComment" onBlur="setTimeout('writeEnabled(false)', 100);">{{text}} </textarea>
                <button type="submit" class="group-theme-btn">&{'page.team.discuss.save'}</button>
                <button type="button" onclick="editDisabled(this);" class="group-theme-btn">&{'page.team.discuss.cancel'}</button>
            </div>
        </div>
    </li>
#{/form}
</script>

<script>
    $(document).ready(function(){
        var msgCount = ${topicMessagesCount} || 0;

        var Templates = window.Templates || {};
        var singleMsgTpl = $("#single-topic-msg-tpl").html();
        Templates.topicMsgsTpl = Handlebars.compile($("#topic-msg-tpl").html());
        Templates.topicMsgTpl = Handlebars.compile(singleMsgTpl);
        Handlebars.registerPartial("singleTopicMsg", singleMsgTpl);

        var $talksDiv = $(".group-theme-dialog");

        var $form = $("#topicMsgForm");
        var $msg = $form.find("textarea");
        var sendMsg = function(){
            var msg = $msg.val();
            if(msg){
                $.post("/groups/${group.id}/topics/${topic.id}/messages", $form.serialize(), function(data){
                    if(data.status != 200){
                        console.log("MESSAGE NOT SAVED");
                        return false;
                    }

                    /*var userMsg = {
                        "id": data.id,
                        "topic": ${topic.id},
                        "text": msg,
                        "time": new Date().getTime(),
                        "from": {
                            "id": ${user.id},
                            "name": "${user.name}",
                            "lastName": "${user.lastName}",
                            "sex": ${user.sex},
                            "email": "${user.email}",
                            "hasAvatar": ${user.haveAvatar}
                        },
                    };
                    $talksDiv.append(Templates.topicMsgTpl(userMsg));*/

                    $msg.val("");
                });
            }
        };

        var $form = $("#topicMsgForm");
        $msg.ctrlEnter("textarea", sendMsg);
        $form.find("button").bind("click", sendMsg);

        var lastUpdateTime = ${topicMessages.size() > 0 ? topicMessages.get(topicMessages.size()-1)?.createDate.getTime() : 0};
        if(!lastUpdateTime) lastUpdateTime = (new Date()).getTime();

        var fnDrawNewTopicMsg = function(data) {
            msgCount += data.length;
            $(".topic-msgs-counter").html(msgCount);
            $talksDiv.append(Templates.topicMsgsTpl(data));
        };

        Dynamics.Topics.startListen(${topic?.id}, lastUpdateTime, fnDrawNewTopicMsg);
    });
</script>
