#{extends 'group_templeate.html' /} #{set title:'StartNewTeam' /}
%{ 
	boolean adminGroup = utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN; 
	boolean currentGroupAdmin = (utils.SessionHelper.getCurrentUser(session)?.command?.id == group.id) && (adminGroup); 
	boolean notInGroup = utils.SessionHelper.getCurrentUser(session)?.command == null; 
	boolean wasInviteToThisGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite?.id == group.id;
	boolean wasNotInviteToGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite == null;
	boolean wasInviteToOtherGroup = (utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null) && (utils.SessionHelper.getCurrentUser(session)?.commandToInvite?.id !=group.id);
 	boolean groupMember = (utils.SessionHelper.getCurrentUser(session)?.command?.id == group.id);
%}

<div class="tabs clearFix">
	<a href="@{GroupController.index(group.id)}" class="act">&{'page.team.description'}</a> <a href="@{GroupController.publicTopics(group.id)}">&{'page.team.public_discussion'}</a> 
	#{if (groupMember) || (isAdmin)}
	<a href="@{GroupController.groupTopics(group.id)}">&{'page.team.discussion'}</a>
	#{/if}
	<a href="@{GroupController.groupUsers(group.id)}">&{'page.team.members'}</a>
</div>
<div class="group-info">
	<div class="group-info-ttl">&{'page.edit.team.team_desc'}</div>
	<div class="group-info-rate clearFix">
		<div>
			<strong>${group.businessman}</strong> &{'page.edit.team.businessman'}
		</div>
		<div>
			<strong>${group.idealist}</strong>  &{'page.edit.team.idealist'}
		</div>
		<div>
			<strong>${group.communicant}</strong> &{'page.edit.team.communicant'}
		</div>
		<div>
			<strong>${group.pragmatist}</strong> &{'page.edit.team.pragmatist'}
		</div>
	</div>
	<div class="group-info-rate-help">&{'page.edit.team.res_basis'}</div>
	<pre>${group.description}</pre>
</div>
<div class="group-vacancies-ttl">&{'page.create.team.need_prof_skills'}:</div>
<div class="group-vacancies">
	#{if (group.marketing != null) && (group.marketing?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.marketing_advertising'}</div>
			<pre>${group.marketing.descrition}</pre>
		</div>
	#{/if}
	#{if (group.trade != null) && (group.trade?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.sales_experience'}</div>
			<pre>${group.trade.descrition}</pre>
		</div>
	#{/if}
	#{if (group.management != null) && (group.management?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.management_experience'}</div>
			<pre>${group.management.descrition}</pre>
		</div>
	#{/if}
	#{if (group.finance != null) && (group.finance?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.finance_experience'}</div>
			<pre>${group.finance.descrition}</pre>
		</div>
	#{/if}
	#{if (group.legal != null) && (group.legal?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.law_experience'}</div>
			<pre>${group.legal.descrition}</pre>
		</div>
	#{/if}
	#{if (group.programming != null) && (group.programming?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.it_experience'}</div>
			<pre>${group.programming.descrition}</pre>
		</div>
	#{/if}
	#{if (group.otherSkill != null) && (group.otherSkill?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.others_experience'}: ${group.otherSkill.skillName}</div>
			<pre>${group.otherSkill.descrition}</pre>
		</div>
	#{/if}
	#{if (group.pragmatica != null) && (group.pragmatica?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.pragmatism_experience'}</div>
			<pre>${group.pragmatica.descrition}</pre>
		</div>
	#{/if}
	#{if (group.idealize != null) && (group.idealize?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.idealism_experience'}</div>
			<pre>${group.idealize.descrition}</pre>
		</div>
	#{/if}
	#{if (group.communication != null) && (group.communication?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">&{'page.create.team.communications_experience'}</div>
			<pre>${group.communication.descrition}</pre>
		</div>
	#{/if}
</div>
