#{extends 'group_templeate.html' /} #{set title:'Group' /}
%{ 
	boolean adminGroup = utils.SessionHelper.getCurrentUser(session)?.role == models.User.ROLE_GROUP_ADMIN; 
	boolean currentGroupAdmin = (utils.SessionHelper.getCurrentUser(session)?.command?.id == group.id) && (adminGroup); 
	boolean notInGroup = utils.SessionHelper.getCurrentUser(session)?.command == null; 
	boolean wasInviteToThisGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite?.id == group.id;
	boolean wasNotInviteToGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite == null;
	boolean wasInviteToOtherGroup = (utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null) && (utils.SessionHelper.getCurrentUser(session)?.commandToInvite?.id !=group.id);
 	boolean groupMember = (utils.SessionHelper.getCurrentUser(session)?.command?.id == group.id);
%}

<div class="tabs clearFix">
	<a href="@{GroupController.index(group.id)}" class="act">Описание</a> <a href="@{GroupController.groupTopics(group.id)}">Обсуждения</a> <a
		href="@{GroupController.groupUsers(group.id)}">Участники</a>
</div>
<div class="group-info">
	<div class="group-info-ttl">Описание команды</div>
	<div class="group-info-rate clearFix">
		<div>
			<strong>${group.businessman}</strong> Предпринимательство
		</div>
		<div>
			<strong>${group.idealist}</strong> Идеализм
		</div>
		<div>
			<strong>${group.communicant}</strong> Комуникабельность
		</div>
		<div>
			<strong>${group.pragmatist}</strong> Прагматика
		</div>
	</div>
	<div class="group-info-rate-help">* на основе данных об
		участниках команды</div>
	<pre>
		${group.description}
	</pre>
</div>
<div class="group-vacancies-ttl">Нам необходимы специалисты</div>
<div class="group-vacancies">
	#{if (group.marketing != null) && (group.marketing?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Маркетинг/Реклама/PR</div>
			<pre>${group.marketing.descrition}</pre>
		</div>
	#{/if}
	#{if (group.trade != null) && (group.trade?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Продажи/Переговоры</div>
			<pre>${group.trade.descrition}</pre>
		</div>
	#{/if}
	#{if (group.management != null) && (group.management?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Менеджмент</div>
			<pre>${group.management.descrition}</pre>
		</div>
	#{/if}
	#{if (group.finance != null) && (group.finance?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Финансы/Бух.учет</div>
			<pre>${group.finance.descrition}</pre>
		</div>
	#{/if}
	#{if (group.legal != null) && (group.legal?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Право/Налоги</div>
			<pre>${group.legal.descrition}</pre>
		</div>
	#{/if}
	#{if (group.programming != null) && (group.programming?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">IT/Программирование</div>
			<pre>${group.programming.descrition}</pre>
		</div>
	#{/if}
	#{if (group.otherSkill != null) && (group.otherSkill?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Другое: ${group.otherSkill.skillName}</div>
			<pre>${group.otherSkill.descrition}</pre>
		</div>
	#{/if}
	#{if (group.pragmatica != null) && (group.pragmatica?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Прагматичность</div>
			<pre>${group.pragmatica.descrition}</pre>
		</div>
	#{/if}
	#{if (group.idealize != null) && (group.idealize?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Идеалистичность</div>
			<pre>${group.idealize.descrition}</pre>
		</div>
	#{/if}
	#{if (group.communication != null) && (group.communication?.active)}
		<div class="group-vacancies-item">
			<div class="group-vacancies-name">Комуникабельность</div>
			<pre>${group.communication.descrition}</pre>
		</div>
	#{/if}
</div>
