#{extends 'group_templeate.html' /} #{set title:'main' /}
%{
user = utils.SessionHelper.getCurrentUser(session);
long userId = user?.id;
boolean adminGroup = user?.role == models.User.ROLE_GROUP_ADMIN;
boolean currentGroupAdmin = (user?.command?.id == group.id) && (adminGroup);
boolean notInGroup = user?.command == null;
boolean wasInviteToThisGroup = user?.commandToInvite?.id == group.id;
boolean wasNotInviteToGroup = user?.commandToInvite == null;
boolean wasInviteToOtherGroup = (user?.commandToInvite != null) && (user?.commandToInvite?.id !=group.id);
boolean groupMember = (user?.command?.id == group.id);
%}

<div class="tabs clearFix">
    <a href="@{GroupController.index(group.id)}" >&{'page.team.description'}</a>
    <a href="@{GroupController.publicTopics(group.id)}"  class="act">&{'page.team.public_discussion'}</a>
#{if groupMember || currentGroupAdmin}
    <a href="@{GroupController.groupTopics(group.id)}">&{'page.team.discussion'}</a>
#{/if}
    <a href="@{GroupController.groupUsers(group.id)}" >&{'page.team.members'}</a>
</div>

<script>
    function editEnabled(element){
        $(element).parent().parent().parent().find('.msg').show();
        $(element).parent().parent().parent().find('.msgRead').hide();
        $('.msg').find('.writeComment').autosize({append: "\n"});
        return false;
    }
    function editDisabled(element){
        $(element).parent().parent().parent().find('.msg').hide();
        $(element).parent().parent().parent().find('.msgRead').show();
        return false;
    }
</script>


<div class="search-result-name">
#{if (groupMember) || currentGroupAdmin}
    <a href="@{GroupController.createTopic(group.id)}" class="new-themes-btn"><img src="@{'public/images/boilerplate/ico-new-theme.gif'}" alt="">&{'page.team.discuss.create_team'}</a>
#{/if}
    <div class="ttl-search-result2-color">&{'page.team.discuss.count_topics', topicsCount}</div>
</div>


<ul class="search-result-list">
#{list items:topics, as:'topic'}
        #{if !topic.mainTopic}
    #{group.topic topic:topic, group:group, userId:userId, isAdmin:currentGroupAdmin/}
#{/if}
    #{/list}
</ul>
#{group.loadMore mainTopic:mainTopic, group:group, topicsCount:topicsCount, isPublic:true/}

#{group.replyViaAjax topic:mainTopic, group:group, count:mainTopicMsgCount, action:'/groupcontroller/addmsgtopublicmaintopic'/}

<ul class="group-theme-dialog">
#{list items:mainTopic?.messages, as:'msg'}
    #{form @GroupController.editPublicMainMsg()}
        <input name="msg.id" value="${msg.id}" type="hidden">
        <input name="topicId" value="${mainTopic.id}" type="hidden">
        <input name="groupId" value="${group.id}" type="hidden">
        <li>
            #{avatar.avatar user:msg.from, cssClass:'group-theme-dialog-pic', maleImg:'avam.png', femaleImg:'avaf.png', avatarSize:55 /}
            <div class="group-theme-dialog-name">
                <span class="user-online"><span class="st-${msg.from?.onlineStatus}"></span></span>
                <a href="@{UserController.index(msg.from?.id)}">${msg.from.name + " " + msg.from.lastName}</a> ${utils.DateUtils.getFormatedStringDate(msg.createDate, true)}
                #{if userId == msg.from.id}
                    <span class="theme-edit" onclick="editEnabled(this);"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}"  alt="" onclick="editEnabled(this);">&{'page.team.discuss.edit_msg'}</span></span>
                    <a href="@{GroupController.removePublicMainMessage(msg.id, group.id)}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
                #{/if}
                #{elseif currentGroupAdmin}
                    <a href="@{GroupController.removePublicMainMessage(msg.id, group.id)}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
                #{/elseif}
            </div>
            <pre class="msgRead">${msg.text.linkify().raw()}</pre>
            <div style="display: none" class="msg">
                <div class="group-theme-dialog-form">
                    <textarea name="msg.text" style="height: 20px" class="writeComment" onBlur="setTimeout('writeEnabled(false)', 100);">${msg.text} </textarea>
                    <button type="submit" class="group-theme-btn">&{'page.team.discuss.save'}</button>
                    <button type="button" onclick="editDisabled(this);" class="group-theme-btn">&{'page.team.discuss.cancel'}</button>
                </div>
            </div>
            <span class="likes">
                #{if msg.usersLiked}<span class="likes-count">${msg.usersLiked?.size()}</span>#{/if}
                #{if utils.ModelUtils.isOnList(user, msg.usersLiked)}<span class="like-it"></span>#{/if}
                #{else}<a href="#" class="like-it" data-msg-id="${msg.id}">nice!</a>#{/else}
            </span>
        </li>
    #{/form}
#{/list}
</ul>
#{common.pagination messagesCount:mainTopicMsgCount, extraParams:'&formAction=editpublicmainmsg&removeAction=removepublicmainmessage&mainTopicId='+mainTopic.id+'&groupId='+group.id, type:0/}



<script id="topic-msg-tpl" type="text/x-handlebars-template">
    {{#each this}}
      {{> singleTopicMsg}}
    {{/each}}
</script>

<script id="single-topic-msg-tpl" type="text/x-handlebars-template">
  #{form @GroupController.editPublicMainMsg()}
    <input name="msg.id" value="{{ id }}" type="hidden">
    <input name="topicId" value="${mainTopic.id}" type="hidden">
    <input name="groupId" value="${group.id}" type="hidden">
    <li>
        {{#if from.hasAvatar}}
        <img src="${play.Play.configuration.getProperty("filestoreURL")}/avatars/{{ from.id }}/avatar_55.jpg" alt="" class="group-theme-dialog-pic">
        {{else}}
        <img src="/public/images/boilerplate/ava{{#if from.sex}}m{{else}}f{{/if}}.png" alt="" class="group-theme-dialog-pic">
        {{/if}}
        <div class="group-theme-dialog-name">
            <span class="user-online"><span class="st-{{ from.status }}"></span></span>
            <a href="/{{ from.id }}">{{from.name}} {{from.lastName}}</a> {{formatTime time}}
            {{#ifCond ${userId} from.id 0}}
                <span class="theme-edit" onclick="editEnabled(this);"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}"  alt="" onclick="editEnabled(this);">&{'page.team.discuss.edit_msg'}</span></span>
                <a href="/groupController/removePublicMainMessage?msgId={{id}}&groupId=${group.id}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
            {{else}}
                {{#if ${currentGroupAdmin}}}
                <a href="/groupController/removePublicMainMessage?msgId={{id}}&groupId=${group.id}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
                {{/if}}
            {{/ifCond}}
        </div>
        <pre class="msgRead">{{linkify text}}</pre>
        <div style="display: none" class="msg">
            <div class="group-theme-dialog-form">
                <textarea name="msg.text" style="height: 20px" class="writeComment" onBlur="setTimeout('writeEnabled(false)', 100);">{{text}} </textarea>
                <button type="submit" class="group-theme-btn">&{'page.team.discuss.save'}</button>
                <button type="button" onclick="editDisabled(this);" class="group-theme-btn">&{'page.team.discuss.cancel'}</button>
            </div>
        </div>
        <span class="likes">
            {{#if usersLiked}}<span class="likes-count">{{/if}}
            {{#ifOnList ${user.id} usersLiked}}<span class="like-it"></span>{{else}}
            <a href="#" class="like-it" data-msg-id="{{ id }}">nice!</a>{{/ifOnList}}
        </span>
    </li>
  #{/form}
</script>

<script>
    $(document).ready(function(){
        var msgCount = ${mainTopicMsgCount} || 0;

        var Templates = window.Templates || {};
        var singleMsgTpl = $("#single-topic-msg-tpl").html();
        Templates.topicMsgsTpl = Handlebars.compile($("#topic-msg-tpl").html());
        Templates.topicMsgTpl = Handlebars.compile(singleMsgTpl);
        Handlebars.registerPartial("singleTopicMsg", singleMsgTpl);

        var $talksDiv = $(".group-theme-dialog");

        var $form = $("#topicMsgForm");
        var $msg = $form.find("textarea");
        var sendMsg = function(){
            var msg = $msg.val();
            if(msg){
                $.post("/teams/${group.id}/topics/${mainTopic.id}/messages", $form.serialize(), function(data){
                    if(data.status != 200){
                        alertify.alert(data.message);
                        return;
                    }

                    var userMsg = {
                        "id": data.id,
                        "topic": ${mainTopic.id},
                        "text": msg,
                        "time": new Date().getTime(),
                        "from": {
                            "id": ${user.id},
                            "name": "${user.name}",
                            "lastName": "${user.lastName}",
                            "sex": ${user.sex},
                            "email": "${user.email}",
                            "hasAvatar": ${user.haveAvatar},
                            "status": "${user.onlineStatus}"
                        },
                        usersLiked: []
                    };
                    $talksDiv.prepend(Templates.topicMsgTpl(userMsg));
                    msgCount++;
                    $(".topic-msgs-counter").html(msgCount);

                    $msg.val("");
                });
            }
        };

        $msg.ctrlEnter("textarea", sendMsg);
        $form.find("button").bind("click", sendMsg);

        var lastUpdateTime = ${mainTopic?.messages.size() > 0 ? mainTopic?.messages.get(0)?.createDate.getTime() : 0};
        if(!lastUpdateTime) lastUpdateTime = (new Date()).getTime();

        var fnDrawNewTopicMsg = function(data) {
            msgCount += data.length;
            $(".topic-msgs-counter").html(msgCount);
            $talksDiv.prepend(Templates.topicMsgsTpl(data));
        };

        Dynamics.Topics.startListen(${mainTopic?.id}, lastUpdateTime, fnDrawNewTopicMsg);
    });
</script>