#{extends 'main_markup.html'/}
<script src="@{'/public/javascripts/controllers/LoginController.js'}" charset="utf-8"></script>
%{
	def currentValidation = play.data.validation.Validation.current();
}%
<h1>&{'page.blankform.head', user?.name}</h1>
#{form @LoginController.blankFormPassed()}
	<input type="hidden" name="user.id" value="${user?.id}">
	<div class="test">
		<h3 class="profile-ttl">&{'page.blankform.personal_data'}</h3>
		#{ifErrors}
			<div class="blankForm">
				<div class="alert">
					#{errors}
	            		#{if errors_isLast}
	            			${error}
	            		#{/if}
						#{else}
							${error}<br/>
						#{/else}		            		
	            	#{/errors}
	             </div>
	        </div>
        #{/ifErrors}
		<div class="profile">
			<div class="form-item">
				<label for="">&{'page.blankform.name'}</label>
				<input type="text" #{if currentValidation?.hasError('user.name')}class="inputerror"#{/if} name="user.name" id="" value="${user?.name}"/>
			</div>
            <div class="form-item">
				<label for="">&{'page.blankform.surname'}</label>
				<input type="text" #{if currentValidation?.hasError('user.lastName')}class="inputerror"#{/if} name="user.lastName" id="" value="${user?.lastName}"/>
			</div>
			<div class="form-item clearFix">
				<label for="">&{'page.blankform.country'}</label>
				<select name="user.country.id" id="" class="cSelect" style="width:258px;">
					#{list items:utils.ModelUtils.getSortedCountries(), as:'country'}
						<option value="${country?.id}" #{if user?.country?.id == country?.id}selected#{/if}#{elseif country_index == 1}selected#{/elseif}>&{'models.country.name.' + utils.ModelUtils.replaceSpacesForI18n(country?.name)}</option>
					#{/list}
				</select>
			</div>
			<div class="form-item">
				<label for="user.city">&{'page.blankform.city'}</label>
				<input type="text" #{if currentValidation?.hasError('user.city')}class="inputerror"#{/if} name="user.city" id="" value="${user?.city}"/>
			</div>
			<div class="form-item">
				<label for="password">&{'page.blankform.password'}</label>
				<input id="user-pass" type="password" #{if currentValidation?.hasError('password')}class="inputerror"#{/if} name="password" value="${password}"
                       onchange="$('#user-pass-open').val($(this).val())"/>
				<input id="user-pass-open" type="text" #{if currentValidation?.hasError('password')}class="inputerror"#{/if} name="password" value="${password}" style="display:none"
                       onchange="$('#user-pass').val($(this).val())"/>
			</div>
            <div class="form-item">
				<label for=""></label>

				<input type="checkbox" onchange="if(this.checked){$('#user-pass').hide(); $('#user-pass-open').show();}else{$('#user-pass').show(); $('#user-pass-open').hide()}" />
                <span>&{'page.blankform.show.pass'}</span>
			</div>
		</div>
		<h3 class="profile-ttl">&{'page.blankform.professional_skills'}</h3>
		<div class="profile">
			<div class="form-item clearFix #{if currentValidation?.hasError('user.bType')}error#{/if}">
				<label for="">&{'page.blankform.interesting_btype'}</label>
				<select name="user.businessType.id" class="cSelect" style="width:258px;">
<!-- 					<option value=""></option> -->
					#{list items:models.BType.findAll(), as:'bType'}
						<option value="${bType?.id}" #{if user?.businessType?.id == bType?.id}selected#{/if}>&{'models.bType.name.' + utils.ModelUtils.replaceSpacesForI18n(bType?.name)}</option>
					#{/list}
				</select>
			</div>
			<div class="form-item clearFix #{if currentValidation?.hasError('user.bSphere')}error#{/if}">
				<label for="">&{'page.blankform.interesting_bsphere'}</label>
				<select name="user.businessSphere.id" class="cSelect" style="width:258px;">
<!-- 					<option value=""></option> -->
				 	#{list items:models.BSphere.findAll(), as:'bSphere'}
						<option value="${bSphere?.id}" #{if user?.businessSphere?.id == bSphere?.id}selected#{/if}>&{'models.bSphere.name.' + utils.ModelUtils.replaceSpacesForI18n(bSphere?.name)}</option>
					#{/list}	
				</select>
			</div>
            <div class="create-form">
                <label for="">&{'page.blankform.english'}</label>
                <div class="box-radio">
                    <input type="radio" name="user.english" id="englishY" class="radio" value="true">
                    <label for="englishY" class="radio-btn">&{'page.common.yes'}</label>
                    <input type="radio" name="user.english" id="englishN" class="radio" value="false" checked="">
                    <label for="englishN" class="radio-btn">&{'page.common.no'}</label>
                </div>
            </div>
			<div class="form-item">
				<label for="">&{'page.blankform.personal_characteristics'}<span class="small">&{'page.blankform.personal_characteristics.description'}</span></label>
				<textarea name="user.personalCV" placeholder="&{'page.blankform.personal_characteristics.placeholer'}">${user?.personalCV}</textarea>
			</div>
		</div>
		<div class="test-btm clearFix">
			<a href="" id="blankForm" class="test-btn">&{'page.blankform.register'}</a>
            <span class="reg-info">&{'page.blankform.rules'}</span>
		</div>
	</div>
#{/form}
