#{extends 'main_markup.html'/}
<h1>Вы прошли первый тест! Последний рывок перед регистрацией</h1>
<div class="test">
	<div class="test-results">
		<p>#{if alereadySavedUser.businessman < 26}
			&{'models.test.number1.result1', alereadySavedUser.businessman} 
		#{/if}
		#{elseif alereadySavedUser.businessman < 51}
			&{'models.test.number1.result2', alereadySavedUser.businessman}
		#{/elseif}
		#{elseif 76}
			&{'models.test.number1.result3', alereadySavedUser.businessman}
		#{/elseif}
		#{else}
			&{'models.test.number1.result4', alereadySavedUser.businessman}
		#{/else}Проверьте, пожалуйста, Ваш почтовый ящик. В письме указаны ваш логин и пароль, используйте их для авторизации на сайте для доступа к дальнейшей регистрации. </p>
		<ul class="social-likes" data-title="&{'models.test.number1.social.title'}" data-twit="&{'models.test.number1.social.text', alereadySavedUser.businessman}" data-description="&{'models.test.number1.social.text', alereadySavedUser.businessman}" data-url="${request.getBase()}" >
			<li class="facebook" title="Опубликовать ссылку на Фейсбуке">Facebook</li>
			<li class="twitter"  title="Опубликовать ссылку в Твиттере">Twitter</li>
			<li class="vkontakte" title="Опубликовать ссылку во Вконтакте">Вконтакте</li>
		</ul>
	</div>
	<div class="test-btm"><a href="${request.getBase()}/confirmRegistration?ticket=${alereadySavedUser.passwordHash}" class="test-btn">Перейти ко второму тесту</a></div>
</div>