#{extends 'main_markup.html'/}
<h1>&{'page.test1.passed.head'}</h1>
<div class="test">
	<div class="test-results">
		<p>#{if alreadySavedUser.businessman < 25}
			&{'models.test.number1.result1', alreadySavedUser.name, alreadySavedUser.businessman}
		#{/if}
		#{elseif alreadySavedUser.businessman < 50}
			&{'models.test.number1.result2', alreadySavedUser.name, alreadySavedUser.businessman}
		#{/elseif}
		#{elseif alreadySavedUser.businessman < 75}
			&{'models.test.number1.result3', alreadySavedUser.name, alreadySavedUser.businessman}
		#{/elseif}
		#{else}
			&{'models.test.number1.result4', alreadySavedUser.name, alreadySavedUser.businessman}
		#{/else} &{'page.test1.passed.see_mail'} </p>
		<ul class="social-likes" data-title="&{'page.test1.passed.social.title', alreadySavedUser.businessman}" data-twit="&{'page.test1.passed.social.text'}" data-description="&{'page.test1.passed.social.text'}" data-url="${request.getBase()}" >
			<li class="facebook" title="&{'page.common.social.public.fb'}">Facebook</li>
			<li class="twitter"  title="&{'page.common.social.public.twitter'}">Twitter</li>
			<li class="vkontakte" title="&{'page.common.social.public.vk'}">&{'page.common.social.vk'}</li>
		</ul>
	</div>
    <div class="test-btm"><a href="/blankform/" class="test-btn">&{'page.test1.passed.final_step'}</a></div>
</div>

