#{extends 'main_markup.html'/}
<script src="@{'/public/javascripts/controllers/LoginController.js'}" charset="utf-8"></script>
%{
	def currentValidation = play.data.validation.Validation.current();
}%
<h1>&{'page.notValidated.head', user?.name}</h1>
<div>
&{'page.notValidated.message'}
    <br/>
    <br/>
    <a href="#" id="resend-email">&{'page.notValidated.resend'}</a>
</div>
<script>
    $(document).ready(function(){
        $("#resend-email").bind('click', function(){
            $.getJSON('@{LoginController.resendConfirmationEmail}', function(data){
                if(data.status == 200){
                    alertify.alert("&{'page.notValidated.sent'}");
                } else {
                    alertify.alert("&{'page.notValidated.notsent'}");
                }
            })
        })
    })
</script>
