#{extends 'main_markup.html'/}
<h1>&{'page.test2.passed.title'}</h1>
<div class="test">
	<div class="test-results">
		<p>&{'page.test2.passed.results'}:</p>
		&{'page.test2.passed.idealist_result', currentUser?.idealist}<br><br>
        &{'page.test2.passed.communicant_result', currentUser?.communicant}<br><br>
        &{'page.test2.passed.pragmatist_result', currentUser?.pragmatist}<br><br>

        &{'page.test2.passed.recommendation'}
		<ul class="social-likes" data-title="&{'page.test2.passed.social.title'}"
            data-twit="&{'page.test2.passed.social.text', currentUser?.idealist, currentUser?.communicant, currentUser?.pragmatist}" data-image="http://www.startnewteam.com/public/images/facebook-logo.jpg"
            data-description="&{'page.test2.passed.social.text', currentUser?.idealist, currentUser?.communicant, currentUser?.pragmatist}" data-url="${request.getBase()}" >
			<li class="facebook" title="&{'page.common.social.public.fb'}">Facebook</li>
			<li class="twitter"  title="&{'page.common.social.public.twitter'}">Twitter</li>
			<li class="vkontakte" title="&{'page.common.social.public.vk'}">&{'page.common.social.vk'}</li>
		</ul>
	</div>
    <!--<div class="test-btm"><a href="/blankform/" class="test-btn">&{'page.test2.passed.final_step'}</a></div>-->
    <div class="test-btm"><a href="@{UserController.index(currentUser?.id)}" class="test-btn">&{'page.test2.passed.final_step'}</a></div>
</div>