@CHARSET "UTF-8";
.overlay {
	display: none;
}

.popup-enter{
	display: none;
}

#recoverEmailForm {
	display: none;
}

#userMessagePopup {
	display: none;
}

.inputerror {
  border: 1px solid #BC3030 !important;
}

.entry .error .man{
	border-color:#bc3030;
}

.entry .error .woman{
	border-color:#bc3030;
}

.entry .error .jquery-selectbox{
	border-color:#bc3030;
}

.entry .alert{
	background:#fff4d1;
	font:11px/18px Arial, Helvetica, sans-serif;
	color:#bc3030;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:15px 20px;
	margin:10px 0 -4px;
}

.firstTest {
  padding: 25px 30px;
  border-top: none;
}

.blankForm {
  padding: 25px 30px;
  margin-top: -30px;	
  border-top: none;
}

.blankForm .alert, .firstTest .alert {
	background:#fff4d1;
	font:11px/18px Arial, Helvetica, sans-serif;
	color:#bc3030;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:15px 20px;
	margin:10px 0 -4px;
}

.form-item.clearFix.error > .jquery-selectbox.jquery-custom-selectboxes-replaced {
	color:#bc3030;
	border-color:#bc3030; 
}

#blankForm {
    /*display: none;*/
    float: left;
}

.test .create-form label{
    position: relative;
}

.test .create-form .box-radio label{
    width: 20px;
    margin-right: 0;
}

/*.form-item.clearFix .box-radio{*/
    /*display:inline-block;*/
    /*margin:0 0 20px 7px;*/
    /*padding-left: 280px;*/
/*}*/

/*.form-item.clearFix .box-radio .radio-btn {*/
    /*color: #2583be;*/
    /*border-bottom: 1px dotted #2583be;*/
    /*cursor: pointer;*/
    /*margin: 6px 12px;*/
    /*display: inline-block;*/
    /*font: 14px/19px Arial, sans-serif;*/
/*}*/
/* line 485, ../scss/stl.scss */
/*.form-item.clearFix .box-radio .radio-btn:hover,*/
/*.form-item.clearFix .box-radio .radio:checked + .radio-btn {*/
    /*border: 1px solid #d7a70d;*/
    /*color: #626262;*/
    /*padding: 5px 11px;*/
    /*border-radius: 4px;*/
    /*margin: 0;*/
}