#{if utils.SessionHelper.getCurrentUser(session) != null}
	#{extends 'main_templeate.html' /}
#{/if}
#{else}
	#{extends 'main_info.html' /}
#{/else}
 #{set title:'StartNewTeam' /}
<h1>Новости проекта</h1>
<div class="page-news">
	<div class="news">
#{list items:newsList, as:'news'}

		<div class="news-item">
	         <a href="/news/${news?.id}"><img width="242" height="172" src="${news?.previewImageURL}" alt="${news?.title}" class="news-pic"></a>
	         <div class="news-date">#{common.formattedDate date:news?.creationDate/}</div>
	         <h2><a href="/news/${news?.id}">${news?.title}</a></h2>
	         <p>${news?.preview}</p>
		</div>

#{/list}
</div>
</div>
