#{if utils.SessionHelper.getCurrentUser(session) != null}
	#{extends 'main_templeate.html' /}
#{/if}
#{else}
	#{extends 'main_info.html' /}
#{/else}
 #{set title:'StartNewTeam' /}
%{
	def pageUrl = request.getBase() + request.path;
	def twit = pageUrl + ' ' + news?.title;
	if(twit?.length() > 140){
		twit = twit.subSequence(0, 135) + '...';
	}
}%
<h1><a href="@{NewsController.index()}">Новости проекта</a></h1>
<div class="page-news">
	<div class="news-txt">
	<div class="news-txt-date">#{common.formattedDate date:news?.creationDate /}</div>
		<h1>${news?.title}</h1>
		#{verbatim}
			${news?.value}
		#{/verbatim}
</div>
<div class="news-social">
	<ul class="social-likes" data-title="${news?.title}" data-twit="${twit}" #{if news?.previewImageURL}data-image="${news.previewImageURL}"#{/if} data-description="#{if news?.preview?.length() > 140}${news?.preview?.subSequence(0, 135) + '...'}#{/if}#{else}${news?.preview}#{/else}" data-url="${pageUrl}" >
		<li class="facebook" title="Опубликовать ссылку на Фейсбуке">Facebook</li>
		<li class="twitter"  title="Опубликовать ссылку в Твиттере">Twitter</li>
		<li class="vkontakte" title="Опубликовать ссылку во Вконтакте">Вконтакте</li>
	</ul>
</div>