#{extends 'main_templeate.html' /} #{set title: group?.name /}
%{
    currentUser = utils.SessionHelper.getCurrentUser(session)
	boolean adminGroup = currentUser?.role == models.User.ROLE_GROUP_ADMIN;
	boolean currentGroupAdmin = (currentUser?.command?.id == group.id) && (adminGroup);
	boolean notInGroup = currentUser?.command == null;
	boolean wasInviteToThisGroup = currentUser?.commandToInvite?.id == group.id;
	boolean wasNotInviteToGroup = currentUser?.commandToInvite == null;
	boolean wasInviteToOtherGroup = (currentUser?.commandToInvite != null) && (currentUser?.commandToInvite?.id !=group.id);
 	boolean currentGroupMember = (currentUser?.command?.id == group.id);

    isFav = utils.ModelUtils.isFavTeam(currentUser,group?.id)
    isBlack = utils.ModelUtils.isBlackTeam(currentUser,group?.id)
%}
	
<h2>
    <span class="fav-buttons-big">
        <a href="#" data-team="${group?.id}" class="topic-fav-link" #{if isFav || isBlack}style="display:none"#{/if}>
            <span class="topic-fav"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.teamtrack.tip.favor.add'}</span></span>
        </a>

        <a href="#" data-team="${group?.id}" class="topic-fav-link-hovered" #{if !isFav || isBlack}style="display:none"#{/if}>
            <span class="topic-fav"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.teamtrack.tip.favor.remove'}</span></span>
        </a>

        <a href="#" data-team="${group?.id}" class="topic-ban-link" #{if isFav || isBlack}style="display:none"#{/if}>
            <span class="topic-ban"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.teamtrack.tip.blacklist.add'}</span></span>
        </a>

        <a href="#" data-team="${group?.id}" class="topic-ban-link-hovered" #{if isFav || !isBlack}style="display:none"#{/if}>
            <span class="topic-ban"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.teamtrack.tip.blacklist.remove'}</span></span>
        </a>
    </span>
    ${group?.name}
</h2>
#{if currentGroupAdmin}
    <div class="links">
        <a href="@{GroupController.editGroup(group.id)}">&{'page.team.head.edit'}</a>
    </div>
#{/if}
<div class="group-shot-info">
    <table>
        <tr>
            <td>
                <div class="group-shot-info-user">
                    #{avatar.avatar user:group?.founderUser, cssClass:'group-shot-info-pic', maleImg:'upm.png', femaleImg:'upf.png', avatarSize:27 /}
                    <a href="@{UserController.index(group?.founderUser?.id)}" class="man">${group.founderUser?.name + " " + group.founderUser.lastName}</a>
                    <div><span class="user-online"><span class="st-${group.founderUser?.onlineStatus}">&{'common.status.' + group.founderUser?.onlineStatus}</span></span></div>
                    <div>#{common.formattedDate date:group?.regDate /}</div>
                </div>
            </td>
            <td>
                <div class="group-shot-info-place">
                    <div>&{'models.country.name.' + utils.ModelUtils.replaceSpacesForI18n(group?.country.name)} / ${group?.city}</div>
                    <div>
                        <span>&{'page.team.head.business'}:</span> &{'models.bType.name.' + utils.ModelUtils.replaceSpacesForI18n(group.type?.name)} / &{'models.bSphere.name.' + utils.ModelUtils.replaceSpacesForI18n(group.sphere.name)}
                    </div>
                    <div>
                        <span>&{'page.team.head.stage'}:</span> &{'models.ProjectPhase.name.' + utils.ModelUtils.replaceSpacesForI18n(group.phase?.name)}
                    </div>
                    <div>
                        <span>&{'page.team.head.globality'}:</span> #{if group.global} &{'page.common.yes'} #{/if} #{else} &{'page.common.no'} #{/else}
                    </div>
                </div>
            </td>
            <td>
                <div class="group-shot-info-people">
                    <strong>${group?.users?.size()}</strong> &{'page.team.head.members'}
                    #{if group?.isVacancy}
                    <span class="tooltip">
                        <span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.head.need_members'}</span>
                    </span>
                    #{/if}
                    <br/>

                    #{if adminGroup }
                        #{if !currentGroupMember}
                            <a	href="" onclick="return false;" title="&{'page.team.head.submit_administrator'}">&{'page.team.head.add'}</a>
                        #{/if}
                    #{/if}

                    #{if notInGroup && wasNotInviteToGroup}
                        <a	href=""  onclick="$('.sendNotif').show(); return false;">&{'page.team.head.add'}</a>
                    #{/if}
                    #{if !notInGroup && !currentGroupMember && !adminGroup}
                            <a href="" onclick="$('.joinGroup').show(); return false;">&{'page.team.head.add'}</a>
                            <div class="joinGroup"  style="display: none">
                            <div class="overlay"></div>
                            <div class="popup">
                                    <h2>&{'page.team.head.add'}</h2>
                                    <p>&{'page.team.head.leave_team_join'}</p>
                                    <a class="btn" href=""  onclick="$('.joinGroup').hide(); $('.sendNotif').show(); return false;">&{'page.common.yes'}</a>
                                    <a href="" onclick="$('.joinGroup').hide(); return false;" class="cancel">&{'page.common.no'}</a>
                            </div>
                        </div>
                    #{/if}
                    <div class="sendNotif"  style="display: none">
                        <div class="overlay"></div>
                        <div class="popup">
                            <h2>&{'page.team.head.add_to_team'}</h2>
                            #{form @UserController.joinGroup()}
                             <input name="groupId" value="${group.id}" type="hidden">
                             <div class="profile-item clearFix popup-formtxt">
                                <textarea name="text" cols="30" rows="5" class="mt15"></textarea>
                             </div>
                             <input type="submit" value="&{'page.team.head.join'}">
                             <a href=""  onclick="$('.sendNotif').hide(); return false;" class="cancel">&{'page.team.head.cancel'}</a>
                            #{/form}
                        </div>
                    </div>
                    #{if wasInviteToThisGroup} &{'page.team.head.requst_consideration'}
                    <a	href=""
                        onclick="$('.cancelJoinGroup').show(); return false">&{'page.team.head.unsubscribe'}</a>
                        <div class="cancelJoinGroup"  style="display: none">
                            <div class="overlay"></div>
                            <div class="popup">
                                    <h2>&{'page.team.head.cancel_request'}</h2>
                                    <p>&{'page.team.head.cancel_sure'}</p>
                                    <a class="btn" href="@{UserController.cancelJoinGroup(group.id)}">&{'page.common.yes'}</a>
                                    <a href="" onclick="$('.cancelJoinGroup').hide(); return false;" class="cancel">&{'page.common.no'}</a>
                            </div>
                        </div>
                    #{/if}
                    #{if !currentGroupAdmin && currentGroupMember}
                        <a href="" onclick="$('.exitGroup').show();return false;">&{'page.team.head.leave_team'}</a>
                        <div class="exitGroup"  style="display: none">
                            <div class="overlay"></div>
                            <div class="popup">
                                    <h2>&{'page.team.head.leave_team'}</h2>
                                    <p>&{'page.team.head.leave_sure'}</p>
                                    <a class="btn" href="@{UserController.exitGroup()}">&{'page.team.head.leave'}</a>
                                    <a href="" onclick="$('.exitGroup').hide(); return false;" class="cancel">&{'page.team.head.cancel'}</a>
                            </div>
                        </div>
                    #{/if}
                    #{if (group?.users?.size() == 1) && currentGroupAdmin && (group?.usersForAprove?.isEmpty())}
                        <a href="" onclick="$('.removeGroup').show(); return false;">&{'page.team.head.remove_team'}!</a>
                        <div class="removeGroup"  style="display: none">
                            <div class="overlay"></div>
                            <div class="popup">
                                    <h2>&{'page.team.head.remove_team'}</h2>
                                    <p>&{'page.team.head.remove_sure'}</p>
                                    <a class="btn" href="@{GroupController.removeGroup(group.id)}">&{'page.team.head.remove'}</a>
                                    <a href="" onclick="$('.removeGroup').hide(); return false;" class="cancel">&{'page.team.head.cancel'}</a>
                            </div>
                        </div>
                    #{/if}
                </div>
            </td>
        </tr>
    </table>
</div>

#{doLayout/}
