<!DOCTYPE HTML>
<html lang="${play.i18n.Lang.get()}">
<head>
	<meta charset="UTF-8">
	<title>#{get 'title'}#{/}</title>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/stl.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/content.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/custom.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/jquery.selectbox.css'}" />
	<!--[if IE]>	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>	<![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="@{'/public/javascripts/jquery.add.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script src="@{'/public/javascripts/jquery.selectbox.js'}" type="text/javascript" charset="utf-8"></script>
	<script src="@{'/public/javascripts/jquery.ocupload-1.1.2.js'}" type="text/javascript" charset="utf-8"></script>
	#{if request?.path.equals('/firstTestPassed') || request?.path.startsWith('/crowdfunding') || request?.path.startsWith('/news/') || request?.path.equals('/secondTestPassed')}
		<script src="@{'/public/javascripts/boilerplate/social-likes.js'}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/social-likes.css'}" />
	#{/if}<script>
$(document).ready(function() {
	/*placeholder*/
	$('input[placeholder], textarea[placeholder]').placeholder();
});
</script> 
</head>
<body>
%{
	boolean groupAdmin = utils.SessionHelper.getCurrentUser(session).role == models.User.ROLE_GROUP_ADMIN;
	boolean groupMember = !groupAdmin && (utils.SessionHelper.getCurrentUser(session).command != null);
	boolean notInGroup = utils.SessionHelper.getCurrentUser(session).command == null;
	boolean wasInviteToGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null;
	int countCommands = (models.User.findById(utils.SessionHelper.getCurrentUser(session).id).commandsForAprove == null)? 0 : models.User.findById(utils.SessionHelper.getCurrentUser(session).id).commandsForAprove.size();
	int countUsers = ((models.User.findById(utils.SessionHelper.getCurrentUser(session).id).command?.usersForAprove == null) || (groupMember)) ? 0 : models.User.findById(utils.SessionHelper.getCurrentUser(session).id).command?.usersForAprove.size();
	boolean haveGroupOrInviteJoin = groupMember || wasInviteToGroup;
%}
	<div class="wrapper inner-page">
		<header class="hdr-page">
			<div class="inner">
				#{lang.langSwitcher/}
				<a href="/">
					<img src="@{'public/images/boilerplate/logo-1.png'}" alt="" class="logo" />
				</a>
				#{common.menu.nav/}
                #{common.workingPanel group: group, userForAprove:userForAprove/}
			</div>
		</header>
	<div class="content wrap-inner clearFix" >
		<aside class="user-block">
			<div class="user-profile">
				<a href="@{UserController.index(utils.SessionHelper.getCurrentUser(session)?.id)}" class="man">
					#{avatar.avatar user:utils.SessionHelper.getCurrentUser(session), cssClass:'user-pic', maleImg:'avam.png', femaleImg:'avaf.png', avatarSize:55 /}
					<div class="user-name">
						<h3>${utils.SessionHelper.getCurrentUser(session)?.name + " "
							+ utils.SessionHelper.getCurrentUser(session)?.lastName}</h3>
					</div>
				</a>
				<br/>
				<nav class="user-menu">
					<ul>
						<li><a href="@{UsersSearch.memberSearch()}">&{'page.profile.find_participant'}</a></li>
						<li><a href="@{CommandsSearch.groupSearch()}">&{'page.profile.find_command'}</a></li>
                    	<li><a href="/news">&{'link.news'}</a></li>
					</ul>
				</nav>
			</div>
			
          	#{if groupMember}
          		<div class="user-group">
					<div class="user-group-cont">
						<p>
							&{'page.profile.warning2'}
						</p>
						<a href="" onclick="$('.createGroup').show(); return false;" class="add-group"><img
							src="@{'public/images/boilerplate/ico-plus.gif'}" alt="">&{'page.profile.create_command'}</a>
							<div class="createGroup"  style="display: none">
												<div class="overlay"></div>
												<div class="popup">
												    	<h2>&{'page.profile.create_command'}</h2>
												        <p>&{'page.profile.warning3'}?</p>
												        <a class="btn" href="@{GroupController.createGroup()}">&{'page.profile.create'}</a>
												        <a href="" onclick="$('.createGroup').hide(); return false;" class="cancel">&{'page.profile.cancel'}</a>
												</div>
											</div>
					</div>
				</div>
         	#{/if}
          	#{if notInGroup && !wasInviteToGroup}
          		<div class="user-group">
					<div class="user-group-cont">
						<p>
							&{'page.profile.warning4', '/commandssearch/groupsearch'}
						</p>
						<a href="@{GroupController.createGroup()}" class="add-group"><img
							src="@{'public/images/boilerplate/ico-plus.gif'}" alt="">&{'page.profile.create_own_command'}</a>
					</div>
				</div>
         	#{/if}
          	#{if notInGroup && wasInviteToGroup}
          		<div class="user-group">
					<div class="user-group-cont">
						<p>
							&{'page.profile.warnnig5'}
						</p>
						<a href="" onclick="$('.createGroupD').show(); return false;" class="add-group"><img
							src="@{'public/images/boilerplate/ico-plus.gif'}" alt="">&{'page.profile.create_own_command'}</a>
							<div class="createGroupD"  style="display: none">
												<div class="overlay"></div>
												<div class="popup">
												    	<h2>&{'page.profile.create_command'}</h2>
												        <p>&{'page.profile.warning6'}?</p>
												        <a class="btn" href="@{GroupController.createGroup()}">&{'page.profile.create'}</a>
												        <a href="" onclick="$('.createGroupD').hide(); return false;" class="cancel">&{'page.profile.cancel'}</a>
												</div>
											</div>
					</div>
				</div>
          	#{/if}
          	#{if groupMember || groupAdmin}
          		<div class="user-group">
					<div class="ttl-block">
						<h3>&{'page.profile.my_group'}</h3>
					</div>
					<div class="user-group-cont">
						<a
						href="@{GroupController.index(utils.SessionHelper.getCurrentUser(session)?.command?.id)}">${utils.SessionHelper.getCurrentUser(session)?.command.name}</a>
					</div>
				</div>
          	#{/if}
 			<div class="share">
				<div class="ttl-block">
 					<h3>&{'page.profile.tell_friends'}</h3>
 				</div>
 				<div class="share-cont">
 					<p>&{'page.profile.tell_friends.description'}</p>
                     <a href="" class="twitter" onclick="window.open('https://twitter.com/share?text=&{'models.group.social.title', utils.URLUtils.getApplicationName(request.getBase())}&url=${request.getBase()}/register', 'facebook', 'width=626, height=436');">&{'page.profile.tell_friends_tw'}</a>
                     <a href="" class="facebook" onclick="window.open('http://www.facebook.com/sharer.php?s=100&p[url]=${request.getBase()}/register&p[title]=&{'models.group.social.title', utils.URLUtils.getApplicationName(request.getBase())}&p[summary]=&{'models.group.social.description', utils.URLUtils.getApplicationName(request.getBase())}&p[images][0]=${request.getBase()}/public/images/boilerplate/socials-logo.jpg', 'facebook', 'width=626, height=436'); return false;">&{'page.profile.tell_friends_fb'}</a>
                     <a href="" class="vk" onclick="window.open('http://vk.com/share.php?url=${request.getBase()}/register&title=&{'models.group.social.title', utils.URLUtils.getApplicationName(request.getBase())}&description=&{'models.group.social.description', utils.URLUtils.getApplicationName(request.getBase())}&image=${request.getBase()}/public/images/boilerplate/socials-logo.jpg', 'vkontakte', 'width=626, height=436'); return false;">&{'page.profile.tell_friends_vk'}</a>
 				</div>
 			</div>
		</aside>
		<div class="inner-main" onclick="$('.event-popup').hide('slow'); $('.logged-user-menu').hide('slow');">
			#{doLayout/}
		</div>
		</div>
		</div>
		#{common.footer/}
		#{userPopup/}
</body>
</html>
