<!DOCTYPE HTML>
<html lang="${play.i18n.Lang.get()}">
<head>
	<meta charset="UTF-8">
    <meta property="og:image" content="@{'/public/images/facebook-logo.jpg'}" />
	<title>StartNewTeam</title>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/jquery.selectbox.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/stl.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/custom_stl.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/custom.css'}" />
    <link rel="stylesheet" href="@{'public/stylesheets/alertify/alertify.core.css'}" />
    <link rel="stylesheet" href="@{'public/stylesheets/alertify/alertify.snt.css'}" />
	#{if request?.path.equals('/firstTestPassed') || request?.path.startsWith('/news/') || request?.path.equals('/secondTestPassed')}
		<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/social-likes.css'}" />
	#{/if}
    <script src="@{'public/javascripts/jquery-1.6.2.min.js'}"></script>
    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script-->
    <script src="@{'/public/javascripts/jquery.cookie.min.js'}"></script>
    <script src="@{'/public/javascripts/dates.js'}"></script>
	<!--[if IE]>	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>	<![endif]-->
%{
	currentUser = utils.SessionHelper.getCurrentUser(session);
	currentValidation = play.data.validation.Validation.current();
}%

</head>
<body>
	<div class="wrapper inner-page">
		<header class="hdr-page">

			<div class="inner">
				#{lang.langSwitcher/}
                #{if !currentUser || currentUser.role == models.User.ROLE_INPERFECT_USER}
                #{common.loginForm /}
                #{/if}
                #{else}
                    <a href="/">
                        <img src="@{'public/images/boilerplate/logo-1.png'}" alt="" class="logo" />
                    </a>
                    #{common.menu.nav/}
                    #{common.workingPanel group: group, userForAprove:userForAprove/}
                #{/else}
			        </div>

		</header>
		<div class="content wrap-test clearFix">
			#{doLayout currentValidation:currentValidation/}
		</div>
	</div>
	#{common.footer/}
    #{userPopup/}

    <script src="@{'public/javascripts/jquery.selectbox.js'}"></script>
    <script src="@{'public/javascripts/jquery.add.min.js'}"></script>
    <script src="@{'/public/javascripts/handlebars.js'}"></script>
    <script src="@{'/public/javascripts/alertify.min.js'}"></script>
    <script src="@{'/public/javascripts/utils.js'}"></script>
    <script src="@{'/public/javascripts/templates.js'}"></script>
    <script src="@{'/public/javascripts/conversations.js'}"></script>

    #{if request?.path.equals('/firstTestPassed') || request?.path.startsWith('/news/') || request?.path.equals('/secondTestPassed')}
        <script src="@{'/public/javascripts/boilerplate/social-likes.js'}" charset="utf-8"></script>
    #{/if}

    <script>
        $(document).ready(function() {
            //$('input[placeholder], textarea[placeholder]').placeholder();
        #{if currentValidation?.hasError('recoverEmail')}
            $('#enterForm').hide();
            $('#recoverEmailForm').show();
            $('#overlay').show();
            $('#popup-enter').show();
        #{/if}
        #{if currentValidation?.hasError('loginEmail') || currentValidation?.hasError('loginPassword') || currentValidation?.hasError('emailPassword') || currentValidation?.hasError(utils.ApplicationConstants.VALIDATION_LOGIN_CONTROLLER_APPROVE_REGISTRATION)}
            $('#overlay').show();
            $('#popup-enter').show();
        #{/if}

            $('#password').keypress(function (e) {
                if (e.which == 13) {
                    $('#loginForm').submit();
                    return false;
                }
            });
        });
    </script>
    #{scripts.reformal/}
</body>
</html>