#{extends 'main.html' /}
%{
	boolean groupAdmin = utils.SessionHelper.getCurrentUser(session).role == models.User.ROLE_GROUP_ADMIN;
	boolean groupMember = !groupAdmin && (utils.SessionHelper.getCurrentUser(session).command != null);
	boolean notInGroup = utils.SessionHelper.getCurrentUser(session).command == null;
	boolean wasInviteToGroup = utils.SessionHelper.getCurrentUser(session)?.commandToInvite != null;
%}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">User'a actions</li>
          <li #{if request.action == 'UserController.changePassword'}class="active"#{/if}><a href="@{UserController.changePassword()}">Изменить пароль</a></li>
          <li #{if request.action == 'UserController.peopleSearch'}class="active"#{/if}><a href="@{UserController.peopleSearch()}">Поиск друга</a></li>
          <li #{if request.action == 'UserController.memberSearch'}class="active"#{/if}><a href="@{UserController.memberSearch()}">Поиск участника</a></li>
          <li #{if request.action == 'UserController.groupSearch'}class="active"#{/if}><a href="@{UserController.groupSearch()}">Поиск группы</a></li>
          #{if groupAdmin}
          	<div title="Вы должны сначала передать права администратора участнику группы, прежде чем выйти и создать новую группу">Создать группу</div>
          #{/if}
          #{if groupMember}
          	<li #{if request.action == 'GroupController.createGroup'}class="active"#{/if}><a href="@{GroupController.createGroup()}" onclick="return confirm('Вы уверены, что хотите выйти из своей группы и создать в новую?')">Создать группу</a></li>
          #{/if}
          #{if notInGroup && !wasInviteToGroup}
          	<li #{if request.action == 'GroupController.createGroup'}class="active"#{/if}><a href="@{GroupController.createGroup()}">Создать группу</a></li>
          #{/if}
          #{if notInGroup && wasInviteToGroup}
          	<li #{if request.action == 'GroupController.createGroup'}class="active"#{/if}><a href="@{GroupController.createGroup()}" onclick="return confirm('Вы уверены, что хотите отменить заявку на вступление в группу и создать новую?')">Создать группу</a></li>
          #{/if}
          #{if groupMember || groupAdmin}
          <li #{if request.action == 'GroupController.index()'}class="active"#{/if}><a href="@{GroupController.index(utils.SessionHelper.getCurrentUser(session)?.command?.id)}">Моя группа</a></li>
          #{/if}
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
    	<div class="hero-unit">
	    	#{doLayout /} 
        </div>
    </div><!--/span-->
  </div><!--/row-->
</div>
