<!DOCTYPE HTML>
<html lang="${play.i18n.Lang.get()}">
<head>
	<meta charset="UTF-8">
	<title>#{get 'title'}#{/}</title>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/stl.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/content.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/custom.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/search.css'}" />
	<link rel="stylesheet" href="@{'public/stylesheets/boilerplate/jquery.selectbox.css'}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body>
	<div class="wrapper inner-page">
		<header class="hdr-page">
			<div class="inner">
				#{lang.langSwitcher/}
				<a href="/">
					<img src="@{'public/images/boilerplate/logo-1.png'}" alt="" class="logo" />
				</a>
				#{common.menu.nav/}
                #{common.workingPanel group: group, userForAprove:userForAprove/}
			</div>
		</header>
		<div class="content wrap-inner clearFix">
			#{doLayout/}	
		</div>
	</div>
	#{common.footer/}
	#{userPopup/}

    <!--[if IE]>	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>	<![endif]-->
    <script src="@{'/public/javascripts/jquery.add.min.js'}" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.selectbox.js'}" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.ocupload-1.1.2.js'}" charset="utf-8"></script>
    <script src="@{'/public/javascripts/json2.js'}" charset="utf-8"></script>
    <script src="@{'/public/javascripts/search.js'}" charset="utf-8"></script>
    <script src="@{'/public/javascripts/handlebars.js'}"></script>
    <script src="@{'/public/javascripts/conversations.js'}"></script>

    <script>
        $(document).ready(function() {
            /*placeholder*/
            $('input[placeholder], textarea[placeholder]').placeholder();
        });
    </script>
</body>
</html>
