	#{list _crowdMessages, as:'msg'}
		<form action="/crowdcontroller/${_editAction}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
            #{authenticityToken /}
			<input name="msg.id" value="${msg.id}" type="hidden">
			<li>
				#{avatar.avatar user:msg.from, cssClass:'group-theme-dialog-pic', maleImg:'avam.png', femaleImg:'avaf.png', avatarSize:55 /}
				<div class="group-theme-dialog-name">
                    <span class="user-online"><span class="st-${msg.from?.onlineStatus}"></span></span>
                    <a href="@{UserController.index(msg.from?.id)}">${msg.from.name + " " + msg.from.lastName}</a> ${utils.DateUtils.getFormatedStringDate(msg.createDate, true)}
					#{if (_user.id == msg.from.id) || (_isAdmin)}
						<span class="theme-edit" onclick="editEnabled(this);"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}"  alt="" onclick="editEnabled(this);">&{'page.team.discuss.edit_msg'}</span></span>
						<a href="/crowdcontroller/${_removeAction}?msgId=${msg.id}"><span class="theme-delete"><i></i><span><img src="@{'public/images/boilerplate/tooltip-arrow.png'}" alt="">&{'page.team.discuss.del_msg'}</span></span></a>
					#{/if}
				</div>
				<pre class="msgRead">${msg.text}</pre>

				<div style="display: none" class="msg">
					<div class="group-theme-dialog-form">
						<textarea name="msg.text" style="height: 20px" class="writeComment" onBlur="setTimeout('writeEnabled(false)', 100);">${msg.text} </textarea>
						<button type="submit" class="group-theme-btn">&{'page.team.discuss.save'}</button>
						<button type="button" onclick="editDisabled(this);" class="group-theme-btn">&{'page.team.discuss.cancel'}</button>
					</div>
				</div>

			</li>
		</form>
	#{/list}